<?php
$CONFIG = array (
  'datadirectory' => '/data',
  'trusted_domains' => array('{{ app_nextcloud__trusted_domains | join('\', \'') }}'),
  'overwrite.cli.url' => '{{ app_nextcloud__cli_url }}',
  'dbtype' => '{{ app_nextcloud__db_type }}',
{% if app_nextcloud__db_type == 'mysql' %}
  'dbname' => '{{ app_nextcloud__db }}',
  'dbhost' => '{{ app_nextcloud__db_host }}',
  'dbport' => '{{ app_nextcloud__db_port }}',
  'dbuser' => '{{ app_nextcloud__db_user }}',
  'dbpassword' => '{{ app_nextcloud__db_pass }}',
  'dbtableprefix' => '{{ app_nextcloud__db_tableprefix }}',
  'mysql.utf8mb4' => {{ app_nextcloud__db_mysql_utf8mb4 | ternary('true', 'false') }},
{% endif  %}
{#  'ldapProviderFactory' => 'OCA\\User_LDAP\\LDAPProviderFactory',#}
  'mail_from_address' => '{{ app_nextcloud__mail_from_address }}',
  'mail_smtpmode' => '{{ app_nextcloud__mail_smtpmode }}',
  'mail_sendmailmode' => '{{ app_nextcloud__mail_sendmailmode }}',
  'mail_domain' => '{{ app_nextcloud__mail_domain }}',
{% if app_nextcloud__mail_sendmailmode == 'smtp' %}
  'mail_smtphost' => '{{ app_nextcloud__mail_smtphost }}',
  'mail_smtpport' => '{{ app_nextcloud__mail_smtpport }}',
  'mail_smtpsecure' => '{{ app_nextcloud__mail_smtpsecure }}',
{% endif  %}
{% if app_nextcloud__memcache_local %}
  'memcache.local' => '\\OC\\Memcache\\APCu',
{% endif  %}
{% if app_nextcloud__memcache_redis %}
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
    'host' => '{{ app_nextcloud__memcache_redis_host }}',
    'port' => {{ app_nextcloud__memcache_redis_port }},
  ),
{% endif %}
{% if app_nextcloud__default_phone_region | length > 0 %}
  'default_phone_region' => '{{ app_nextcloud__default_phone_region }}',
{% endif %}
{% if app_nextcloud__lost_password_link %}
  'lost_password_link' => '{{ app_nextcloud__lost_password_link }}',
{% endif %}
{#  'app_install_overwrite' =>#}
{#  array (#}
{#    0 => 'apporder',#}
{#  ),#}
);
