#
# {{ ansible_managed }}
#

http_address="{{ security_oauth2_proxy__http_address }}:{{ security_oauth2_proxy__http_port }}"
cookie_secret="{{ security_oauth2_proxy__cookie_secret }}"
email_domains="{{ security_oauth2_proxy__email_domains }}"
cookie_secure="{{ security_oauth2_proxy__cookie_secure | ternary('true', 'false') }}"
upstreams=["{{ security_oauth2_proxy__upstreams | join('\", \"') }}"]
cookie_domains=["{{ security_oauth2_proxy__cookie_domains | join('\", \"') }}"]
whitelist_domains=["{{ security_oauth2_proxy__whitelist_domains | join('\", \"') }}"]

client_secret="{{ security_oauth2_proxy__client_secret }}"
client_id="{{ security_oauth2_proxy__client_id }}"
redirect_url="{{ security_oauth2_proxy__redirect_url }}"
oidc_issuer_url="{{ security_oauth2_proxy__oidc_issuer_url }}"
provider="{{ security_oauth2_proxy__provider }}"
{% if security_oauth2_proxy__skip_provider_button %}
skip_provider_button="{{ security_oauth2_proxy__skip_provider_button | ternary('true', 'false') }}"
{% else %}
provider_display_name="{{ security_oauth2_proxy__provider_display_name }}"
{% endif %}
code_challenge_method="{{ security_oauth2_proxy__code_challenge_method }}"
scope="{{ security_oauth2_proxy__scope | join(' ') }}"

set_xauthrequest="{{ security_oauth2_proxy__set_xauthrequest | ternary('true', 'false') }}"
set_authorization_header="{{ security_oauth2_proxy__set_authorization_header | ternary('true', 'false') }}"
pass_access_token="{{ security_oauth2_proxy__pass_access_token | ternary('true', 'false') }}"
pass_authorization_header="{{ security_oauth2_proxy__pass_authorization_header | ternary('true', 'false') }}"
pass_user_headers="{{ security_oauth2_proxy__pass_user_headers | ternary('true', 'false') }}"

reverse_proxy="{{ security_oauth2_proxy__reverse_proxy | ternary('true', 'false') }}"
cookie_path="{{ security_oauth2_proxy__cookie_path }}"
cookie_name="{{ security_oauth2_proxy__cookie_name }}"
cookie_httponly="{{ security_oauth2_proxy__cookie_httponly | ternary('true', 'false') }}"
cookie_samesite="{{ security_oauth2_proxy__cookie_samesite }}"
