#
# {{ ansible_managed }}
#

version: '3.8'
services:
  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: '{{ gitlab_hostname }}'
    environment:
{% if gitlab__timezone | length > 0 %}
      TZ: "{{ gitlab__timezone }}"
{% endif %}
      GITLAB_OMNIBUS_CONFIG: |
        external_url '{{ gitlab__external_url }}'
    ports:
      - '{{ gitlab__listen_address }}:80:80'
      - '{{ gitlab__listen_address }}:443:443'
      - '{{ gitlab__listen_address }}:22:22'
{% if gitlab__extra_hosts | length > 0 %}
    extra_hosts:
{% for host in gitlab__extra_hosts %}
      - "{{ host.hostname }}:{{ host.address }}"
{% endfor %}
{% endif %}
    volumes:
      - '{{ gitlab__config }}:/etc/gitlab'
      - '{{ gitlab__logs }}:/var/log/gitlab'
      - '{{ gitlab__data }}:/var/opt/gitlab'
      - '/etc/pki:/etc/pki:ro'
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
    network_mode: bridge
    shm_size: '256m'

networks:
  bridge:
    name: bridge
    external: true
