###
### {{ ansible_managed }}
###

daily_backup_mongodb_enable="YES"
daily_backup_mongodb_compress="{{ backup_mongodb__compress | ternary('YES','NO') }}"
daily_backup_mongodb_backup_dir="{{ backup_mongodb__backup_dir }}"
daily_backup_mongodb_user="{{ backup_mongodb__user }}"
daily_backup_mongodb_password="{{ backup_mongodb__password }}"
daily_backup_mongodb_authentication_database="{{ backup_mongodb__authentication_database }}"
daily_backup_mongodb_ignore_databases="{{ backup_mongodb__ignore_databases | join(' ') }}"
daily_backup_mongodb_dump_options="{{ backup_mongodb__dump_options }}"
daily_backup_mongodb_keep_days="-{{ backup_mongodb__keep_days }}days"
{% if backup_mongodb__container | length > 0 %}
daily_backup_mongodb_container="{{ backup_mongodb__container }}"
{% endif %}
{% if backup_mongodb__container_name | length > 0 %}
daily_backup_mongodb_container_name="{{ backup_mongodb__container_name }}"
{% endif %}
