###
### {{ ansible_managed }}
###

{{ nextcloud__log_file }} {{ nextcloud__log_path }}/cron.log {{ nextcloud__log_path }}/cleanup.log {
    daily
    rotate 28
    compress
    delaycompress
    missingok
    notifempty
}
