/**
 * {{ ansible_managed }}
 */

/**
 * The API listener is used for distributed monitoring setups.
 */
object ApiListener "api" {

  accept_config = {{ icinga__role_agent | lower }}
  accept_commands = {{ icinga__role_agent | lower }}
  bind_host = "{{ icinga__api_bind_host }}"
  bind_port = {{ icinga__api_bind_port }}

}
