/**
 * {{ ansible_managed }}
 */

/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga__mysql_user }}",
  password = "{{ icinga__mysql_password }}",
  host = "{{ icinga__mysql_host }}",
  database = "{{ icinga__mysql_database }}"
}
