
{% macro service(config) %}
service config.name {
}
{%- endmacro %}


{% macro listener(config) %}
config.type config.name {
{%   for key, value in config %}
{%     if not key == 'name' and not key == 'type' %}
  {{ key }} = {{ value }}
{%     endif %}
{%   endfor %}
}
{%- endmacro %}
