{
  "DEFAULT_INFLUX_SERVER": "{{ database_influxdb_explorer__default_server }}",
  "DEFAULT_INFLUX_DATABASE": "{{ database_influxdb_explorer__default_database }}",
  "DEFAULT_API_TOKEN": "{{ database_influxdb_explorer__default_token }}",
  "DEFAULT_SERVER_NAME": "{{ database_influxdb_explorer__default_name }}"
}
