<?php
###
### {{ ansible_managed }}
###

$CONFIG = array (
  'instanceid' => '{{ nextcloud__instanceid }}',
  'passwordsalt' => '{{ nextcloud__passwordsalt }}',
  'secret' => '{{ nextcloud__secret }}',
  'trusted_domains' => array (
    '{{ nextcloud__trusted_domains | join("',\n'") }}'
  ),
  'overwrite.cli.url' => '{{ nextcloud_overwrite_cli_url }}',
  'datadirectory' => '{{ nextcloud__data_path }}',
  'dbtype' => '{{ nextcloud__dbtype }}',
  'dbname' => '{{ nextcloud__dbname }}',
  'dbhost' => '{{ nextcloud__dbhost }}',
  'dbport' => '{{ nextcloud__dbport }}',
  'dbtableprefix' => '{{ nextcloud__dbtableprefix }}',
  'dbuser' => '{{ nextcloud__dbuser }}',
  'dbpassword' => '{{ nextcloud__dbpassword }}',
  'installed' => true,
  'maintenance' => false,
  'versions_retention_obligation' => '{{ nextcloud__versions_retention_obligation | ternary('enable', 'disable') }}',
  'memcache.local' => '{{ nextcloud__memcache_local }}',
  'memcache.distributed' => '{{ nextcloud__memcache_distributed }}',
  'memcache.locking' => '{{ nextcloud__memcache_locking }}',
{% if nextcloud__redis | length > 0 %}
  'redis' => array (
{{ "    'host' => '" + nextcloud__redis.host + "'," if nextcloud__redis.host is defined }}
{{ "    'port' => " + nextcloud__redis.port | string + "," if nextcloud__redis.port is defined }}
  ),
{% endif %}
  'loglevel' => {{ nextcloud__loglevel }},
  'updater.secret' => '{{ nextcloud__updater_secret }}',
{{ "  'default_phone_region' => '" + nextcloud__default_phone_region + "'," if nextcloud__default_phone_region | length > 0 }}
);
