###
### {{ ansible_managed }}
###

#  Default rules for rsyslog.
#
#			For more information see rsyslog.conf(5) and /etc/rsyslog.conf

{% for rule in bootstrap__rsyslog_rules %}
{{ '\n# ' + rule.comment + '\n' if rule.comment is defined -}}
{{ rule.facilities | join(';') }}{{ '\t\t\t' }}{{ '-' if rule.nosync is defined and rule.nosync }}{{ rule.target }}
{% endfor %}
