###
### {{ ansible_managed }}
###

LocalSocket {{ mail_clamav__clamd_local_socket }}
FixStaleSocket {{ mail_clamav__clamd_fix_stale_socket | ternary('true', 'false') }}
LocalSocketGroup {{ mail_clamav__clamd_local_socket_group }}
LocalSocketMode {{ mail_clamav__clamd_local_socket_mode }}
User {{ mail_clamav__clamd_user }}
ScanMail {{ mail_clamav__clamd_scan_mail | ternary('true', 'false') }}
ScanArchive {{ mail_clamav__clamd_scan_archive | ternary('true', 'false') }}
ArchiveBlockEncrypted {{ mail_clamav__clamd_archive_block_encrypted | ternary('true', 'false') }}
MaxDirectoryRecursion {{ mail_clamav__clamd_max_directory_recursion }}
FollowDirectorySymlinks {{ mail_clamav__clamd_follow_directory_symlinks | ternary('true', 'false') }}
FollowFileSymlinks {{ mail_clamav__clamd_follow_file_symlinks | ternary('true', 'false') }}
ReadTimeout {{ mail_clamav__clamd_read_timeout }}
MaxThreads {{ mail_clamav__clamd_max_threads }}
MaxConnectionQueueLength {{ mail_clamav__clamd_max_connection_queue_length }}
LogSyslog {{ mail_clamav__clamd_log_syslog | ternary('true', 'false') }}
LogRotate {{ mail_clamav__clamd_log_rotate | ternary('true', 'false') }}
LogFacility {{ mail_clamav__clamd_log_facility }}
LogClean {{ mail_clamav__clamd_log_clean | ternary('true', 'false') }}
LogVerbose {{ mail_clamav__clamd_log_verbose | ternary('true', 'false') }}
PreludeEnable {{ mail_clamav__clamd_prelude_enable | ternary('yes', 'no')}}
PreludeAnalyzerName {{ mail_clamav__clamd_prelude_analyzer_name }}
DatabaseDirectory {{ mail_clamav__clamd_database_directory }}
OfficialDatabaseOnly {{ mail_clamav__clamd_official_database_only | ternary('true', 'false') }}
SelfCheck {{ mail_clamav__clamd_self_check }}
Foreground {{ mail_clamav__clamd_foreground | ternary('true', 'false') }}
Debug {{ mail_clamav__clamd_debug | ternary('true', 'false') }}
ScanPE {{ mail_clamav__clamd_scan_pe | ternary('true', 'false') }}
MaxEmbeddedPE {{ mail_clamav__clamd_max_embedded_pe }}
ScanOLE2 {{ mail_clamav__clamd_scan_ole2 | ternary('true', 'false') }}
ScanPDF {{ mail_clamav__clamd_scan_pdf | ternary('true', 'false') }}
ScanHTML {{ mail_clamav__clamd_scan_html | ternary('true', 'false') }}
MaxHTMLNormalize {{ mail_clamav__clamd_max_html_normalize }}
MaxHTMLNoTags {{ mail_clamav__clamd_max_html_no_tags }}
MaxScriptNormalize {{ mail_clamav__clamd_max_script_normalize }}
MaxZipTypeRcg {{ mail_clamav__clamd_max_zip_type_rcg }}
ScanSWF {{ mail_clamav__clamd_scan_swf | ternary('true', 'false') }}
ExitOnOOM {{ mail_clamav__clamd_exit_on_oom | ternary('true', 'false') }}
LeaveTemporaryFiles {{ mail_clamav__clamd_leave_temporary_files | ternary('true', 'false') }}
AlgorithmicDetection {{ mail_clamav__clamd_algorithmic_detection | ternary('true', 'false') }}
ScanELF {{ mail_clamav__clamd_scan_elf | ternary('true', 'false') }}
IdleTimeout {{ mail_clamav__clamd_idle_timeout }}
CrossFilesystems {{ mail_clamav__clamd_cross_filesystems | ternary('true', 'false') }}
PhishingSignatures {{ mail_clamav__clamd_phishing_signatures | ternary('true', 'false') }}
PhishingScanURLs {{ mail_clamav__clamd_phishing_scan_urls | ternary('true', 'false') }}
PhishingAlwaysBlockSSLMismatch {{ mail_clamav__clamd_phishing_always_block_ssl_mismatch | ternary('true', 'false') }}
PhishingAlwaysBlockCloak {{ mail_clamav__clamd_phishing_always_block_cloak | ternary('true', 'false') }}
PartitionIntersection {{ mail_clamav__clamd_partition_intersection | ternary('true', 'false') }}
DetectPUA {{ mail_clamav__clamd_detect_pua | ternary('true', 'false') }}
ScanPartialMessages {{ mail_clamav__clamd_scan_partial_messages | ternary('true', 'false') }}
HeuristicScanPrecedence {{ mail_clamav__clamd_heuristic_scan_precedence | ternary('true', 'false') }}
StructuredDataDetection {{ mail_clamav__clamd_structured_data_detection | ternary('true', 'false') }}
CommandReadTimeout {{ mail_clamav__clamd_command_read_timeout }}
SendBufTimeout {{ mail_clamav__clamd_send_buf_timeout }}
MaxQueue {{ mail_clamav__clamd_max_queue }}
ExtendedDetectionInfo {{ mail_clamav__clamd_extended_detection_info | ternary('true', 'false') }}
OLE2BlockMacros {{ mail_clamav__clamd_ole2_block_macros | ternary('true', 'false') }}
AllowAllMatchScan {{ mail_clamav__clamd_allow_all_match_scan | ternary('true', 'false') }}
ForceToDisk {{ mail_clamav__clamd_force_to_disk | ternary('true', 'false') }}
DisableCertCheck {{ mail_clamav__clamd_disable_cert_check | ternary('true', 'false') }}
DisableCache {{ mail_clamav__clamd_disable_cache | ternary('true', 'false') }}
MaxScanTime {{ mail_clamav__clamd_max_scan_time }}
MaxScanSize {{ mail_clamav__clamd_max_scan_size }}
MaxFileSize {{ mail_clamav__clamd_max_file_size }}
MaxRecursion {{ mail_clamav__clamd_max_recursion }}
MaxFiles {{ mail_clamav__clamd_max_files }}
MaxPartitions {{ mail_clamav__clamd_max_partitions }}
MaxIconsPE {{ mail_clamav__clamd_max_icons_pe }}
PCREMatchLimit {{ mail_clamav__clamd_pcre_match_limit }}
PCRERecMatchLimit {{ mail_clamav__clamd_pcre_rec_match_limit }}
PCREMaxFileSize {{ mail_clamav__clamd_pcre_max_file_size }}
ScanXMLDOCS {{ mail_clamav__clamd_scan_xmldocs | ternary('true', 'false') }}
ScanHWP3 {{ mail_clamav__clamd_scan_hwp3 | ternary('true', 'false') }}
MaxRecHWP3 {{ mail_clamav__clamd_max_rec_hwp3 }}
StreamMaxLength {{ mail_clamav__clamd_stream_max_length }}
LogFile {{ mail_clamav__clamd_log_file }}
LogTime {{ mail_clamav__clamd_log_time | ternary('true', 'false') }}
LogFileUnlock {{ mail_clamav__clamd_log_file_unlock | ternary('true', 'false') }}
LogFileMaxSize {{ mail_clamav__clamd_log_file_max_size }}
Bytecode {{ mail_clamav__clamd_bytecode | ternary('true', 'false') }}
BytecodeSecurity {{ mail_clamav__clamd_bytecode_security }}
BytecodeTimeout {{ mail_clamav__clamd_bytecode_timeout }}
OnAccessMaxFileSize {{ mail_clamav__clamd_on_access_max_file_size }}
