###
### {{ ansible_managed }}
###

DatabaseOwner {{ mail_clamav__freshclam_database_owner }}
UpdateLogFile {{ mail_clamav__freshclam_update_log_file }}
LogVerbose {{ mail_clamav__freshclam_log_verbose | ternary('true', 'false') }}
LogSyslog {{ mail_clamav__freshclam_log_syslog | ternary('true', 'false') }}
LogFacility {{ mail_clamav__freshclam_log_facility }}
LogFileMaxSize {{ mail_clamav__freshclam_log_file_max_size }}
LogRotate {{ mail_clamav__freshclam_log_rotate | ternary('true', 'false') }}
LogTime {{ mail_clamav__freshclam_log_time | ternary('true', 'false') }}
Foreground {{ mail_clamav__freshclam_foreground | ternary('true', 'false') }}
Debug {{ mail_clamav__freshclam_debug | ternary('true', 'false') }}
MaxAttempts {{ mail_clamav__freshclam_max_attempts }}
DatabaseDirectory {{ mail_clamav__freshclam_database_directory }}
DNSDatabaseInfo {{ mail_clamav__freshclam_dns_database_info }}
ConnectTimeout {{ mail_clamav__freshclam_connect_timeout }}
ReceiveTimeout {{ mail_clamav__freshclam_receive_timeout }}
TestDatabases {{ mail_clamav__freshclam_test_databases | ternary('yes', 'no') }}
ScriptedUpdates {{ mail_clamav__freshclam_scripted_updates | ternary('yes', 'no') }}
CompressLocalDatabase {{ mail_clamav__freshclam_compress_local_database | ternary('yes', 'no') }}
SafeBrowsing {{ mail_clamav__freshclam_safe_browsing | ternary('true', 'false') }}
Bytecode {{ mail_clamav__freshclam_bytecode | ternary('true', 'false') }}
NotifyClamd {{ mail_clamav__freshclam_notify_clamd }}
Checks {{ mail_clamav__freshclam_checks }}
{% for database_mirror in  mail_clamav__freshclam_database_mirror %}
DatabaseMirror {{ database_mirror }}
{% endfor %}
