# -*- coding: utf-8 -*-
# (c) 2014-2022 The mqttwarn developers
#
# {{ ansible_managed }}
#

; ------------------------------------------
;             Base configuration
; ------------------------------------------

[defaults]

; ----
; MQTT
; ----

hostname     = '{{ monitoring_mqttwarn__mqtt_hostname }}'
port         = {{ monitoring_mqttwarn__mqtt_port }}
username     = {{ "'" + monitoring_mqttwarn__mqtt_username + "'" if monitoring_mqttwarn__mqtt_username is defined else 'None' }}
password     = {{ "'" + monitoring_mqttwarn__mqtt_password + "'" if monitoring_mqttwarn__mqtt_password is defined else 'None' }}
clientid     = '{{ monitoring_mqttwarn__mqtt_clientid }}'
lwt          = '{{ monitoring_mqttwarn__mqtt_lwt }}'
lwt_alive    = '{{ monitoring_mqttwarn__mqtt_lwt_alive }}'
lwt_dead     = '{{ monitoring_mqttwarn__mqtt_lwt_dead }}'
skipretained = {{ monitoring_mqttwarn__mqtt_skipretained | ternary('True', 'False') }}
cleansession = {{ monitoring_mqttwarn__mqtt_cleansession | ternary('True', 'False') }}
protocol     = {{ monitoring_mqttwarn__mqtt_protocol }}

{% if monitoring_mqttwarn__mqtt_tls %}
tls = True
tls_version  = '{{ monitoring_mqttwarn__mqtt_tls_version }}'
tls_insecure = {{ monitoring_mqttwarn__mqtt_tls_insecure | ternary('True', 'False') }}
{{ "ca_certs     = '" + monitoring_mqttwarn__mqtt_tls_ca_certs + "'" if monitoring_mqttwarn__mqtt_tls_ca_certs | length > 0 }}
{{ "certfile     = '" + monitoring_mqttwarn__mqtt_tls_certfile + "'" if monitoring_mqttwarn__mqtt_tls_certfile | length > 0 }}
{{ "keyfile      = '" + monitoring_mqttwarn__mqtt_tls_keyfile + "'" if monitoring_mqttwarn__mqtt_tls_keyfile | length > 0 }}

{% endif %}
; -------
; Logging
; -------

logfile   = '{{ monitoring_mqttwarn__logfile }}'

; one of: CRITICAL, DEBUG, ERROR, INFO, WARN
loglevel  = {{ monitoring_mqttwarn__loglevel }}

; optionally set the log level for filtered messages, defaults to INFO
filteredmessagesloglevel = {{ monitoring_mqttwarn__filteredmessagesloglevel }}

logformat = '{{ monitoring_mqttwarn__logformat }}'

; --------
; Services
; --------

; path to file containing self-defined functions like `format` or `alldata`
{{ '; ' if monitoring_mqttwarn__functions | length == 0 }}functions = '{{ monitoring_mqttwarn__functions | join("', '") }}'

; name the service providers you will be using.
launch    = {{ monitoring_mqttwarn__launch | join(', ') }}

; Publish mqttwarn status information (retained)
status_publish = {{ monitoring_mqttwarn__status_publish | ternary('True', 'False') }}
status_topic = {{ monitoring_mqttwarn__status_topic }}

; -------
; Targets
; -------

{% for config in monitoring_mqttwarn__config %}
[config:{{ config.name }}]
{{ "host = '" + config.host + "'" if 'host' in config }}
{{ 'port = ' + config.port | string if 'port' in config }}
{{ "username = '" + config.username + "'" if 'username' in config }}
{{ "password = '" + config.password + "'" if 'password' in config }}
{{ "cacert = '" + config.cacert + "'" if 'cacert' in config }}
targets = {
{%   for target in config.targets %}
    '{{ target.name }}'  : [ '{{ target.options | join("', '") }}' ],
{%   endfor %}
  }

{% endfor %}
; special config for 'failover' events
[failover]
targets = {{ monitoring_mqttwarn__failover | join(', ') }}

; ------------------------------------------
;                  Basic
; ------------------------------------------
{% for topic in monitoring_mqttwarn__topics %}
[{{ topic.topic }}]
targets = {{ topic.targets | join(', ') }}
{{ 'priority = ' + topic.priority | string if 'priority' in topic }}
{{ 'timeout = ' + topic.timeout | string if 'timeout' in topic }}
{{ 'format = ' + topic.format | string if 'format' in topic }}
{{ 'notify_only_on_timeout = ' + topic.notify_only_on_timeout | string if 'notify_only_on_timeout' in topic }}

{% endfor %}
