#
# {{ ansible_managed }}
#

[Interface]
PrivateKey = {{ wgnet.private_key }}
Address = {{ wgnet.address }}
{{ 'ListenPort = ' + wgnet.listen_port | string if wgnet.listen_port is defined }}
{{ 'MTU = ' + wgnet.mtu | string if wgnet.mtu is defined }}
{{ 'PostUp = ' + wgnet.postup if wgnet.postup is defined }}
{{ 'PostDown = ' + wgnet.postdown if wgnet.postdown is defined }}
{% for peer in wgnet.peers %}

[Peer]
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
{{ "Endpoint = " + peer.endpoint if peer.endpoint is defined }}
{{ "PersistentKeepalive = " + peer.persistent_keepalive | string if peer.persistent_keepalive is defined }}
{% endfor %}
