###
### {{ ansible_managed }}
###

lxc.net.0.type = veth
lxc.net.0.link = lxcbr0
lxc.net.0.flags = up

lxc.apparmor.profile = {{ lxc__apparmor_profile }}
lxc.apparmor.allow_nesting = {{ lxc__apparmor_allow_nesting }}
