###
### {{ ansible_managed }}
###

{% for topic in mosquitto__acl.topic %}
{{ '# ' + topic.comment if topic.comment | length > 0 }}
topic {{ topic.access + ' ' if topic.access | length > 0 }}{{ topic.topic }}
{% endfor %}
{% for user, topics in mosquitto__acl.user.items() %}

user {{ user }}
{% for topic in topics %}
topic {{ topic.access + ' ' if topic.access | length > 0 }}{{ topic.topic }}
{% endfor %}
{% endfor %}

{% for pattern in mosquitto__acl.pattern %}
{{ '# ' + pattern.comment if pattern.comment | length > 0 }}
pattern {{ pattern.access + ' ' if pattern.access | length > 0 }}{{ pattern.topic }}
{% endfor %}
