#
# {{ ansible_managed }}
#

[Interface]
PrivateKey = {{ wgnet.private_key }}
ListenPort = {{ wgnet.listen_port }}
Address = {{ wgnet.address }}

{% for peer in wgnet.peers %}

[Peer]
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips }}
{{ "Endpoint = " + peer.endpoint if peer.endpoint is defined }}
{{ "PersistentKeepalive = " + peer.persistent_keepalive | string() if peer.persistent_keepalive is defined }}
{% endfor %}
