/*
 *
 * {{ ansible_managed }}
 *
 */

const PluginDir = "/usr/lib/nagios/plugins"

const ManubulonPluginDir = "/usr/lib/nagios/plugins"

const PluginContribDir = "{{ monitoring_icinga_agent__local_plugins_dir }}"

const NodeName = "{{ monitoring_icinga_agent__node_name }}"

const ZoneName = "{{ monitoring_icinga_agent__zone_name }}"

const TicketSalt = "{{ monitoring_icinga_agent__ticket_salt }}"

const PluginLocalDir = "{{ monitoring_icinga_agent__local_plugins_dir }}"
