/*
 *
 * {{ ansible_managed }}
 *
 */

/**
 * This file defines global constants which can be used in
 * the other configuration files.
 */

{% for constant in monitoring_icinga_agent__constants %}
const {{ constant.name }} = {{ constant.value }}

{% endfor %}
