#
# {{ ansible_managed }}
#

[Service]
ExecStartPre=cp {{ monitoring_icinga_agent__cert_source_dir }}/{{ monitoring_icinga_agent__node_name }}/fullchain.pem {{ monitoring_icinga_agent__cert_dir }}/ca.crt
ExecStartPre=cp {{ monitoring_icinga_agent__cert_source_dir }}/{{ monitoring_icinga_agent__node_name }}/cert.pem {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.crt
ExecStartPre=cp {{ monitoring_icinga_agent__cert_source_dir }}/{{ monitoring_icinga_agent__node_name }}/privkey.pem {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key
ExecStartPre=chown nagios:nagios {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.crt  {{ monitoring_icinga_agent__cert_dir }}/ca.crt
ExecStartPre=chmod 400 {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key
