#
# {{ ansible_managed }}
#

[Service]
ExecStartPre=cp -uL {{ monitoring_icinga_agent__cert_source_ca_file }} {{ monitoring_icinga_agent__cert_dir }}/ca.crt
ExecStartPre=cp -uL {{ monitoring_icinga_agent__cert_source_cert_file }} {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.crt
ExecStartPre=cp -uL {{ monitoring_icinga_agent__cert_source_key_file }} {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key
ExecStartPre=chown nagios:nagios {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.crt  {{ monitoring_icinga_agent__cert_dir }}/ca.crt
ExecStartPre=chmod 400 {{ monitoring_icinga_agent__cert_dir }}/{{ monitoring_icinga_agent__node_name }}.key
