/*
 *
 * {{ ansible_managed }}
 *
 */

object Endpoint "{{ monitoring_icinga_agent__parent_name }}" {
#  host = "{{ monitoring_icinga_agent__parent_name }}"
#  port = {{ monitoring_icinga_agent__parent_port }}
}

object Zone "{{ monitoring_icinga_agent__zone_name }}" {
  endpoints = [ "{{ monitoring_icinga_agent__parent_name }}" ]
}

object Endpoint "{{ monitoring_icinga_agent__node_name }}" {
}

object Zone "{{ monitoring_icinga_agent__node_name }}" {
  endpoints = [ "{{ monitoring_icinga_agent__node_name }}" ]
  parent = "{{ monitoring_icinga_agent__zone_name }}"
}

object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}
