/*
 *
 * {{ ansible_managed }}
 *
 */

{% for endpoint in monitoring_icinga_agent__endpoints %}
object Endpoint {{ endpoint.name }} {
  host = {{ endpoint.host }}
{% if endpoint.log_duration is defined %}
  log_duration = {{ endpoint.log_duration }}
{%  endif %}
}

{% endfor %}
{% for zone in monitoring_icinga_agent__zones %}
object Zone {{ zone.name }} {
{% if zone.endpoints | default([]) | length > 0 %}
  endpoints = [ {{ zone.endpoints | join(', ') }} ]
{%  endif %}
{% if zone.global is defined %}
  global = {{ zone.global | ternary('true', 'false') }}
{%  endif %}
{% if zone.parent is defined %}
  parent = {{ zone.parent }}
{%  endif %}
}

{% endfor %}
