###
### {{ ansible_managed }}
###

{% for name, location in webserver_nginx__locations.items() %}
location {{ location.match }} {{ location.target }} {
{%   for key, value in location.options.items() %}
  {{ key }} {{ value }};
{%   endfor %}
}

{% endfor %}
