###
### {{ ansible_managed }}
###

client_max_body_size 50M;

location ~ ^/(index|load|api|thumb|opensearch_desc|rest|img_auth)\.php$ {
    include fastcgi.conf;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_pass php-handler;
}

location /images {
    deny all;
}

location /images/deleted {
    deny all;
}

location ~ ^/resources/(assets|lib|src) {
    try_files $uri 404;
    add_header Cache-Control "public";
    expires 7d;
}

location ~ ^/(skins|extensions)/.+\.(css|js|gif|jpg|jpeg|png|svg|wasm|ttf|woff|woff2) {
    try_files $uri 404;
    add_header Cache-Control "public";
    expires 7d;
}

location /favicon.ico {
    alias /images/6/64/Favicon.ico;
    add_header Cache-Control "public";
    expires 7d;
}

location ~ ^/(COPYING|CREDITS)$ {
    default_type text/plain;
}

location /mw-config/ {
    location ~ \.php$ {
        include fastcgi.conf;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass php-handler;
    }
}

location /rest.php/ {
    try_files $uri $uri/ /rest.php?$query_string;
}

location /img_auth.php/ {
    try_files $uri $uri/ /img_auth.php?$query_string;
}

location /wiki/ {
    rewrite ^/wiki/(?<pagename>.*)$ /index.php;
}

location /robots.txt {
}

location = / {
    return 301 /wiki/Main_Page;
}

location / {
    return 404;
}
