###
### {{ ansible_managed }}
###

# Define default SSL configuration options

ssl_session_cache {{ webserver_nginx__ssl_session_cache }};
ssl_session_timeout {{ webserver_nginx__ssl_session_timeout }};
ssl_session_tickets {{ webserver_nginx__ssl_session_tickets }};

ssl_protocols {{ webserver_nginx__ssl_protocols | join(' ') }};
ssl_prefer_server_ciphers {{ webserver_nginx__ssl_prefer_server_ciphers }};
ssl_ciphers {{ webserver_nginx__ssl_ciphers | join(':') }};
{% if webserver_nginx__ssl_dhparam | length > 0 %}
ssl_dhparam {{ webserver_nginx__ssl_dhparam }};
{% endif %}
{% if webserver_nginx__ssl_curve %}
ssl_ecdh_curve {{ webserver_nginx__ssl_curve }};
{% endif %}
