###
### {{ ansible_managed }}
###
{% macro print_option(option, param) %}
{%   if param is iterable and param is not string %}
{%     for p in param %}
    {{ option }} {{ p }}
{%     endfor %}
{%   else %}
    {{ option }} {{ param }}
{%   endif %}
{% endmacro %}

{% if item.comment is defined %}
# {{ item.comment }}
{% endif %}

{{ item.mode | default('auto') }} {{ item.interface }}
{% if item.inet is defined %}

iface {{ item.interface }} inet {{ item.inet.method }}
{%   if item.inet.method == 'static' %}
    address {{ item.inet.address }}/{{ item.inet.netmask | net_common__netmask2prefixlength }}
{%     if item.inet.metric is defined %}
    metric {{ item.inet.metric }}
{%     endif %}
{%     if item.inet.gateway is defined %}
    gateway {{ item.inet.gateway }}
{%     endif %}
{%     if item.inet.pointopoint is defined %}
    pointopoint {{ item.inet.pointopoint }}
{%     endif %}
{%     if item.inet.hwaddress is defined %}
    hwaddress {{ item.inet.hwaddress }}
{%     endif %}
{%     if item.inet.mtu is defined %}
    mtu {{ item.inet.mtu }}
{%     endif %}
{%     if item.inet.scope is defined %}
    scope {{ item.inet.scope }}
{%     endif %}
{%   elif item.inet.method == 'manual' %}
{%     if item.inet.hwaddress is defined %}
    hwaddress {{ item.inet.hwaddress }}
{%     endif %}
{%     if item.inet.mtu is defined %}
    mtu {{ item.inet.mtu }}
{%     endif %}
{%   elif item.inet.method == 'dhcp' %}
{%     if item.inet.hostname is defined %}
    hostname {{ item.inet.hostname }}
{%     endif %}
{%     if item.inet.metric is defined %}
    metric {{ item.inet.metric }}
{%     endif %}
{%     if item.inet.leasehours is defined %}
    leasehours {{ item.inet.leasehours }}
{%     endif %}
{%     if item.inet.leasetime is defined %}
    leasetime {{ item.inet.leasetime }}
{%     endif %}
{%     if item.inet.vendor is defined %}
    vendor {{ item.inet.vendor }}
{%     endif %}
{%     if item.inet.client is defined %}
    client {{ item.inet.client }}
{%     endif %}
{%     if item.inet.hwaddress is defined %}
    hwaddress {{ item.inet.hwaddress }}
{%     endif %}
{%   endif %}
{%   if item.inet.bridge_ports is defined %}
    bridge_ports {{ item.inet.bridge_ports | join(' ') }}
{%   endif %}
{%   if item.inet.bridge_ageing is defined %}
    bridge_ageing {{ item.inet.bridge_ageing }}
{%   endif %}
{%   if item.inet.bridge_bridgeprio is defined %}
    bridge_bridgeprio {{ item.inet.bridge_bridgeprio }}
{%   endif %}
{%   if item.inet.bridge_fd is defined %}
    bridge_fd {{ item.inet.bridge_fd }}
{%   endif %}
{%   if item.inet.bridge_gcint is defined %}
    bridge_gcint {{ item.inet.bridge_gcint }}
{%   endif %}
{%   if item.inet.bridge_hello is defined %}
    bridge_hello {{ item.inet.bridge_hello }}
{%   endif %}
{%   if item.inet.bridge_hw is defined %}
    bridge_hw {{ item.inet.bridge_hw }}
{%   endif %}
{%   if item.inet.bridge_maxage is defined %}
    bridge_maxage {{ item.inet.bridge_maxage }}
{%   endif %}
{%   if item.inet.bridge_maxwait is defined %}
    bridge_maxwait {{ item.inet.bridge_maxwait }}
{%   endif %}
{%   if item.inet.bridge_pathcost is defined %}
    bridge_pathcost {{ item.inet.bridge_pathcost }}
{%   endif %}
{%   if item.inet.bridge_portprio is defined %}
    bridge_portprio {{ item.inet.bridge_portprio }}
{%   endif %}
{%   if item.inet.bridge_stp is defined %}
    bridge_stp {{ item.inet.bridge_stp | ternary('on', 'off') }}
{%   endif %}
{%   if item.inet.bridge_waitport is defined %}
    bridge_waitport {{ item.inet.bridge_waitport }}
{%   endif %}
{%   if item.inet['pre-up'] is defined %}
{{ print_option('pre-up', item.inet['pre-up']) -}}
{%   endif %}
{%   if item.inet.up is defined %}
{{ print_option('up', item.inet.up) -}}
{%   endif %}
{%   if item.inet['post-up'] is defined %}
{{ print_option('post-up', item.inet['post-up']) -}}
{%   endif %}
{%   if item.inet['pre-down'] is defined %}
{{ print_option('pre-down', item.inet['pre-down']) -}}
{%   endif %}
{%   if item.inet.down is defined %}
{{ print_option('down', item.inet.down) -}}
{%   endif %}
{%   if item.inet['post-down'] is defined %}
{{ print_option('post-down', item.inet['post-down']) -}}
{%   endif %}
{% endif %}
{% if item.inet6 is defined %}

iface {{ item.interface }} inet6 {{ item.inet6.method }}
{%   if item.inet6.method == 'static' %}
    address {{ item.inet6.address }}
{%     if item.inet6.metric is defined %}
    metric {{ item.inet6.metric | int }}
{%     endif %}
{%     if item.inet6.gateway is defined %}
    gateway {{ item.inet6.gateway }}
{%     endif %}
{%     if item.inet6.media is defined %}
    media {{ item.inet6.media }}
{%     endif %}
{%     if item.inet6.hwaddress is defined %}
    hwaddress {{ item.inet6.hwaddress }}
{%     endif %}
{%     if item.inet6.mtu is defined %}
    mtu {{ item.inet6.mtu }}
{%     endif %}
{%     if item.inet6.accept_ra is defined %}
    accept_ra {{ item.inet6.accept_ra | int }}
{%     endif %}
{%     if item.inet6.autoconf is defined %}
    autoconf {{ item.inet6.autoconf | ternary(1,0) }}
{%     endif %}
{%     if item.inet6.privext is defined %}
    privext {{ item.inet6.privext | int }}
{%     endif %}
{%     if item.inet6.scope is defined %}
    scope {{ item.inet6.scope }}
{%     endif %}
{%     if item.inet6['preferred-lifetime'] is defined %}
    preferred-lifetime {{ item.inet6['preferred-lifetime'] | int }}
{%     endif %}
{%     if item.inet6['dad-attempts'] is defined %}
    dad-attempts {{ item.inet6['dad-attempts'] }}
{%     endif %}
{%     if item.inet6['dad-interval'] is defined %}
    dad-interval {{ item.inet6['dad-interval'] }}
{%     endif %}
{%   elif item.inet6.method == 'manual' %}
{%     if item.inet6.hwaddress is defined %}
    hwaddress {{ item.inet6.hwaddress }}
{%     endif %}
{%     if item.inet6.mtu is defined %}
    mtu {{ item.inet6.mtu }}
{%     endif %}
{%   elif item.inet6.method == 'dhcp' %}
{%     if item.inet6.hwaddress is defined %}
    hwaddress {{ item.inet6.hwaddress }}
{%     endif %}
{%     if item.inet6.accept_ra is defined %}
    accept_ra {{ item.inet6.accept_ra | int }}
{%     endif %}
{%     if item.inet6.autoconf is defined %}
    autoconf {{ item.inet6.autoconf | ternary(1, 0) }}
{%     endif %}
{%     if item.inet6.request_prefix is defined %}
    request_prefix {{ item.inet6.request_prefix | ternary(1, 0) }}
{%     endif %}
{%     if item.inet6['ll-attempts'] is defined %}
    ll-attempts {{ item.inet6['ll-attempts'] }}
{%     endif %}
{%     if item.inet6['ll-interval'] is defined %}
    ll-interval {{ item.inet6['ll-interval'] }}
{%     endif %}
{%   elif item.inet6.method == 'auto' %}
{%     if item.inet6.privext is defined %}
    privext {{ item.inet6.privext | int }}
{%     endif %}
{%     if item.inet6.accept_ra is defined %}
    accept_ra {{ item.inet6.accept_ra | int }}
{%     endif %}
{%     if item.inet6.dhcp is defined %}
    dhcp {{ item.inet6.dhcp | ternary(1, 0) }}
{%     endif %}
{%     if item.inet6.request_prefix is defined %}
    request_prefix {{ item.inet6.request_prefix }}
{%     endif %}
{%     if item.inet6['ll-attempts'] is defined %}
    ll-attempts {{ item.inet6['ll-attempts'] }}
{%     endif %}
{%     if item.inet6['ll-interval'] is defined %}
    ll-interval {{ item.inet6['ll-interval'] }}
{%     endif %}
{%   endif %}
{%   if item.inet6['pre-up'] is defined %}
{{ print_option('pre-up', item.inet6['pre-up']) }}
{%   endif %}
{%   if item.inet6.up is defined %}
{{ print_option('up', item.inet6.up) }}
{%   endif %}
{%   if item.inet6['post-up'] is defined %}
{{ print_option('post-up', item.inet6['post-up']) }}
{%   endif %}
{%   if item.inet6['pre-down'] is defined %}
{{ print_option('pre-down', item.inet6['pre-down']) }}
{%   endif %}
{%   if item.inet6.down is defined %}
{{ print_option('down', item.inet6.down) }}
{%   endif %}
{%   if item.inet6['post-down'] is defined %}
{{ print_option('post-down', item.inet6['post-down']) }}
{%   endif %}
{% endif %}
{% if item.can is defined %}

iface {{ item.interface }} inet static
    bitrate "{{ item.bitrate }}"
    samplepoint
    loopback (on|off)
    listenonly (on|off)
    triple (on|off)
    oneshot (on|off)
    berr (on|off)
{%   if item.can['pre-up'] is defined %}
    pre-up {{ item.can['pre-up'] }}
{%   endif %}
{%   if item.can.up is defined %}
    up {{ item.can.up }}
{%   endif %}
{%   if item.can['post-up'] is defined %}
    post-up {{ item.can['post-up'] }}
{%   endif %}
{%   if item.can['pre-down'] is defined %}
    pre-down {{ item.can['pre-down'] }}
{%   endif %}
{%   if item.can.down is defined %}
    down {{ item.can.down }}
{%   endif %}
{%   if item.can['post-down'] is defined %}
    post-down {{ item.can['post-down'] }}
{%   endif %}
{% endif %}
