###
### {{ ansible_managed }}
###

# The address to send scanned mail to. 
# This option is required unless TransparentProxy is enabled
OutAddress: {{ mail_clamsmtpd__out_address }}

# The maximum number of connection allowed at once.
# Be sure that clamd can also handle this many connections
MaxConnections: {{ mail_clamsmtpd__max_connections }}

# Amount of time (in seconds) to wait on network IO
TimeOut: {{ mail_clamsmtpd__timeout }}

# Address to listen on (defaults to all local addresses on port 10025)
Listen: {{ mail_clamsmtpd__listen }}

# The address clamd is listening on
ClamAddress: {{ mail_clamsmtpd__clam_address }}

# A header to add to all scanned email
Header: {{ mail_clamsmtpd__header }}

# Directory for temporary files
TempDirectory: {{ mail_clamsmtpd__temp_directory }}

# PidFile: location of PID file
PidFile: {{ mail_clamsmtpd__pid_file }}

# Whether or not to bounce email (default is to silently drop)
Bounce: {{ mail_clamsmtpd__bounce | ternary('on', 'off') }}

# Whether or not to keep virus files 
Quarantine: {{ mail_clamsmtpd__quarantine | ternary('on', 'off') }}

# Enable transparent proxy support 
TransparentProxy: {{ mail_clamsmtpd__transparent_proxy | ternary('on', 'off') }}

# User to run as
User: {{ mail_clamsmtpd__user }}
