#
# {{ ansible_managed }}
#
{% if systemd_override__unit | length > 0 %}

[Unit]
{%   for item in systemd_override__unit %}
{{ item.key }}={{ item.value }}
{%   endfor %}
{% endif %}
{% if systemd_override__service | length > 0 %}

[Service]
{%   for item in systemd_override__service %}
{{ item.key }}={{ item.value }}
{%   endfor %}
{% endif %}
