###
### {{ ansible_managed }}
###

# AWSTATS CONFIGURE FILE 7.3
#-----------------------------------------------------------------------------

#-----------------------------------------------------------------------------
# MAIN SETUP SECTION (Required to make AWStats work)
#-----------------------------------------------------------------------------

LogFile="{{ log.main_log_file }}"
LogType={{ log.main_log_type }}
LogFormat={{ log.main_log_format }}
LogSeparator="{{ log.main_log_separator }}"
SiteDomain={{ log.main_site_domain }}
HostAliases="{{ log.main_host_aliases | join(' ') }}"
DNSLookup={{ log.main_dns_lookup }}
DynamicDNSLookup={{ log.main_dynamic_dns_lookup }}
DirData="{{ log.main_dir_data }}"
DirCgi="{{ log.main_dir_cgi }}"
DirIcons="{{ log.main_dir_icons }}"
AllowToUpdateStatsFromBrowser={{ log.main_allow_to_update_stats_from_browser }}
AllowFullYearView={{ log.main_allow_full_year_view }}

#-----------------------------------------------------------------------------
# OPTIONAL SETUP SECTION (Not required but enhances AWStats's functionality)
#-----------------------------------------------------------------------------

EnableLockForUpdate={{ log.optional_enable_lock_for_update }}
DNSStaticCacheFile="{{ log.optional_dns_static_cache_file }}"
DNSLastUpdateCacheFile="{{ log.optional_dns_last_update_cache_file }}"
SkipDNSLookupFor="{{ log.optional_skip_dns_lookup_for | join(' ') }}"
AllowAccessFromWebToAuthenticatedUsersOnly={{ log.optional_allow_access_from_web_to_authenticated_users_only }}
AllowAccessFromWebToFollowingAuthenticatedUsers="{{ log.optional_allow_access_from_web_to_following_authenticated_users | join(' ') }}"
AllowAccessFromWebToFollowingIPAddresses="{{ log.optional_allow_access_from_web_to_following_ip_addresses | join(' ') }}"
CreateDirDataIfNotExists={{ log.optional_create_dir_data_if_not_exists }}
BuildHistoryFormat={{ log.optional_build_history_format }}
BuildReportFormat={{ log.optional_build_report_format }}
SaveDatabaseFilesWithPermissionsForEveryone={{ log.optional_save_database_files_with_permissions_for_everyone }}
PurgeLogFile={{ log.optional_purge_log_file }}
ArchiveLogRecords={{ log.optional_archive_log_records }}
KeepBackupOfHistoricFiles={{ log.optional_keep_backup_of_historic_files }}
DefaultFile="{{ log.optional_default_file | join(' ') }}"
SkipHosts="{{ log.optional_skip_hosts | join(' ') }}"
SkipUserAgents="{{ log.optional_skip_user_agents | join(' ') }}"
SkipFiles="{{ log.optional_skip_files | join(' ') }}"
SkipReferrersBlackList="{{ log.optional_skip_referrers_black_list }}"
OnlyHosts="{{ log.optional_only_hosts | join(' ') }}"
OnlyUserAgents="{{ log.optional_only_user_agents | join(' ') }}"
OnlyUsers="{{ log.optional_only_users | join(' ') }}"
OnlyFiles="{{ log.optional_only_files | join(' ') }}"
NotPageList="{{ log.optional_not_page_list | join(' ') }}"
ValidHTTPCodes="{{ log.optional_valid_http_codes | join(' ') }}"
ValidSMTPCodes="{{ log.optional_valid_smtp_codes | join(' ') }}"
TrapInfosForHTTPErrorCodes = "{{ log.optional_trap_infos_for_http_error_codes | join(' ') }}"
AuthenticatedUsersNotCaseSensitive={{ log.optional_authenticated_users_not_case_sensitive }}
URLNotCaseSensitive={{ log.optional_url_not_case_sensitive }}
URLWithAnchor={{ log.optional_url_with_anchor }}
URLQuerySeparators="{{ log.optional_url_query_separators }}"
URLWithQuery={{ log.optional_url_with_query }}
URLWithQueryWithOnlyFollowingParameters="{{ log.optional_url_with_query_with_only_following_parameters | join(' ') }}"
URLWithQueryWithoutFollowingParameters="{{ log.optional_url_with_query_without_following_parameters | join(' ') }}"
URLReferrerWithQuery={{ log.optional_url_referrer_with_query }}
WarningMessages={{ log.optional_warning_messages }}
ErrorMessages="{{ log.optional_error_messages }}"
DebugMessages={{ log.optional_debug_messages }}
NbOfLinesForCorruptedLog={{ log.optional_nb_of_lines_for_corrupted_log }}
WrapperScript="{{ log.optional_wrapper_script }}"
DecodeUA={{ log.optional_decode_ua }}
MiscTrackerUrl="{{ log.optional_misc_tracker_url }}"

#-----------------------------------------------------------------------------
# OPTIONAL ACCURACY SETUP SECTION (Not required but increase AWStats features)
#-----------------------------------------------------------------------------

LevelForBrowsersDetection={{ log.accuracy_level_for_browsers_detection }}
LevelForOSDetection={{ log.accuracy_level_for_os_detection }}
LevelForRefererAnalyze={{ log.accuracy_level_for_referer_analyze }}
LevelForRobotsDetection={{ log.accuracy_level_for_robots_detection }}
LevelForSearchEnginesDetection={{ log.accuracy_level_for_search_engines_detection }}
LevelForKeywordsDetection={{ log.accuracy_level_for_keywords_detection }}
LevelForFileTypesDetection={{ log.accuracy_level_for_file_types_detection }}
LevelForWormsDetection={{ log.accuracy_level_for_worms_detection }}

#-----------------------------------------------------------------------------
# OPTIONAL APPEARANCE SETUP SECTION (Not required but increase AWStats features)
#-----------------------------------------------------------------------------

UseFramesWhenCGI=1
DetailedReportsOnNewWindows=1
Expires=0
MaxRowsInHTMLOutput=10000
Lang="auto"
DirLang="/usr/share/awstats/lang"
ShowMenu=1
ShowSummary=UVPHB
ShowMonthStats={{ log.appearance_show_month_stats }}
ShowDaysOfMonthStats={{ log.appearance_show_days_of_month_stats }}
ShowDaysOfWeekStats={{ log.appearance_show_days_of_week_stats }}
ShowHoursStats={{ log.appearance_show_hours_stats }}
ShowDomainsStats={{ log.appearance_show_domains_stats }}
ShowHostsStats={{ log.appearance_show_hosts_stats }}
ShowAuthenticatedUsers=0
ShowRobotsStats={{ log.appearance_show_robots_stats }}
ShowWormsStats=0
ShowEMailSenders={{ log.appearance_show_email_senders }}
ShowEMailReceivers={{ log.appearance_show_email_receivers }}
ShowSessionsStats={{ log.appearance_show_sessions_stats }}
ShowPagesStats={{ log.appearance_show_pages_stats }}
ShowFileTypesStats={{ log.appearance_show_file_types_stats }}
ShowFileSizesStats=0
ShowDownloadsStats=HB
ShowOSStats={{ log.appearance_show_os_stats }}
ShowBrowsersStats={{ log.appearance_show_browsers_stats }}
ShowScreenSizeStats=0
ShowOriginStats={{ log.appearance_show_origin_stats }}
ShowKeyphrasesStats={{ log.appearance_show_keyphrases_stats }}
ShowKeywordsStats={{ log.appearance_show_keywords_stats }}
ShowMiscStats={{ log.appearance_show_misc_stats }}
ShowHTTPErrorsStats={{ log.appearance_show_http_errors_stats }}
ShowHTTPErrorsPageDetail=R
ShowSMTPErrorsStats={{ log.appearance_show_smtp_errors_stats }}
ShowClusterStats=0
AddDataArrayMonthStats=1
AddDataArrayShowDaysOfMonthStats=1
AddDataArrayShowDaysOfWeekStats=1
AddDataArrayShowHoursStats=1
IncludeInternalLinksInOriginSection=0
MaxNbOfDomain = 10
MinHitDomain  = 1
MaxNbOfHostsShown = 10
MinHitHost    = 1
MaxNbOfLoginShown = 10
MinHitLogin   = 1
MaxNbOfRobotShown = 10
MinHitRobot   = 1
MaxNbOfDownloadsShown = 10
MinHitDownloads = 1
MaxNbOfPageShown = 10
MinHitFile    = 1
MaxNbOfOsShown = 10
MinHitOs      = 1
MaxNbOfBrowsersShown = 10
MinHitBrowser = 1
MaxNbOfScreenSizesShown = 5
MinHitScreenSize = 1
MaxNbOfWindowSizesShown = 5
MinHitWindowSize = 1
MaxNbOfRefererShown = 10
MinHitRefer   = 1
MaxNbOfKeyphrasesShown = 10
MinHitKeyphrase = 1
MaxNbOfKeywordsShown = 10
MinHitKeyword = 1
MaxNbOfEMailsShown = 20
MinHitEMail   = 1
FirstDayOfWeek=1
ShowFlagLinks=""
ShowLinksOnUrl=1
UseHTTPSLinkForUrl=""
MaxLengthOfShownURL=64
HTMLHeadSection=""
HTMLEndSection=""
MetaRobot=0
Logo="main_logo6.png"
LogoLink="http://www.awstats.org"
BarWidth   = 260
BarHeight  = 90
StyleSheet=""
color_Background="FFFFFF"
color_TableBGTitle="CCCCDD"
color_TableTitle="000000"
color_TableBG="CCCCDD"
color_TableRowTitle="FFFFFF"
color_TableBGRowTitle="ECECEC"
color_TableBorder="ECECEC"
color_text="000000"
color_textpercent="606060"
color_titletext="000000"
color_weekend="EAEAEA"
color_link="0011BB"
color_hover="605040"
color_u="FFAA66"
color_v="F4F090"
color_p="4477DD"
color_h="66DDEE"
color_k="2EA495"
color_s="8888DD"
color_e="CEC2E8"
color_x="C1B2E2"

#-----------------------------------------------------------------------------
# PLUGINS
#-----------------------------------------------------------------------------

#LoadPlugin="tooltips"
#LoadPlugin="decodeutfkeys"
#LoadPlugin="ipv6"
LoadPlugin="hashfiles"
#LoadPlugin="userinfo"
#LoadPlugin="hostinfo"
#LoadPlugin="clusterinfo"
#LoadPlugin="urlalias"
#LoadPlugin="timehires"
#LoadPlugin="timezone +2"
#LoadPlugin="rawlog"
#LoadPlugin="graphapplet /awstatsclasses"
#LoadPlugin="graphgooglechartapi"
#LoadPlugin="geoipfree"
#LoadPlugin="geoip GEOIP_STANDARD /usr/share/GeoIP/GeoIP.dat"
#LoadPlugin="geoip6 GEOIP_STANDARD /pathto/GeoIPv6.dat"
#LoadPlugin="geoip_city_maxmind GEOIP_STANDARD /usr/share/GeoIP/GeoIPCity.dat"
#LoadPlugin="geoip_asn_maxmind GEOIP_STANDARD /usr/local/geoip.dat+http://enc.com.au/itools/autnum.php?asn="
#LoadPlugin="geoip_region_maxmind GEOIP_STANDARD /usr/share/GeoIP/GeoIPRegion.dat"
#LoadPlugin="geoip_isp_maxmind GEOIP_STANDARD /usr/share/GeoIP/GeoIPISP.dat"
#LoadPlugin="geoip_org_maxmind GEOIP_STANDARD /usr/share/GeoIP/GeoIPOrg.dat"

#-----------------------------------------------------------------------------
# EXTRA SECTIONS
#-----------------------------------------------------------------------------

#ExtraSectionName1="Product orders"
#ExtraSectionCodeFilter1="200 304"
#ExtraSectionCondition1="URL,\/cgi\-bin\/order\.cgi||URL,\/cgi\-bin\/order2\.cgi"
#ExtraSectionFirstColumnTitle1="Product ID"
#ExtraSectionFirstColumnValues1="QUERY_STRING,productid=([^&]+)"
#ExtraSectionFirstColumnFormat1="%s"
#ExtraSectionStatTypes1=PL
#ExtraSectionAddAverageRow1=0
#ExtraSectionAddSumRow1=1
#MaxNbOfExtra1=20
#MinHitExtra1=1
ExtraTrackedRowsLimit=500

#-----------------------------------------------------------------------------
# INCLUDES
#-----------------------------------------------------------------------------

Include "/etc/awstats/awstats.conf.local"
