###
### {{ ansible_managed }}
###

[Unit]
Description=Auto-update {{ container_update__container_name }} timer

[Timer]
OnCalendar={{ container_update__schedule }}
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
