###
### {{ ansible_managed }}
###

[Unit]
Description=Auto-update container %i
OnFailure=container-update-notify-failure@%i.service

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/container-update.env
ExecCondition=/usr/bin/sh -c '\
  LOCAL=$(skopeo inspect containers-storage:$CONTAINER_IMAGE --format {{ '{{' }}.Digest{{ '}}' }} 2>/dev/null); \
  [ -z "$LOCAL" ] && exit 0; \
  ARCH=$(podman info --format {{ '{{' }}.Host.Arch{{ '}}' }}); \
  REMOTE=$(skopeo inspect docker://$CONTAINER_IMAGE --raw | jq -r " \
    .manifests[] \
    | select( \
      .platform.architecture==\\"$ARCH\\" and \
      .platform.os==\\"linux\\" and \
      (.annotations[\\"vnd.docker.reference.type\\"] | not) \
    ) \
    | .digest"); \
  [ "$LOCAL" != "$REMOTE" ]'
ExecStart=/usr/bin/podman pull $CONTAINER_IMAGE
ExecStart=/usr/bin/systemctl restart $CONTAINER_NAME
{% if container_update__pushover_key | length > 0 and container_update__pushover_token | length > 0 %}
ExecStartPost=/bin/bash -c '/usr/bin/curl -s \
  --form-string "token=$PUSHOVER_APP_TOKEN" \
  --form-string "user=$PUSHOVER_USER_KEY" \
  --form-string "message=%i was updated and restarted" \
  https://api.pushover.net/1/messages.json'
{% endif %}
