###
### {{ ansible_managed }}
###

[Unit]
Description=Pushover failure notification for %i

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/container-update.env
ExecStartPost=/bin/bash -c '/usr/bin/curl -s \
  --form-string "token=$PUSHOVER_APP_TOKEN" \
  --form-string "user=$PUSHOVER_USER_KEY" \
  --form-string "message=%i was updated and restarted" \
  https://api.pushover.net/1/messages.json'
