###
### {{ ansible_managed }}
###

[Unit]
Description=Auto-update {{ container_update__container_name }} container

[Service]
Type=oneshot
ExecCondition=/usr/bin/sh -c '\
  LOCAL=$(skopeo inspect containers-storage:{{ container_update__container_image }} --format {{ '{{' }}.Digest{{ '}}' }} 2>/dev/null); \
  [ -z "$LOCAL" ] && exit 0; \
  ARCH=$(podman info --format {{ '{{' }}.Host.Arch{{ '}}' }}); \
  REMOTE=$(skopeo inspect docker://{{ container_update__container_image }} --raw | jq -r " \
    .manifests[] \
    | select( \
      .platform.architecture==\\"$ARCH\\" and \
      .platform.os==\\"linux\\" and \
      (.annotations[\\"vnd.docker.reference.type\\"] | not) \
    ) \
    | .digest"); \
  [ "$LOCAL" != "$REMOTE" ]'
ExecStart=/usr/bin/podman pull {{ container_update__container_image }}
ExecStartPost=/usr/bin/systemctl restart {{ container_update__container_name }}
{% if container_update__pushover_key | length > 0 and container_update__pushover_token | length > 0 %}
EnvironmentFile=/etc/systemd/container-update.env
ExecStartPost=/usr/bin/curl -s \
  --form-string "token=$PUSHOVER_APP_TOKEN" \
  --form-string "user=$PUSHOVER_USER_KEY" \
  --form-string "message={{ container_update__container_name }} was updated and restarted" \
  https://api.pushover.net/1/messages.json
{% endif %}
