###
### {{ ansible_managed }}
###

# KEYBOARD CONFIGURATION FILE

# Consult the keyboard(5) manual page.

XKBMODEL="{{ keyboard_xkbmodel }}"
XKBLAYOUT="{{ keyboard_xkblayout }}"
XKBVARIANT="{{ keyboard_xkbvariant }}"
XKBOPTIONS="{{ keyboard_xkboptions }}"

BACKSPACE="{{ keyboard_backspace }}"
