###
### {{ ansible_managed }}
###

# Defines the UI theme.
#
theme={{ smarthome_openhab__basicui_theme }}

# Defines whether UI renders icons for the widgets or not.
#
enableIcons={{ smarthome_openhab__basicui_enable_icons | ternary('true','false') }}

# When enabled, changes the layout so that more widgets can fit on the screen.
#
condensedLayout={{ smarthome_openhab__basicui_condensed_layout | ternary('true','false') }}

# Displays all widget states in uppercase.
#
capitalizeValues={{ smarthome_openhab__basicui_capitalize_values | ternary('true','false') }}

# Play audio sent to the web audio sink.
#
webAudio={{ smarthome_openhab__basicui_web_audio | ternary('true','false') }}

# The sitemap to show if no parameter is passed.
#
{{ '#' if smarthome_openhab__basicui_default_sitemap | length == 0 }}defaultSitemap={{ smarthome_openhab__basicui_default_sitemap }}
