###
### {{ ansible_managed }}
###

# Global tags can be specified here in key="value" format.
[global_tags]
{% for tag, value in monitoring_telegraf__global_tags.items() %}
  {{ tag }} = "{{ value }}"
{% endfor %}

# Configuration for telegraf agent
[agent]
  interval = "{{ monitoring_telegraf__agent_interval }}"
  round_interval = {{ monitoring_telegraf__agent_round_interval | ternary('true', 'false') }}

  metric_batch_size = {{ monitoring_telegraf__agent_metric_batch_size }}
  metric_buffer_limit = {{ monitoring_telegraf__agent_metric_buffer_limit }}

  collection_jitter = "{{ monitoring_telegraf__agent_collection_jitter }}"
  # collection_offset = "0s"

  flush_interval = "{{ monitoring_telegraf__agent_flush_interval }}"
  flush_jitter = "{{ monitoring_telegraf__agent_flush_jitter }}"

  precision = "{{ monitoring_telegraf__agent_precision }}"

  # debug = false
  # quiet = false
  # logformat = "text"
  # structured_log_message_key = "message"
  # logfile = ""
  # logfile_rotation_interval = "0h"
  # logfile_rotation_max_size = "0MB"
  # logfile_rotation_max_archives = 5
  # log_with_timezone = ""

  # hostname = ""
  omit_hostname = {{ monitoring_telegraf__agent_omit_hostname | ternary('true', 'false') }}

  # snmp_translator = "netsnmp"

  # statefile = ""
  # skip_processors_after_aggregators = false

{# ------------------------------------------------------------------ #}
{# Wert rendern: Skalare, Listen, Inline-Tables (rekursiv)             #}
{# ------------------------------------------------------------------ #}
{% macro toml_value(v) -%}
{%- if v is string -%}
"{{ v }}"
{%- elif v is boolean -%}
{{ 'true' if v else 'false' }}
{%- elif v is number -%}
{{ v }}
{%- elif v is mapping -%}
{ {% for k, x in v.items() %}{{ k }} = {{ toml_value(x) }}{{ ', ' if not loop.last else '' }}{% endfor %} }
{%- elif v is iterable -%}
[ {% for x in v %}{{ toml_value(x) }}{{ ', ' if not loop.last else '' }}{% endfor %} ]
{%- endif -%}
{%- endmacro %}

{# ------------------------------------------------------------------ #}
{# Tabelleninhalt rendern (rekursiv)                                   #}
{#   path : voller TOML-Pfad, z. B. inputs.snmp                        #}
{#   skip : Keys, die auf dieser Ebene ignoriert werden                #}
{# ------------------------------------------------------------------ #}
{% macro toml_table(path, data, depth=0, skip=[]) %}
{% set pad = '  ' * (depth + 1) %}
{# 1) Skalare und Skalar-Listen zuerst (TOML-Regel: vor allen Untertabellen) #}
{% for k, v in data.items() if k not in skip
     and v is not none
     and v is not mapping
     and not (v is iterable and v is not string and v | length > 0 and v[0] is mapping) %}
{{ pad }}{{ k }} = {{ toml_value(v) }}
{% endfor %}
{# 2) Mappings -> [path.key] #}
{% for k, v in data.items() if k not in skip and v is mapping %}
{{ pad }}[{{ path }}.{{ k }}]
{{ toml_table(path ~ '.' ~ k, v, depth + 1) }}
{% endfor %}
{# 3) Listen von Mappings -> [[path.key]], je Element ein Block #}
{% for k, v in data.items() if k not in skip
     and v is iterable and v is not string and v is not mapping
     and v | length > 0 and v[0] is mapping %}
{% for item in v %}
{{ pad }}[[{{ path }}.{{ k }}]]
{{ toml_table(path ~ '.' ~ k, item, depth + 1) }}
{% endfor %}
{% endfor %}
{% endmacro %}

###############################################################################
#                            SECRETSTORE PLUGINS                              #
###############################################################################

###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################

{% for output in monitoring_telegraf__outputs %}
[[outputs.{{ output.plugin }}]]
{{ toml_table('outputs.' ~ output.plugin, output, 0, ['plugin']) }}
{% endfor %}

###############################################################################
#                            INPUT PLUGINS                                    #
###############################################################################

{% for input in monitoring_telegraf__inputs %}
[[inputs.{{ input.plugin }}]]
{{ toml_table('inputs.' ~ input.plugin, input, 0, ['plugin']) }}
{% endfor %}

###############################################################################
#                            PROCESSORS                                       #
###############################################################################

{% for processor in monitoring_telegraf__processors %}
[[processors.{{ processor.type }}]]
{{ toml_table('processors.' ~ processor.type, processor, 0, ['type']) }}
{% endfor %}

###############################################################################
#                            AGGREGATORS                                      #
###############################################################################

{% for aggregator in monitoring_telegraf__aggregators %}
[[aggregators.{{ aggregator.type }}]]
{{ toml_table('aggregators.' ~ aggregator.type, aggregator, 0, ['type']) }}
{% endfor %}
