###
### {{ ansible_managed }}
###

# Global tags can be specified here in key="value" format.
[global_tags]
{% for tag, value in monitoring_telegraf__global_tags.items() %}
  {{ tag }} = "{{ value }}"
{% endfor %}

# Configuration for telegraf agent
[agent]
  interval = "{{ monitoring_telegraf__agent_interval }}"
  round_interval = {{ monitoring_telegraf__agent_round_interval | ternary('true', 'false') }}

  metric_batch_size = {{ monitoring_telegraf__agent_metric_batch_size }}
  metric_buffer_limit = {{ monitoring_telegraf__agent_metric_buffer_limit }}

  collection_jitter = "{{ monitoring_telegraf__agent_collection_jitter }}"
  # collection_offset = "0s"

  flush_interval = "{{ monitoring_telegraf__agent_flush_interval }}"
  flush_jitter = "{{ monitoring_telegraf__agent_flush_jitter }}"

  precision = "{{ monitoring_telegraf__agent_precision }}"

  # debug = false
  # quiet = false
  # logformat = "text"
  # structured_log_message_key = "message"
  # logfile = ""
  # logfile_rotation_interval = "0h"
  # logfile_rotation_max_size = "0MB"
  # logfile_rotation_max_archives = 5
  # log_with_timezone = ""

  # hostname = ""
  omit_hostname = {{ monitoring_telegraf__agent_omit_hostname | ternary('true', 'false') }}

  # snmp_translator = "netsnmp"

  # statefile = ""
  # skip_processors_after_aggregators = false

###############################################################################
#                            SECRETSTORE PLUGINS                              #
###############################################################################

###############################################################################
#                            OUTPUT PLUGINS                                   #
###############################################################################

{% for output in monitoring_telegraf__outputs %}
[[outputs.{{ output.plugin }}]]
{%   for key, value in output.items() %}
{%     if key != 'plugin' %}
{%       if value is string %}
  {{ key }} = "{{ value }}"
{%       elif value is boolean %}
  {{ key }} = {{ value | ternary('true', 'false') }}
{%       elif  value is integer %}
  {{ key }} = {{ value }}
{%       elif value is mapping %}
  [outputs.{{ output.plugin }}.{{ key }}]
{%         for k, v in value.items() %}
{%           if v is string %}
    {{ k }} = "{{ v }}"
{%           elif v is boolean %}
    {{ k }} = {{ v | ternary('true', 'false') }}
{%           elif  v is integer %}
    {{ k }} = {{ v }}
{%           elif v is iterable %}
    {{ k }} = [ "{{ v | join('", "') }}" ]
{%           endif %}
{%         endfor %}
{%       elif value is iterable %}
  {{ key }} = [ "{{ value | join('", "') }}" ]
{%       endif %}
{%     endif %}
{%   endfor %}

{% endfor %}

###############################################################################
#                            INPUT PLUGINS                                    #
###############################################################################

{% for input in monitoring_telegraf__inputs %}
[[inputs.{{ input.plugin }}]]
{%   for key, value in input.items() %}
{%     if key != 'plugin' %}
{%       if  value is string %}
  {{ key }} = "{{ value }}"
{%       elif  value is boolean %}
  {{ key }} = {{ value | ternary('true', 'false') }}
{%       elif  value is integer %}
  {{ key }} = {{ value }}
{%       elif value is mapping %}
  [inputs.{{ input.plugin }}.{{ key }}]
{%         for k, v in value.items() %}
{%           if v is string %}
    {{ k }} = "{{ v }}"
{%           elif v is boolean %}
    {{ k }} = {{ v | ternary('true', 'false') }}
{%           elif  v is integer %}
    {{ k }} = {{ v }}
{%           elif v is iterable %}
    {{ k }} = [ "{{ v | join('", "') }}" ]
{%           endif %}
{%         endfor %}
{%       elif  value is iterable %}
  {{ key }} = [ "{{ value | join('", "') }}" ]
{%       endif %}
{%     endif %}
{%   endfor %}

{% endfor %}
