###
### {{ ansible_managed }}
###

INTERFACES="{{ statistics__vnstat_interfaces | join(' ') }}"
OUTPUTS="{{ statistics__vnstat_outputs }}"
WWWDIR="{{ statistics__vnstat_wwwdir }}"
INDEX_HEADLINE="{{ statistics__vnstat_index_headline }}"
INDEX_FILE="{{ statistics__vnstat_index_file }}"
