###
### {{ ansible_managed }}
###

# This file is part of avahi.
#
# avahi is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# avahi is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
# License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with avahi; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA.

# See avahi-daemon.conf(5) for more information on this configuration
# file!

[server]
host-name={{ avahi__host }}
domain-name={{ avahi__domain }}
browse-domains={{ avahi__browse_domains | join(', ') }}
use-ipv4={{ avahi__use_ipv4 | ternary('yes', 'no') }}
use-ipv6={{ avahi__use_ipv6 | ternary('yes', 'no') }}
allow-interfaces={{ avahi__allow_interfaces | join(', ') }}
deny-interfaces={{ avahi__deny_interfaces | join(', ') }}
check-response-ttl={{ avahi__check_response_ttl | ternary('yes', 'no') }}
use-iff-running={{ avahi__use_iff_running | ternary('yes', 'no') }}
enable-dbus={{ avahi__enable_dbus | ternary('yes', 'no') }}
disallow-other-stacks={{ avahi__disallow_other_stacks | ternary('yes', 'no') }}
#allow-point-to-point=no
#cache-entries-max=4096
#clients-max=4096
#objects-per-client-max=1024
#entries-per-entry-group-max=32
ratelimit-interval-usec={{ avahi__ratelimit_interval_usec }}
ratelimit-burst={{ avahi__ratelimit_burst }}

[wide-area]
enable-wide-area={{ avahi__wide_area | ternary('yes', 'no') }}

[publish]
disable-publishing={{ avahi__disable_publishing | ternary('yes', 'no') }}
disable-user-service-publishing={{ avahi__disable_user_service_publishing | ternary('yes', 'no') }}
add-service-cookie={{ avahi__add_service_cookie | ternary('yes', 'no') }}
#publish-addresses=yes
publish-hinfo={{ avahi__publish_hinfo | ternary('yes', 'no') }}
publish-workstation={{ avahi__publish_workstation | ternary('yes', 'no') }}
#publish-domain=yes
#publish-dns-servers=192.168.50.1, 192.168.50.2
#publish-resolv-conf-dns-servers=yes
#publish-aaaa-on-ipv4=yes
#publish-a-on-ipv6=no

[reflector]
enable-reflector={{ avahi__reflector | ternary('yes', 'no') }}
reflect-ipv={{ avahi__reflect_ipv | ternary('yes', 'no') }}
#reflect-filters=_airplay._tcp.local,_raop._tcp.local

[rlimits]
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-as={{ avahi__rlimit_as }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-core={{ avahi__rlimit_core }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-data={{ avahi__rlimit_data }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-fsize={{ avahi__rlimit_fsize }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-nofile={{ avahi__rlimit_nofile }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-stack={{ avahi__rlimit_stack }}
{{ '#' if avahi__rlimit_as | length < 1 }}rlimit-nproc={{ avahi__rlimit_nproc }}
