###
### {{ ansible_managed }}
###

compatibility_level = {{ postfix__compatibility_level }}

command_directory = {{ postfix__command_directory }}

daemon_directory = {{ postfix__daemon_directory }}

data_directory = {{ postfix__data_directory }}

inet_interfaces = {{ postfix__inet_interfaces }}

unknown_local_recipient_reject_code = {{ postfix__unknown_local_recipient_reject_code }}

{% if postfix__mynetworks | length > 1 %}
mynetworks =
  {{ postfix__mynetworks | join(',\n') | indent(2) }}
{% elif postfix__mynetworks | length == 1 %}
mynetworks = {{ postfix__mynetworks[0] }}
{% endif %}

in_flow_delay = {{ postfix__in_flow_delay }}

fast_flush_domains = {{ postfix__fast_flush_domains }}

smtpd_banner = {{ postfix__smtpd_banner }}

local_destination_concurrency_limit = {{ postfix__local_destination_concurrency_limit }}

local_destination_recipient_limit = {{ postfix__local_recipient_concurrency_limit }}

default_destination_concurrency_limit = {{ postfix__default_destination_concurrency_limit }}

inet_protocols = {{ postfix__inet_protocols }}

default_transport = {{ postfix__default_transport }}

relay_transport = {{ postfix__relay_transport }}

biff = {{ postfix__biff | ternary('yes', 'no') }}

{{ 'myhostname = ' + postfix__myhostname if postfix__myhostname | length > 0 }}

mydestination = {{ postfix__mydestination | join(', ') }}

alias_maps = {{ postfix__alias_maps }}

alias_database = {{ postfix__alias_database }}

{% if postfix__virtual_mailbox_domains | length > 1 %}
virtual_mailbox_domains =
  {{ postfix__virtual_mailbox_domains | join(',\n') | indent(2) }}
{% elif postfix__virtual_mailbox_domains | length == 1 %}
virtual_mailbox_domains = {{ postfix__virtual_mailbox_domains[0] }}
{% endif %}

{% if postfix__virtual_mailbox_maps | length > 1 %}
virtual_mailbox_maps =
  {{ postfix__virtual_mailbox_maps | join(',\n') | indent(2) }}
{% elif postfix__virtual_mailbox_maps | length == 1 %}
virtual_mailbox_maps = {{ postfix__virtual_mailbox_maps[0] }}
{% endif %}

{% if postfix__virtual_alias_maps | length > 1 %}
virtual_alias_maps =
  {{ postfix__virtual_alias_maps | join(',\n') | indent(2) }}
{% elif postfix__virtual_alias_maps | length == 1 %}
virtual_alias_maps = {{ postfix__virtual_alias_maps[0] }}
{% endif %}

virtual_transport = {{ postfix__virtual_transport }}

{{ 'message_size_limit = ' + postfix__message_size_limit if postfix__message_size_limit | length > 0 }}

{% if postfix__smtpd_sasl_auth_enable %}
smtpd_sasl_auth_enable = {{ postfix__smtpd_sasl_auth_enable | ternary('yes', 'no') }}

smtpd_sasl_path = {{ postfix__smtpd_sasl_path }}

smtpd_sasl_type = {{ postfix__smtpd_sasl_type }}
smtpd_sasl_security_options = {{ postfix__smtpd_sasl_security_options | join(', ') }}

{{ 'smtpd_sasl_local_domain = ' + postfix__smtpd_sasl_local_domain if postfix__smtpd_sasl_local_domain | length > 0 }}

broken_sasl_auth_clients = {{ postfix__broken_sasl_auth_clients | ternary('yes', 'no') }}
{% endif %}

smtp_use_tls = {{ postfix__smtp_use_tls | ternary('yes', 'no') }}

{% if postfix__smtpd_use_tls %}
smtpd_use_tls = {{ postfix__smtpd_use_tls | ternary('yes', 'no') }}

smtpd_tls_auth_only = {{ postfix__smtpd_tls_auth_only | ternary('yes', 'no') }}

smtpd_tls_key_file = {{ postfix__smtpd_tls_key_file }}

smtpd_tls_cert_file = {{ postfix__smtpd_tls_cert_file }}

smtpd_tls_CAfile = {{ postfix__smtpd_tls_cafile }}

{{ 'smtpd_tls_security_level = ' + postfix__smtpd_tls_security_level if postfix__smtpd_tls_security_level | length > 0 }}

smtpd_tls_loglevel = {{ postfix__smtpd_tls_loglevel }}

smtpd_tls_received_header = {{ postfix__smtpd_tls_received_header | ternary('yes', 'no') }}

smtpd_tls_session_cache_timeout = {{ postfix__smtpd_tls_session_cache_timeout }}

tls_random_source = {{ postfix__tls_random_source }}
{% endif %}

smtpd_helo_required = {{ postfix__smtpd_helo_required | ternary('yes', 'no') }}
smtpd_delay_reject = {{ postfix__smtpd_delay_reject | ternary('yes', 'no') }}

{% if postfix__smtpd_client_restrictions | length > 1 %}
smtpd_client_restrictions =
  {{ postfix__smtpd_client_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_client_restrictions | length == 1 %}
smtpd_client_restrictions = {{ postfix__smtpd_client_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_helo_restrictions | length > 1 %}
smtpd_helo_restrictions =
  {{ postfix__smtpd_helo_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_helo_restrictions | length == 1 %}
smtpd_helo_restrictions = {{ postfix__smtpd_helo_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_sender_restrictions | length > 1 %}
smtpd_sender_restrictions =
  {{ postfix__smtpd_sender_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_sender_restrictions | length == 1 %}
smtpd_sender_restrictions = {{ postfix__smtpd_sender_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_recipient_restrictions | length > 1 %}
smtpd_recipient_restrictions =
  {{ postfix__smtpd_recipient_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_recipient_restrictions | length == 1 %}
smtpd_recipient_restrictions = {{ postfix__smtpd_recipient_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_relay_restrictions | length > 1 %}
smtpd_relay_restrictions =
  {{ postfix__smtpd_relay_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_relay_restrictions | length == 1 %}
smtpd_relay_restrictions = {{ postfix__smtpd_relay_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_data_restrictions | length > 1 %}
smtpd_data_restrictions =
  {{ postfix__smtpd_data_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_data_restrictions | length == 1 %}
smtpd_data_restrictions = {{ postfix__smtpd_data_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_end_of_data_restrictions | length > 1 %}
smtpd_end_of_data_restrictions =
  {{ postfix__smtpd_end_of_data_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_end_of_data_restrictions | length == 1 %}
smtpd_end_of_data_restrictions = {{ postfix__smtpd_end_of_data_restrictions[0] }}
{% endif %}

{% if postfix__smtpd_etrn_restrictions | length > 1 %}
smtpd_etrn_restrictions =
  {{ postfix__smtpd_etrn_restrictions | join(',\n') | indent(2) }}
{% elif postfix__smtpd_etrn_restrictions | length == 1 %}
smtpd_etrn_restrictions = {{ postfix__smtpd_etrn_restrictions[0] }}
{% endif %}

milter_default_action = {{ postfix__milter_default_action }}
milter_protocol = {{ postfix__milter_protocol }}

{% if postfix__smtpd_milters | length > 1 %}
smtpd_milters =
  {{ postfix__smtpd_milters | join(',\n') | indent(2) }}
{% elif postfix__smtpd_milters | length == 1 %}
smtpd_milters = {{ postfix__smtpd_milters[0] }}
{% endif %}

{% if postfix__non_smtpd_milters | length > 1 %}
non_smtpd_milters =
  {{ postfix__non_smtpd_milters | join(',\n') | indent(2) }}
{% elif postfix__non_smtpd_milters | length == 1 %}
non_smtpd_milters = {{ postfix__non_smtpd_milters[0] }}
{% endif %}

{% if postfix__sender_canonical_maps | length > 0 %}
{% if postfix__sender_canonical_maps | length > 1 %}
sender_canonical_maps =
  {{ postfix__sender_canonical_maps | join(',\n') | indent(2) }}
{% else %} 
sender_canonical_maps = {{ postfix__sender_canonical_maps[0] }}
{% endif %}
sender_canonical_classes = {{ postfix__sender_canonical_classes | join(', ') }}
{% endif %}

{% if postfix__recipient_canonical_maps | length > 0 %}
{% if postfix__recipient_canonical_maps | length > 1 %}
recipient_canonical_maps =
  {{ postfix__recipient_canonical_maps | join(',\n') | indent(2) }}
{% else %} 
recipient_canonical_maps = {{ postfix__recipient_canonical_maps[0] }}
{% endif %}
recipient_canonical_classes = {{ postfix__recipient_canonical_classes | join(', ') }}
{% endif %}

{% for key, value in postfix__additional_options.items() %}
{{ key }} = {{ value }}
{% endfor %}
