###
### {{ ansible_managed }}
###

daily_backup_enable="{{ backup__enable | ternary('YES', 'NO') }}"
daily_backup_lib_dir="{{ backup_common__lib_dir }}"
daily_backup_logfile="{{ backup__logfile }}"
daily_backup_error_logfile="{{ backup__error_logfile }}"
