###
### {{ ansible_managed }}
###

daily_backup_mysql_enable="YES"
daily_backup_mysql_compress="{{ backup_mysql__compress | ternary('YES','NO') }}"
daily_backup_mysql_replication="{{ backup_mysql__replication | ternary('YES','NO') }}"
daily_backup_mysql_backup_dir="{{ backup_mysql__backup_dir }}"
daily_backup_mysql_host="{{ backup_mysql__host }}"
daily_backup_mysql_user="{{ backup_mysql__user }}"
daily_backup_mysql_password="{{ backup_mysql__password }}"
daily_backup_mysql_dump_options="{{ backup_mysql__dump_options }}"
daily_backup_mysql_ignore_databases="{{ backup_mysql__ignore_databases | join(' ') }}"
daily_backup_mysql_keep_days="-{{ backup_mysql__keep_days }}days"
