###
### {{ ansible_managed }}
###

# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid {{ ldap__nslcd_uid }}
gid {{ ldap__nslcd_gid }}

# The location at which the LDAP server(s) should be reachable.
uri {{ ldap__nslcd_uri | join(' ') }}

# The LDAP protocol version to use.
ldap_version {{ ldap__nslcd_ldap_version }}

# The DN to bind with for normal lookups.
{{ '#' if ldap__nslcd_binddn == 'none' }}binddn {{ ldap__nslcd_binddn }}
{{ '#' if ldap__nslcd_bindpw == 'none' }}bindpw {{ ldap__nslcd_bindpw }}

# The DN used for password modifications by root.
{{ '#' if ldap__nslcd_rootpwmoddn == 'none' }}rootpwmoddn {{ ldap__nslcd_rootpwmoddn }}

# The search base that will be used for all queries.
base {{ ldap__nslcd_base }}

# The search scope.
scope {{ ldap__nslcd_scope }}
deref {{ ldap__nslcd_deref }}
referrals {{ ldap__nslcd_referrals | ternary('yes', 'no') }}

# Limit which UNIX accounts and groups are present on a host
filter {{ ldap__nslcd_filter }}

# Use the 'gid' attribute instead of 'cn' as the POSIX group name.
#map group cn gid

# The idle timelimit for connections with the LDAP server.
idle_timelimit {{ ldap__nslcd_idle_timelimit }}

# SSL options
ssl {{ ldap__nslcd_ssl | ternary('on', 'off') }}
tls_reqcert {{ ldap__nslcd_tls_reqcert }}
tls_cacertfile {{ ldap__nslcd_tls_cacertfile }}

# First valid UID/GID number expected to be in the LDAP directory.
# UIDs/GIDs lower than this value will be ignored.
nss_min_uid {{ ldap__nslcd_nss_min_uid }}
