<?xml version="1.0" encoding="utf-8"?>
<!--
###
### {{ ansible_managed }}
###
-->
<NetworkConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableUPnP>{{ jellyfin__config_upnp_enable | lower }}</EnableUPnP>
  <PublicPort>{{ jellyfin__config_public_port }}</PublicPort>
  <UPnPCreateHttpPortMap>{{ jellyfin__config_upnp_create_http_port_map | lower }}</UPnPCreateHttpPortMap>
  <UDPPortRange />
  <EnableIPV6>{{ jellyfin__config_ipv6_enable | lower }}</EnableIPV6>
  <EnableIPV4>{{ jellyfin__config_ipv4_enable | lower }}</EnableIPV4>
  <EnableSSDPTracing>{{ jellyfin__config_ssdp_tracing_enable | lower }}</EnableSSDPTracing>
  <SSDPTracingFilter />
  <UDPSendCount>{{ jellyfin__config_udp_send_count }}</UDPSendCount>
  <UDPSendDelay>{{ jellyfin__config_udp_send_delay }}</UDPSendDelay>
  <IgnoreVirtualInterfaces>{{ jellyfin__config_ignore_virtual_interfaces | lower }}</IgnoreVirtualInterfaces>
  <VirtualInterfaceNames>{{ jellyfin__config_virtual_interface_names }}</VirtualInterfaceNames>
  <GatewayMonitorPeriod>{{ jellyfin__config_gateway_monitor_period }}</GatewayMonitorPeriod>
  <TrustAllIP6Interfaces>{{ jellyfin__config_trust_all_ip6_interfaces | lower }}</TrustAllIP6Interfaces>
  <HDHomerunPortRange />
  <PublishedServerUriBySubnet />
  <AutoDiscoveryTracing>{{ jellyfin__config_auto_discovery_tracing | lower }}</AutoDiscoveryTracing>
  <AutoDiscovery>{{ jellyfin__config_auto_discovery | lower }}</AutoDiscovery>
  <PublicHttpsPort>{{ jellyfin__config_public_https_port }}</PublicHttpsPort>
  <HttpServerPortNumber>{{ jellyfin__config_http_server_port_number }}</HttpServerPortNumber>
  <HttpsPortNumber>{{ jellyfin__config_https_port_number }}</HttpsPortNumber>
  <EnableHttps>{{ jellyfin__config_https_enable | lower }}</EnableHttps>
  <CertificatePath />
  <CertificatePassword />
  <EnableRemoteAccess>{{ jellyfin__config_remote_access_enable | lower }}</EnableRemoteAccess>
  <BaseUrl />
{% if jellyfin__config_local_network_subnets | length > 0 %}
  <LocalNetworkSubnets>
{% for subnet in jellyfin__config_local_network_subnets %}
    <string>{{ subnet }}</string>
{% endfor %}
  </LocalNetworkSubnets>
{% else %}
  <LocalNetworkSubnets />
{% endif %}
{% if jellyfin__config_local_network_addresses | length > 0 %}
  <LocalNetworkAddresses>
{% for address in jellyfin__config_local_network_addresses %}
    <string>{{ address }}</string>
{% endfor %}
  </LocalNetworkAddresses>
{% else %}
  <LocalNetworkAddresses />
{% endif %}
  <RequireHttps>{{ jellyfin__config_require_https | lower }}</RequireHttps>
  <RemoteIPFilter />
  <IsRemoteIPFilterBlacklist>{{ jellyfin__config_is_remote_ip_filter_blacklist | lower }}</IsRemoteIPFilterBlacklist>
  <KnownProxies />
</NetworkConfiguration>