###
### {{ ansible_managed }}
###

# dhcpd.conf
#
# Configuration file for ISC dhcpd
#

# option definitions common to all supported networks...
option domain-name "{{ dhcp__server_v4_domain_name }}";
option domain-name-servers {{ dhcp__server_v4_domain_name_servers | join(', ') }};

{{ '#' if not dhcp__server_v4_rfc3442_classless_static_routes }}option rfc3442-classless-static-routes code 121 = array of integer 8;
{{ '#' if not dhcp__server_v4_ms_classless_static_routes }}option ms-classless-static-routes code 249 = array of integer 8;

default-lease-time {{ dhcp__server_v4_default_lease_time }};
max-lease-time {{ dhcp__server_v4_max_lease_time }};

ping-check {{ dhcp__server_v4_ping_check | lower }};

# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
ddns-update-style {{ dhcp__server_v4_ddns_update_style }};

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
{{ '#' if not dhcp__server_v4_authoritative }}authoritative;

{% for subnet in dhcp__server_v4_subnets %}
{%   if subnet.comment is defined %}
# {{ subnet.comment }}
{%   endif %}
subnet {{ subnet.ipv4 }} netmask {{ subnet.netmask }} {
{%   if subnet.dhcp_range is defined %}
    range {{ subnet.dhcp_range -}};
{%   endif %}
{%   if subnet.routers is defined %}
    option routers {{ subnet.routers -}};
{%   endif %}
{%   if subnet.broadcast_address is defined %}
    option broadcast-address {{ subnet.broadcast_address -}};
{%   endif %}
{%   if subnet.domain_name is defined %}
    option domain-name "{{ subnet.domain_name -}}";
{%   endif %}
{%   if subnet.domain_name_servers is defined %}
    option domain-name-servers {{ subnet.domain_name_servers | join(', ') -}};
{%   endif %}
{%   if subnet.dhcp_default_lease_time is defined %}
    option default-lease-time {{ subnet.dhcp_default_lease_time -}};
{%   endif %}
{%   if subnet.dhcp_max_lease_time is defined %}
    option max-lease-time {{ subnet.dhcp_max_lease_time -}};
{%   endif %}
{%   if subnet.dhcp_static_routes is defined %}
    option rfc3442-classless-static-routes {{ subnet.dhcp_static_routes | join(', ') -}};
    option ms-classless-static-routes {{ subnet.dhcp_static_routes | join(', ') -}};
{%   endif %}
}

{% endfor %}

{% for host in dhcp__server_v4_hosts %}
{%   if host.comment is defined %}
# {{ host.comment }}
{%   endif %}
host {{ host.name }} {
{%   if host.mac is defined %}
    hardware ethernet {{ host.mac -}};
{%   endif %}
{%   if host.ipv4 is defined %}
    fixed-address {{ host.ipv4 -}};
{%   endif %}
{%   if host.routers is defined %}
    option routers {{ host.routers -}};
{%   endif %}
}

{% endfor %}
