{
    "mqtt_user": "{{ smarthome_mqttbroker__mqtt_user }}",
    "mqtt_password": "{{ smarthome_mqttbroker__mqtt_password }}",
    "mqtt_host": "{{ smarthome_mqttbroker__mqtt_host }}",
    "mqtt_port": "{{ smarthome_mqttbroker__mqtt_port }}",
    "mqtt_clientid": "{{ smarthome_mqttbroker__mqtt_clientid }}",
    "mqtt_keepalive": "{{ smarthome_mqttbroker__mqtt_keepalive }}",
    {{ '"mqtt_tls": "true",' if smarthome_mqttbroker__mqtt_tls }}
    {{ '"mqtt_tls_version": "' + smarthome_mqttbroker__mqtt_tls_version + '",' if smarthome_mqttbroker__mqtt_tls }}
    {{ '"mqtt_verify_mode": "' + smarthome_mqttbroker__mqtt_verify_mode + '",' if smarthome_mqttbroker__mqtt_tls }}
    {{ '"mqtt_ssl_ca_path": "' + smarthome_mqttbroker__mqtt_ssl_ca_path + '",' if smarthome_mqttbroker__mqtt_tls and smarthome_mqttbroker__mqtt_ssl_ca_path | length > 0 }}
    {{ '"mqtt_tls_no_verify": "true",' if smarthome_mqttbroker__mqtt_tls and smarthome_mqttbroker__mqtt_tls_no_verify }}
    "topics": {{ smarthome_mqttbroker__topics | to_json(indent=4) }}
}
