###
### {{ ansible_managed }}
###

LocalSocket {{ clamav__clamd_local_socket }}
FixStaleSocket {{ clamav__clamd_fix_stale_socket | lower }}
LocalSocketGroup {{ clamav__clamd_local_socket_group }}
LocalSocketMode {{ clamav__clamd_local_socket_mode }}
User {{ clamav__clamd_user }}
ScanMail {{ clamav__clamd_scan_mail | lower }}
ScanArchive {{ clamav__clamd_scan_archive | lower }}
ArchiveBlockEncrypted {{ clamav__clamd_archive_block_encrypted | lower }}
MaxDirectoryRecursion {{ clamav__clamd_max_directory_recursion }}
FollowDirectorySymlinks {{ clamav__clamd_follow_directory_symlinks | lower }}
FollowFileSymlinks {{ clamav__clamd_follow_file_symlinks | lower }}
ReadTimeout {{ clamav__clamd_read_timeout }}
MaxThreads {{ clamav__clamd_max_threads }}
MaxConnectionQueueLength {{ clamav__clamd_max_connection_queue_length }}
LogSyslog {{ clamav__clamd_log_syslog | lower }}
LogRotate {{ clamav__clamd_log_rotate | lower }}
LogFacility {{ clamav__clamd_log_facility }}
LogClean {{ clamav__clamd_log_clean | lower }}
LogVerbose {{ clamav__clamd_log_verbose | lower }}
PreludeEnable {{ clamav__clamd_prelude_enable }}
PreludeAnalyzerName {{ clamav__clamd_prelude_analyzer_name }}
DatabaseDirectory {{ clamav__clamd_database_directory }}
OfficialDatabaseOnly {{ clamav__clamd_official_database_only | lower }}
SelfCheck {{ clamav__clamd_self_check }}
Foreground {{ clamav__clamd_foreground | lower }}
Debug {{ clamav__clamd_debug | lower }}
ScanPE {{ clamav__clamd_scan_pe | lower }}
MaxEmbeddedPE {{ clamav__clamd_max_embedded_pe }}
ScanOLE2 {{ clamav__clamd_scan_ole2 | lower }}
ScanPDF {{ clamav__clamd_scan_pdf | lower }}
ScanHTML {{ clamav__clamd_scan_html | lower }}
MaxHTMLNormalize {{ clamav__clamd_max_html_normalize }}
MaxHTMLNoTags {{ clamav__clamd_max_html_no_tags }}
MaxScriptNormalize {{ clamav__clamd_max_script_normalize }}
MaxZipTypeRcg {{ clamav__clamd_max_zip_type_rcg }}
ScanSWF {{ clamav__clamd_scan_swf | lower }}
ExitOnOOM {{ clamav__clamd_exit_on_oom | lower }}
LeaveTemporaryFiles {{ clamav__clamd_leave_temporary_files | lower }}
AlgorithmicDetection {{ clamav__clamd_algorithmic_detection | lower }}
ScanELF {{ clamav__clamd_scan_elf | lower }}
IdleTimeout {{ clamav__clamd_idle_timeout }}
CrossFilesystems {{ clamav__clamd_cross_filesystems | lower }}
PhishingSignatures {{ clamav__clamd_phishing_signatures | lower }}
PhishingScanURLs {{ clamav__clamd_phishing_scan_urls | lower }}
PhishingAlwaysBlockSSLMismatch {{ clamav__clamd_phishing_always_block_ssl_mismatch | lower }}
PhishingAlwaysBlockCloak {{ clamav__clamd_phishing_always_block_cloak | lower }}
PartitionIntersection {{ clamav__clamd_partition_intersection | lower }}
DetectPUA {{ clamav__clamd_detect_pua | lower }}
ScanPartialMessages {{ clamav__clamd_scan_partial_messages | lower }}
HeuristicScanPrecedence {{ clamav__clamd_heuristic_scan_precedence | lower }}
StructuredDataDetection {{ clamav__clamd_structured_data_detection | lower }}
CommandReadTimeout {{ clamav__clamd_command_read_timeout }}
SendBufTimeout {{ clamav__clamd_send_buf_timeout }}
MaxQueue {{ clamav__clamd_max_queue }}
ExtendedDetectionInfo {{ clamav__clamd_extended_detection_info | lower }}
OLE2BlockMacros {{ clamav__clamd_ole2_block_macros | lower }}
AllowAllMatchScan {{ clamav__clamd_allow_all_match_scan | lower }}
ForceToDisk {{ clamav__clamd_force_to_disk | lower }}
DisableCertCheck {{ clamav__clamd_disable_cert_check | lower }}
DisableCache {{ clamav__clamd_disable_cache | lower }}
MaxScanTime {{ clamav__clamd_max_scan_time }}
MaxScanSize {{ clamav__clamd_max_scan_size }}
MaxFileSize {{ clamav__clamd_max_file_size }}
MaxRecursion {{ clamav__clamd_max_recursion }}
MaxFiles {{ clamav__clamd_max_files }}
MaxPartitions {{ clamav__clamd_max_partitions }}
MaxIconsPE {{ clamav__clamd_max_icons_pe }}
PCREMatchLimit {{ clamav__clamd_pcre_match_limit }}
PCRERecMatchLimit {{ clamav__clamd_pcre_rec_match_limit }}
PCREMaxFileSize {{ clamav__clamd_pcre_max_file_size }}
ScanXMLDOCS {{ clamav__clamd_scan_xmldocs | lower }}
ScanHWP3 {{ clamav__clamd_scan_hwp3 | lower }}
MaxRecHWP3 {{ clamav__clamd_max_rec_hwp3 }}
StreamMaxLength {{ clamav__clamd_stream_max_length }}
LogFile {{ clamav__clamd_log_file | lower }}
LogTime {{ clamav__clamd_log_time | lower }}
LogFileUnlock {{ clamav__clamd_log_file_unlock | lower }}
LogFileMaxSize {{ clamav__clamd_log_file_max_size }}
Bytecode {{ clamav__clamd_bytecode | lower }}
BytecodeSecurity {{ clamav__clamd_bytecode_security }}
BytecodeTimeout {{ clamav__clamd_bytecode_timeout }}
OnAccessMaxFileSize {{ clamav__clamd_on_access_max_file_size }}
