###
### {{ ansible_managed }}
###

DatabaseOwner {{ clamav__freshclam_database_owner }}
UpdateLogFile {{ clamav__freshclam_update_log_file }}
LogVerbose {{ clamav__freshclam_log_verbose | lower }}
LogSyslog {{ clamav__freshclam_log_syslog | lower }}
LogFacility {{ clamav__freshclam_log_facility }}
LogFileMaxSize {{ clamav__freshclam_log_file_max_size }}
LogRotate {{ clamav__freshclam_log_rotate | lower }}
LogTime {{ clamav__freshclam_log_time | lower }}
Foreground {{ clamav__freshclam_foreground | lower }}
Debug {{ clamav__freshclam_debug | lower }}
MaxAttempts {{ clamav__freshclam_max_attempts }}
DatabaseDirectory {{ clamav__freshclam_database_directory }}
DNSDatabaseInfo {{ clamav__freshclam_dns_database_info }}
ConnectTimeout {{ clamav__freshclam_connect_timeout }}
ReceiveTimeout {{ clamav__freshclam_receive_timeout }}
TestDatabases {{ clamav__freshclam_test_databases | ternary('yes', 'no') }}
ScriptedUpdates {{ clamav__freshclam_scripted_updates | ternary('yes', 'no') }}
CompressLocalDatabase {{ clamav__freshclam_compress_local_database | ternary('yes', 'no') }}
SafeBrowsing {{ clamav__freshclam_safe_browsing | lower }}
Bytecode {{ clamav__freshclam_bytecode | lower }}
NotifyClamd {{ clamav__freshclam_notify_clamd }}
Checks {{ clamav__freshclam_checks }}
{% for database_mirror in  clamav__freshclam_database_mirror %}
DatabaseMirror  {{ database_mirror }}
{% endfor %}
