###
### {{ ansible_managed }}
###

user {{ webserver_nginx__user }};

pid {{ webserver_nginx__run_dir }}/nginx.pid;

include /etc/nginx/modules-enabled/*.conf;

# Default error_log
error_log {{ webserver_nginx__log_dir }}/error.log;

# Nicenness, from 20 (nice) to -20 (not nice)
worker_priority {{ webserver_nginx__worker_priority }};

# Number of workers to run, usually equals number of CPU cores
worker_processes {{ webserver_nginx__worker_processes }};

# Maximum number of opened files per process, must be higher than worker_connections
worker_rlimit_nofile {{ webserver_nginx__worker_rlimit_nofile }};

events {
        worker_connections  {{ webserver_nginx__worker_connections }};
        multi_accept  {{ webserver_nginx__multi_accept }};
}

http {
        include {{ webserver_nginx__conf_dir }}/*.conf;
        include {{ webserver_nginx__etc_dir }}/mime.types;
        default_type application/octet-stream;

        server_tokens {{ webserver_nginx__server_tokens }};

        server_names_hash_bucket_size {{ webserver_nginx__server_names_hash_bucket_size }};
        server_names_hash_max_size {{ webserver_nginx__server_names_hash_max_size }};

{% for option, value in webserver_nginx__options.items() %}
        {{ option }} {{ value }};
{% endfor %}

        # Logging
        access_log {{ webserver_nginx__log_dir }}/access.log;
        error_log  {{ webserver_nginx__log_dir }}/error.log;

        # Virtual Hosts Configs
        include {{ webserver_nginx__sites_enabled_dir }}/*.conf;
}

# vim:ft=nginx
