###
### {{ ansible_managed }}
###

{% import 'macros.j2' as macros %}

{% set config = {
  'nginx__log_dir': webserver_nginx__log_dir,
  'nginx__www_dir': webserver_nginx__www_dir,
  'nginx__snippets_dir': webserver_nginx__snippets_dir,
  'nginx__use_podman': webserver_nginx__use_podman,
  'pki__realms_dir': pki_common__realms_dir
  } %}

{% if site.geo | default({}) | length > 0 %}
{{ macros.print_geo(site.geo) }}
{% endif %}

{{ macros.http_server(site, config) }}

{% if site.listen_ssl | length > 0 %}
{{ macros.https_server(site, config) }}
{% endif %}
