###
### {{ ansible_managed }}
###

{% if webserver_nginx__useragent_badagents | length > 0 %}
map $http_user_agent $badagent {
    default 0;
{%   for useragent in webserver_nginx__useragent_badagents %}
    {{ useragent }} 1;
{%   endfor %}
}
{% endif %}
