###
### {{ ansible_managed }}
###

# This is a basic configuration that can easily be adapted to suit a standard
# installation. For more advanced options, see opendkim.conf(5) and/or
# /usr/share/doc/opendkim/examples/opendkim.conf.sample.

# Log to syslog
Syslog			{{ postfix__dkim_opendkim_syslog | ternary('yes', 'no') }}
# Required to use local socket with MTAs that access the socket as a non-
# privileged user (e.g. Postfix)
UMask			{{ postfix__dkim_opendkim_umask }}

# Sign for example.com with key in /etc/dkimkeys/dkim.key using
# selector '2007' (e.g. 2007._domainkey.example.com)
{{ '#' if postfix__dkim_opendkim_domain | length == 0 }}Domain			{{ postfix__dkim_opendkim_domain }}
{{ '#' if postfix__dkim_opendkim_keyfile | length == 0 }}KeyFile		{{ postfix__dkim_opendkim_keyfile }}
{{ '#' if postfix__dkim_opendkim_selector | length == 0 }}Selector		{{ postfix__dkim_opendkim_selector }}

# Commonly-used options; the commented-out versions show the defaults.
{{ '#' if postfix__dkim_opendkim_canonicalization | length == 0 }}Canonicalization	{{ postfix__dkim_opendkim_canonicalization }}
{{ '#' if postfix__dkim_opendkim_mode | length == 0 }}Mode			{{ postfix__dkim_opendkim_mode }}
{{ '#' if not postfix__dkim_opendkim_subdomains is defined }}SubDomains		{{ postfix__dkim_opendkim_subdomains | ternary('yes', 'no') }}

{{ '#' if postfix__dkim_opendkim_internal_hosts_content | length == 0 }}InternalHosts          {{ postfix__dkim_opendkim_internal_hosts }}

# If enabled, log verification stats here
{{ '#' if postfix__dkim_opendkim_statistics | length == 0 }}Statistics              {{ postfix__dkim_opendkim_statistics }}

# KeyList is a file containing tuples of key information. Requires
# KeyFile to be unset. Each line of the file should be of the format:
#    sender glob:signing domain:signing key file
# Blank lines and lines beginning with # are ignored. Selector will be
# derived from the key's filename.
#KeyList                /etc/dkim-keys.conf
#
# If enabled, will generate verification failure reports for any messages
# that fail signature verification. These will be sent to the r= address
# in the policy record, if any.
#ReportInfo             yes

# Socket smtp://localhost
#
# ##  Socket socketspec
# ##
# ##  Names the socket where this filter should listen for milter connections
# ##  from the MTA.  Required.  Should be in one of these forms:
# ##
# ##  inet:port@address           to listen on a specific interface
# ##  inet:port                   to listen on all interfaces
# ##  local:/path/to/socket       to listen on a UNIX domain socket
#
#Socket                  inet:8892@localhost
Socket			{{ postfix__dkim_opendkim_socket }}

##  PidFile filename
###      default (none)
###
###  Name of the file where the filter should write its pid before beginning
###  normal operations.
#
PidFile               {{ postfix__dkim_opendkim_pidfile }}


# Always oversign From (sign using actual From and a null From to prevent
# malicious signatures header fields (From and/or others) between the signer
# and the verifier.  From is oversigned by default in the Debian pacakge
# because it is often the identity key used by reputation systems and thus
# somewhat security sensitive.
OversignHeaders		{{ postfix__dkim_opendkim_oversignheaders }}

##  ResolverConfiguration filename
##      default (none)
##
##  Specifies a configuration file to be passed to the Unbound library that
##  performs DNS queries applying the DNSSEC protocol.  See the Unbound
##  documentation at http://unbound.net for the expected content of this file.
##  The results of using this and the TrustAnchorFile setting at the same
##  time are undefined.
##  In Debian, /etc/unbound/unbound.conf is shipped as part of the Suggested
##  unbound package

{{ '# ' if not postfix__dkim_opendkim_resolver }}ResolverConfiguration     {{ postfix__dkim_opendkim_resolverconfiguration }}

##  TrustAnchorFile filename
##      default (none)
##
## Specifies a file from which trust anchor data should be read when doing
## DNS queries and applying the DNSSEC protocol.  See the Unbound documentation
## at http://unbound.net for the expected format of this file.

TrustAnchorFile       {{ postfix__dkim_opendkim_trustanchorfile }}

##  Userid userid
###      default (none)
###
###  Change to user "userid" before starting normal operation?  May include
###  a group ID as well, separated from the userid by a colon.
#
UserID                {{ postfix__dkim_opendkim_userid }}
