###
### {{ ansible_managed }}
###

[DEFAULT]
ignoreip = {{ bootstrap__fail2ban_ignoreip | join(' ') }}
bantime  = {{ bootstrap__fail2ban_bantime }}
findtime  = {{ bootstrap__fail2ban_findtime }}
maxretry = {{ bootstrap__fail2ban_maxretry }}
