###
### {{ ansible_managed }}
###

[program:{{ service.name }}]
command={{ service.command }}
stdout_logfile={{ service.info_logfile }}
stderr_logfile={{ service.error_logfile }}
autostart={{ service.autostart | lower }}
autorestart={{ service.autorestart | lower }}
directory={{ service.directory }}
{% for var, value in service.environment.items() %}
environment={{ var }}='{{ value }}'
{% endfor %}
