/*
 *
 * {{ ansible_managed }}
 *
 */

object CheckCommand "pgactivity" {
	import "ipv4-or-ipv6"

	command = [ PluginLocalDir + "/check_pgactivity.pl" ]

	arguments = {
		"-s" = {
			value = "$pgactivity_service$"
			description = "The Nagios service to run."
		}
		"-S" = {
			value = "$pgactivity_dbservice$"
			description = "The connection service name from pg_service.conf to use."
		}
		"-h" = {
			value = "$pgactivity_address$"
			description = "Database server host or socket directory (default: $PGHOST or 'localhost')"
		}
		"-U" = {
			value = "$pgactivity_user$"
			description = "Database user name (default: $PGUSER or 'postgres')"
		}
		"-p" = {
			value = "$pgactivity_port$"
			description = "Port number (default: 5432)"
		}
		"-i" = {
			value = "$pgactivity_issuer$"
			description = "Certificate issuer name(s)"
		}
		"-w" = {
			value = "$pgactivity_warning$"
			description = "The Warning threshold."
		}
		"-c" = {
			value = "$pgactivity_critical$"
			description = "The Critical threshold."
		}
	}

	vars.pgactivity_service = "configuration"
	vars.pgactivity_dbservice = "nagios"
}
