###
### {{ ansible_managed }}
###

# NOTE: This is a legacy configuration file. It is not used by the opendkim
# systemd service. Please use the corresponding configuration parameters in
# /etc/opendkim.conf instead.
#
# Previously, one would edit the default settings here, and then execute
# /lib/opendkim/opendkim.service.generate to generate systemd override files at
# /etc/systemd/system/opendkim.service.d/override.conf and
# /etc/tmpfiles.d/opendkim.conf. While this is still possible, it is now
# recommended to adjust the settings directly in /etc/opendkim.conf.
#
{{ '#' if not mail_opendkim__daemon_opts }}DAEMON_OPTS="{{ mail_opendkim__daemon_opts }}"
# Change to /var/spool/postfix/run/opendkim to use a Unix socket with
# postfix in a chroot:
#RUNDIR=/var/spool/postfix/run/opendkim
RUNDIR={{ mail_opendkim__run_dir }}
#
# Uncomment to specify an alternate socket
# Note that setting this will override any Socket value in opendkim.conf
# default:
SOCKET={{ mail_opendkim__socket }}
# listen on all interfaces on port 54321:
#SOCKET=inet:54321
# listen on loopback on port 12345:
#SOCKET=inet:12345@localhost
# listen on 192.0.2.1 on port 12345:
#SOCKET=inet:12345@192.0.2.1
USER={{ mail_opendkim__user }}
GROUP={{ mail_opendkim__group }}
PIDFILE={{ mail_opendkim__pid_file }}
EXTRAAFTER={{ mail_opendkim__extraafter }}
