###
### {{ ansible_managed }}
###

{{ dovecot__log_path }}/*.log {
    daily
    rotate 28
    compress
    delaycompress
    missingok
    notifempty
    postrotate
        doveadm log reopen
    endscript
}
