###
### {{ ansible_managed }}
###

client_max_body_size {{ nextcloud__client_max_body_size }};
client_body_buffer_size {{ nextcloud__client_body_buffer_size }};
client_body_timeout {{ nextcloud__client_body_timeout }};
client_header_buffer_size {{ nextcloud__client_header_buffer_size }};
client_header_timeout {{ nextcloud__client_header_timeout }};
fastcgi_buffers {{ nextcloud__fastcgi_buffers }};
{{ 'add_header Referrer-Policy "no-referrer" always;' if nextcloud__header_no_referrer }}
{{ 'add_header X-Content-Type-Options "nosniff" always;' if nextcloud__header_nosniff }}
{{ 'add_header X-Download-Options "noopen" always;' if nextcloud__header_noopen }}
{{ 'add_header X-Frame-Options "SAMEORIGIN" always;' if nextcloud__header_sameorigin }}
{{ 'add_header X-Permitted-Cross-Domain-Policies "none" always;' if nextcloud__header_no_cross_domain_policies }}
{{ 'add_header X-Robots-Tag "none" always;' if nextcloud__header_no_robots }}
{{ 'add_header X-XSS-Protection "1; mode=block" always;' if nextcloud__header_xss_protection }}
{{ 'add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;' if nextcloud__header_sts }}
{{ 'fastcgi_hide_header X-Powered-By;' if nextcloud__header_hide_powered_by }}

index index.php index.html /index.php$request_uri;

location = / {
    if ( $http_user_agent ~ ^DavClnt ) {
        return 302 /remote.php/webdav/$is_args$args;
    }
}

location = /robots.txt {
    allow all;
    log_not_found off;
    access_log off;
}

location ^~ /.well-known {
    location = /.well-known/carddav {
        return 301 /remote.php/dav/;
    }
    location = /.well-known/caldav {
        return 301 /remote.php/dav/;
    }
    location /.well-known/acme-challenge {
        try_files $uri $uri/ =404;
    }
    location /.well-known/pki-validation {
        try_files $uri $uri/ =404;
    }
    return 301 /index.php$request_uri;
}

location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)(?:$|/) {
    return 404;
}

location ~ ^/(?:\.|autotest|occ|issue|indie|db_|console) {
    return 404;
}

location ~ \.php(?:$|/) {
    rewrite ^/(?!index|remote|public|cron|core\/ajax\/update|status|ocs\/v[12]|updater\/.+|oc[ms]-provider\/.+|.+\/richdocumentscode\/proxy) /index.php$request_uri;
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    set $path_info $fastcgi_path_info;
    try_files $fastcgi_script_name =404;
    include fastcgi.conf;
    fastcgi_param PATH_INFO $path_info;
    fastcgi_param HTTPS on;
    fastcgi_param modHeadersAvailable true;
    fastcgi_param front_controller_active true;
    fastcgi_pass php-handler;
    fastcgi_intercept_errors on;
    fastcgi_request_buffering off;
}

location ~ \.(?:css|js|svg|gif|png|jpg|ico)$ {
    try_files $uri /index.php$request_uri;
    expires 6M;
    access_log off;
}

location ~ \.woff2?$ {
    try_files $uri /index.php$request_uri;
    expires 7d;
    access_log off;
}

location /remote {
    return 301 /remote.php$request_uri;
}

location / {
    try_files $uri $uri/ /index.php$request_uri;
}
