###
### {{ ansible_managed }}
###

daily_backup_questdb_enable="YES"
daily_backup_questdb_backup_repo="{{ backup_questdb__backup_repo }}"
daily_backup_questdb_data_dir="{{ backup_questdb__data_dir }}"
daily_backup_questdb_keep_days="{{ backup_questdb__keep_days }}"
daily_backup_questdb_podman_container="{{ backup_questdb__container }}"
