# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description=podman socket via TCP
{% for requires in bootstrap_podman__tcp_requires %}
Requires={{ requires }}
{% endfor %}
{% for after in bootstrap_podman__tcp_requires %}
After={{ after }}
{% endfor %}
# See https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#StartLimitIntervalSec=interval
# These four entries ensure that the service is restarted on failure but only for a limited number of times.
StartLimitIntervalSec=infinity
StartLimitBurst=5

[Service]
Type=simple
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=podman system service tcp://{{ bootstrap_podman__tcp_address }}:{{ bootstrap_podman__tcp_port }} --time=0
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=default.target
