# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description=podman container images cleanup timer

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
