#
# {{ ansible_managed }}
#

{% for repo in repos %}
deb {{ "[signed-by=" + repo.keyring + "] " if repo.keyring is defined }}{{ repo.uri }} {{ repo.suite }} {{ repo.components | join(' ') }}
{% endfor %}
