#
# {{ ansible_managed }}
#

{% for repo in repos %}
deb {{ "[ " if repo.keyring is defined or repo.arch is defined }}{{ "signed-by=" + repo.keyring + " " if repo.keyring is defined }}{{ "arch=" + repo.arch + " " if repo.arch is defined }}{{ "]" if repo.keyring is defined or repo.arch is defined }}{{ repo.uri }} {{ repo.suite }} {{ repo.components | join(' ') }}
{% endfor %}
