###
### {{ ansible_managed }}
###

{{ powerdns__server_backend }}-host={{ powerdns__config_backend_host }}
{{ powerdns__server_backend }}-dbname={{ powerdns__config_backend_dbname }}
{{ powerdns__server_backend }}-user={{ powerdns__config_backend_user }}
{{ powerdns__server_backend }}-password={{ powerdns__config_backend_password }}
{{ powerdns__server_backend }}-dnssec={{ powerdns__config_backend_dnssec | ternary('yes','no') }}
