###
### {{ ansible_managed }}
###

{% if backup__enable is true %}
daily_backup_enable="YES"
daily_backup_dir="{{ backup__dir }}"
daily_backup_logfile="{{ backup__logfile }}"
daily_backup_error_logfile="{{ backup__error_logfile }}"

{%   if backup__borg_enable is true %}
daily_backup_borg_enable="YES"
daily_backup_borg_backup_dir="{{ backup__borg_backup_dir }}"
{%     if backup__borg_cache_dir | length > 0 %}
daily_backup_borg_cache_dir="{{ backup__borg_cache_dir }}"
{%     endif %}
{%     if backup__borg_rsh | length > 0 %}
daily_backup_borg_rsh="{{ backup__borg_rsh }}"
{%     endif %}
daily_backup_borg_options="{{ backup__borg_options }}"
daily_backup_borg_include="{{ backup__borg_include | join(' ') }}"
{%     if backup__borg_exclude | length > 0 %}
daily_backup_borg_exclude="{{ backup__borg_exclude | join(' ') }}"
{%     endif %}
{%   endif %}

{%   if backup__mysql_enable is true %}
daily_backup_mysql_enable="YES"
daily_backup_mysql_compress="{{ backup__mysql_compress | ternary('YES','NO') }}"
daily_backup_mysql_replication="{{ backup__mysql_replication | ternary('YES','NO') }}"
{%     if backup__mysql_backup_dir | length > 0 %}
daily_backup_mysql_backup_dir="{{ backup__mysql_backup_dir }}"
{%     endif %}
daily_backup_mysql_host="{{ backup__mysql_host }}"
daily_backup_mysql_user="{{ backup__mysql_user }}"
{%     if backup__mysql_password is defined %}
daily_backup_mysql_password="{{ backup__mysql_password }}"
{%     endif %}
{%     if backup__mysql_dump_options is defined %}
daily_backup_mysql_dump_options="{{ backup__mysql_dump_options }}"
{%     endif %}
daily_backup_mysql_ignore_databases="{{ backup__mysql_ignore_databases | join(' ') }}"
daily_backup_mysql_keep_days="-{{ backup__mysql_keep_days }}days"
{%   endif %}

{%   if backup__postgresql_enable is true %}
daily_backup_postgresql_enable="YES"
daily_backup_postgresql_compress="{{ backup__postgresql_compress | ternary('YES','NO') }}"
{%     if backup__postgresql_backup_dir | length > 0 %}
daily_backup_postgresql_backup_dir="{{ backup__postgresql_backup_dir }}"
{%     endif %}
daily_backup_postgresql_user="{{ backup__postgresql_user }}"
daily_backup_postgresql_ignore_databases="{{ backup__postgresql_ignore_databases | join(' ') }}"
daily_backup_postgresql_keep_days="-{{ backup__postgresql_keep_days }}days"
{%   endif %}

{%   if backup__openldap_enable is true %}
daily_backup_openldap_enable="YES"
daily_backup_openldap_compress="{{ backup__openldap_compress | ternary('YES','NO') }}"
daily_backup_openldap_keep_days="-{{ backup__openldap_keep_days }}days"
{%     if backup__openldap_backup_dir | length > 0 %}
daily_backup_openldap_backup_dir="{{ backup__openldap_backup_dir }}"
{%     endif %}
{%   endif %}

{% endif %}
