###
### File managed by Ansible
###
{% if enable is true %}
daily_backup_enable="YES"
daily_backup_logfile="{{ logfile }}"
daily_backup_error_logfile="{{ error_logfile }}"

{%   if borg_enable is true %}
daily_backup_borg_enable="YES"
daily_backup_borg_backup_dir="{{ borg_backup_dir }}"
{%     if borg_cache_dir | length > 0 %}
daily_backup_borg_cache_dir="{{ borg_cache_dir }}"
{%     endif %}
{%     if borg_rsh | length > 0 %}
daily_backup_borg_rsh="{{ borg_rsh }}"
{%     endif %}
daily_backup_borg_options="{{ borg_options }}"
daily_backup_borg_include="{{ borg_include | join(' ') }}"
{%     if borg_exclude | length > 0 %}
daily_backup_borg_exclude="{{ borg_exclude | join(' ') }}"
{%     endif %}
{%   endif %}

{%   if mysql_enable is true %}
daily_backup_mysql_enable="YES"
daily_backup_mysql_compress="{{ mysql_compress | ternary('YES','NO') }}"
daily_backup_mysql_replication="{{ mysql_replication | ternary('YES','NO') }}"
{%     if mysql_backup_dir | length > 0 %}
daily_backup_mysql_backup_dir="{{ mysql_backup_dir }}"
{%     endif %}
daily_backup_mysql_host="{{ mysql_host }}"
daily_backup_mysql_user="{{ mysql_user }}"
{%     if mysql_password is defined %}
daily_backup_mysql_password="{{ mysql_password }}"
{%     endif %}
daily_backup_mysql_ignore_databases="{{ mysql_ignore_databases | join(' ') }}"
daily_backup_mysql_keep_days="-{{ mysql_keep_days }}days"
{%   endif %}

{% endif %}
