###
### {{ ansible_managed }}
###

daily_backup_openldap_enable="YES"
daily_backup_openldap_compress="{{ backup_openldap__compress | ternary('YES','NO') }}"
daily_backup_openldap_backup_dir="{{ backup_openldap__backup_dir }}"
daily_backup_openldap_keep_days="-{{ backup_openldap__keep_days }}days"
