# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description=nextcloud cron

[Service]
Type=simple
User=www-data
WorkingDirectory={{ nextcloud__path }}
StandardOutput=file:{{ nextcloud__log_path }}/cron.log
StandardError=file:{{ nextcloud__log_path }}/cron.log
ExecStart=php cron.php
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
