# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description=nextcloud cleanup Timer

[Timer]
Unit=nextcloud-cleanup.service
OnCalendar=*-*-* 4:23:42

[Install]
WantedBy=multi-user.target
