# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description=nextcloud cron Timer

[Timer]
Unit=nextcloud-cron.service
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=multi-user.target
