###
### {{ ansible_managed }}
###

{{ '#' if dovecot__master_default_process_limit | length == 0 }}default_process_limit = {{ dovecot__master_default_process_limit | default(100) }}
{{ '#' if dovecot__master_default_client_limit | length == 0 }}default_client_limit = {{ dovecot__master_default_client_limit | default(1000) }}

# Default VSZ (virtual memory size) limit for service processes. This is mainly
# intended to catch and kill processes that leak memory before they eat up
# everything.
{{ '#' if dovecot__master_default_vsz_limit | length == 0 }}default_vsz_limit = {{ dovecot__master_default_vsz_limit | default('256M') }}

# Login user is internally used by login processes. This is the most untrusted
# user in Dovecot system. It shouldn't have access to anything at all.
{{ '#' if dovecot__master_default_login_user | length == 0 }}default_login_user = {{ dovecot__master_default_login_user | default('dovenull') }}

# Internal user is used by unprivileged processes. It should be separate from
# login user, so that login processes can't disturb other processes.
{{ '#' if dovecot__master_default_internal_user | length == 0 }}default_internal_user = {{ dovecot__master_default_internal_user | default('dovecot') }}

service imap-login {
  inet_listener imap {
    {{ '#' if dovecot__master_imap_login__imap__port == 0 }}port = {{ dovecot__master_imap_login__imap__port }}
  }
  inet_listener imaps {
    {{ '#' if dovecot__master_imap_login__imaps__port == 0 }}port = {{ dovecot__master_imap_login__imaps__port }}
    {{ '#' if dovecot__master_imap_login__imaps__port == 0 }}ssl = {{ dovecot__master_imap_login__imaps__ssl | ternary('yes', 'no') }}
  }

  # Number of connections to handle before starting a new process. Typically
  # the only useful values are 0 (unlimited) or 1. 1 is more secure, but 0
  # is faster. <doc/wiki/LoginProcess.txt>
  {{ '#' if dovecot__master_imap_login__service_count | length == 0 }}service_count = {{ dovecot__master_imap_login__service_count }}

  # Number of processes to always keep waiting for more connections.
  {{ '#' if dovecot__master_imap_login__process_min_avail | length == 0 }}process_min_avail = {{ dovecot__master_imap_login__process_min_avail }}

  # If you set service_count=0, you probably need to grow this.
  {{ '#' if dovecot__master_imap_login__vsz_limit | length == 0 }}vsz_limit = {{ dovecot__master_imap_login__vsz_limit }}
}

service pop3-login {
  inet_listener pop3 {
    {{ '#' if dovecot__master_pop3_login__pop3__port == 0 }}port = {{ dovecot__master_pop3_login__pop3__port }}
  }
  inet_listener pop3s {
    {{ '#' if dovecot__master_pop3_login__pop3s__port == 0 }}port = {{ dovecot__master_pop3_login__pop3s__port }}
    {{ '#' if dovecot__master_pop3_login__pop3s__port == 0 }}ssl = {{ dovecot__master_pop3_login__pop3s__ssl | ternary('yes', 'no') }}
  }
}

service submission-login {
  inet_listener submission {
    {{ '#' if dovecot__master_submission_login__submission__port | length == 0 }}port = {{ dovecot__master_submission_login__submission__port }}
  }
}

service lmtp {
  unix_listener {{ dovecot__master_lmtp__lmtp }} {
    {{ '#' if dovecot__master_lmtp__lmtp__mode | length == 0 }}mode = {{ dovecot__master_lmtp__lmtp__mode }}
  }

  # Create inet listener only if you can't use the above UNIX socket
  #inet_listener lmtp {
    # Avoid making LMTP visible for the entire internet
    #address =
    #port = 
  #}
}

service imap {
  # Most of the memory goes to mmap()ing files. You may need to increase this
  # limit if you have huge mailboxes.
  {{ '#' if dovecot__master_imap__vsz_limit | length == 0 }}vsz_limit = {{ dovecot__master_imap__vsz_limit }}

  # Max. number of IMAP processes (connections)
  {{ '#' if dovecot__master_imap__process_limit == 0 }}process_limit = {{ dovecot__master_imap__process_limit }}
}

service pop3 {
  # Max. number of POP3 processes (connections)
  {{ '#' if dovecot__master_pop3__process_limit == 0 }}process_limit = {{ dovecot__master_pop3__process_limit }}
}

service submission {
  # Max. number of SMTP Submission processes (connections)
  {{ '#' if dovecot__master_submission__process_limit == 0 }}process_limit = {{ dovecot__master_submission__process_limit }}
}

service auth {
  # auth_socket_path points to this userdb socket by default. It's typically
  # used by dovecot-lda, doveadm, possibly imap process, etc. Users that have
  # full permissions to this socket are able to get a list of all usernames and
  # get the results of everyone's userdb lookups.
  #
  # The default 0666 mode allows anyone to connect to the socket, but the
  # userdb lookups will succeed only if the userdb returns an "uid" field that
  # matches the caller process's UID. Also if caller's uid or gid matches the
  # socket's uid or gid the lookup succeeds. Anything else causes a failure.
  #
  # To give the caller full permissions to lookup all users, set the mode to
  # something else than 0666 and Dovecot lets the kernel enforce the
  # permissions (e.g. 0777 allows everyone full permissions).
  {{ '#' if not dovecot__master_auth__auth_userdb }}unix_listener auth-userdb {
    {{ '#' if not dovecot__master_auth__auth_userdb }}mode = {{ dovecot__master_auth__auth_userdb__mode }}
    {{ '#' if not dovecot__master_auth__auth_userdb }}user = {{ dovecot__master_auth__auth_userdb__user }}
    {{ '#' if not dovecot__master_auth__auth_userdb }}group = {{ dovecot__master_auth__auth_userdb__group }}
  {{ '#' if not dovecot__master_auth__auth_userdb }}}

  # Postfix smtp-auth
  {{ '#' if dovecot__master_auth__smtp_auth | length == 0 }}unix_listener {{ dovecot__master_auth__smtp_auth }} {
  {{ '#' if dovecot__master_auth__smtp_auth | length == 0 }}  mode = 0666
  {{ '#' if dovecot__master_auth__smtp_auth | length == 0 }}}

  # Auth process is run as this user.
  {{ '#' if dovecot__master_auth__user | length == 0 }}user = {{ dovecot__master_auth__user }}
}

service auth-worker {
  # Auth worker process is run as root by default, so that it can access
  # /etc/shadow. If this isn't necessary, the user should be changed to
  # $default_internal_user.
  {{ '#' if dovecot__master_auth__auth_worker__user | length == 0 }}user = {{ dovecot__master_auth__auth_worker__user }}
}

service dict {
  # If dict proxy is used, mail processes should have access to its socket.
  # For example: mode=0660, group=vmail and global mail_access_groups=vmail
  unix_listener dict {
    {{ '#' if dovecot__master_auth__dict__mode | length == 0 }}mode = {{ dovecot__master_auth__dict__mode }}
    {{ '#' if dovecot__master_auth__dict__user | length == 0 }}user = {{ dovecot__master_auth__dict__user }}
    {{ '#' if dovecot__master_auth__dict__group | length == 0 }}group = {{ dovecot__master_auth__dict__group }}
  }
}
