###
### {{ ansible_managed }}
###

# Authentication for LDAP users. Included from 10-auth.conf.
#
# <doc/wiki/AuthDatabase.LDAP.txt>

passdb {
  driver = ldap

  # Path for LDAP configuration file, see example-config/dovecot-ldap.conf.ext
  args = {{ dovecot__etc_path }}/dovecot-ldap.conf.ext
}

# "prefetch" user database means that the passdb already provided the
# needed information and there's no need to do a separate userdb lookup.
# <doc/wiki/UserDatabase.Prefetch.txt>
{{'#' if not conf.userdb__prefetch is defined }}userdb {
{{'#' if not conf.userdb__prefetch is defined }}  driver = prefetch
{{'#' if not conf.userdb__prefetch is defined }}}

{{'#' if not conf.userdb__ldap is defined }}userdb {
{{'#' if not conf.userdb__ldap is defined }}  driver = ldap
{{'#' if not conf.userdb__ldap is defined }}  args = {{ dovecot__etc_path }}/dovecot-ldap.conf.ext
{{'#' if not conf.userdb__ldap is defined }}  
{{'#' if not conf.userdb__ldap is defined }}  # Default fields can be used to specify defaults that LDAP may override
{{'#' if not conf.userdb__ldap is defined }}  {{'#' if not conf.userdb__ldap__default_fields is defined }}default_fields = {{ conf.userdb__ldap__default_fields | default('home=/home/virtual/%u') }}
{{'#' if not conf.userdb__ldap is defined }}}

# If you don't have any user-specific settings, you can avoid the userdb LDAP
# lookup by using userdb static instead of userdb ldap, for example:
# <doc/wiki/UserDatabase.Static.txt>
{{'#' if not conf.userdb__static is defined }}userdb {
{{'#' if not conf.userdb__static is defined }}  driver = static
{{'#' if not conf.userdb__static is defined }}  args = uid={{ conf.userdb__static__uid | default('vmail') }} gid={{ conf.userdb__static__gid | default('vmail') }} home={{ conf.userdb__static__home | default('/var/vmail/%u') }}
{{'#' if not conf.userdb__static is defined }}}
