###
### {{ ansible_managed }}
###

# Authentication for LDAP users. Included from 10-auth.conf
#
# <doc/wiki/AuthDatabase.LDAP.txt>

passdb {
  driver = ldap

  # Path for LDAP configuration file, see example-config/dovecot-ldap.conf.ext
  args = {{ dovecot__etc_path }}/dovecot-ldap.conf.ext
}

# "prefetch" user database means that the passdb already provided the
# needed information and there's no need to do a separate userdb lookup.
# <doc/wiki/UserDatabase.Prefetch.txt>
{{ '#' if not dovecot__ldap_userdb__prefetch }}userdb {
{{ '#' if not dovecot__ldap_userdb__prefetch }}  driver = prefetch
{{ '#' if not dovecot__ldap_userdb__prefetch }}}

{{ '#' if not dovecot__ldap_userdb__ldap }}userdb {
{{ '#' if not dovecot__ldap_userdb__ldap }}  driver = ldap
{{ '#' if not dovecot__ldap_userdb__ldap }}  args = {{ dovecot__etc_path }}/dovecot-ldap.conf.ext
{{ '#' if not dovecot__ldap_userdb__ldap }}  
{{ '#' if not dovecot__ldap_userdb__ldap }}  # Default fields can be used to specify defaults that LDAP may override
{{ '#' if not dovecot__ldap_userdb__ldap }}  {{ '#' if dovecot__ldap_userdb__ldap__default_fields | length == 0 }}default_fields = {{ dovecot__ldap_userdb__ldap__default_fields }}
{{ '#' if not dovecot__ldap_userdb__ldap }}}

# If you don't have any user-specific settings, you can avoid the userdb LDAP
# lookup by using userdb static instead of userdb ldap, for example:
# <doc/wiki/UserDatabase.Static.txt>
{{ '#' if not dovecot__ldap_userdb__static }}userdb {
{{ '#' if not dovecot__ldap_userdb__static }}  driver = static
{{ '#' if not dovecot__ldap_userdb__static }}  args = uid={{ dovecot__ldap_userdb__static__uid }} gid={{ dovecot__ldap_userdb__static__gid }} home={{ dovecot__ldap_userdb__static__home }}
{{ '#' if not dovecot__ldap_userdb__static }}}
