###
### {{ ansible_managed }}
###

# This file is commonly accessed via passdb {} or userdb {} section in
# conf.d/auth-ldap.conf.ext

# This file is opened as root, so it should be owned by root and mode 0600.
#
# http://wiki2.dovecot.org/AuthDatabase/LDAP
#
# NOTE: If you're not using authentication binds, you'll need to give
# dovecot-auth read access to userPassword field in the LDAP server.
# With OpenLDAP this is done by modifying /etc/ldap/slapd.conf. There should
# already be something like this:

# access to attribute=userPassword
#        by dn="<dovecot's dn>" read # add this
#        by anonymous auth
#        by self write
#        by * none

# Space separated list of LDAP hosts to use. host:port is allowed too.
{{'#' if not conf.hosts is defined }}hosts = {{ conf.hosts | default([]) | join(' ') }}

# LDAP URIs to use. You can use this instead of hosts list. Note that this
# setting isn't supported by all LDAP libraries.
{{'#' if not conf.uris is defined }}uris = {{ conf.uris | default([]) | join(' ') }}

# Distinguished Name - the username used to login to the LDAP server.
# Leave it commented out to bind anonymously (useful with auth_bind=yes).
{{'#' if not conf.dn is defined }}dn = {{ conf.dn | default('') }}

# Password for LDAP server, if dn is specified.
{{'#' if not conf.dnpass is defined }}dnpass = {{ conf.dnpass | default('') }}

# Use SASL binding instead of the simple binding. Note that this changes
# ldap_version automatically to be 3 if it's lower.
{{'#' if not conf.sasl_bind is defined }}sasl_bind = {{ conf.sasl_bind | default(false) | ternary('yes', 'no') }}
# SASL mechanism name to use.
{{'#' if not conf.sasl_mech is defined }}sasl_mech = {{ conf.sasl_mech | default('') }}
# SASL realm to use.
{{'#' if not conf.sasl_realm is defined }}sasl_realm = {{ conf.sasl_realm | default('') }}
# SASL authorization ID, ie. the dnpass is for this "master user", but the
# dn is still the logged in user. Normally you want to keep this empty.
{{'#' if not conf.sasl_authz_id is defined }}sasl_authz_id = {{ conf.sasl_authz_id | default('') }}

# Use TLS to connect to the LDAP server.
{{'#' if not conf.tls is defined }}tls = {{ conf.tls | default(false) | ternary('yes', 'no') }}
# TLS options, currently supported only with OpenLDAP:
{{'#' if not conf.tls_ca_cert_file is defined }}tls_ca_cert_file = {{ conf.tls_ca_cert_file | default('') }}
{{'#' if not conf.tls_ca_cert_dir is defined }}tls_ca_cert_dir = {{ conf.tls_ca_cert_dir | default('') }}
{{'#' if not conf.tls_cipher_suite is defined }}tls_cipher_suite = {{ conf.tls_cipher_suite | default('') }}
# TLS cert/key is used only if LDAP server requires a client certificate.
{{'#' if not conf.tls_cert_file is defined }}tls_cert_file = {{ conf.tls_cert_file | default('') }}
{{'#' if not conf.tls_key_file is defined }}tls_key_file = {{ conf.tls_key_file | default('') }}
# Valid values: never, hard, demand, allow, try
{{'#' if not conf.tls_require_cert is defined }}tls_require_cert = {{ conf.tls_require_cert | default('') }}

# Use the given ldaprc path.
{{'#' if not conf.ldaprc_path is defined }}ldaprc_path = {{ conf.ldaprc_path | default('') }}

# LDAP library debug level as specified by LDAP_DEBUG_* in ldap_log.h.
# -1 = everything. You may need to recompile OpenLDAP with debugging enabled
# to get enough output.
{{'#' if not conf.debug_level is defined }}debug_level = {{ conf.debug_level | default(0) }}

# Use authentication binding for verifying password's validity. This works by
# logging into LDAP server using the username and password given by client.
# The pass_filter is used to find the DN for the user. Note that the pass_attrs
# is still used, only the password field is ignored in it. Before doing any
# search, the binding is switched back to the default DN.
{{'#' if not conf.auth_bind is defined }}auth_bind = {{ conf.auth_bind | default(false) | ternary('yes', 'no') }}

# If authentication binding is used, you can save one LDAP request per login
# if users' DN can be specified with a common template. The template can use
# the standard %variables (see user_filter). Note that you can't
# use any pass_attrs if you use this setting.
#
# If you use this setting, it's a good idea to use a different
# dovecot-ldap.conf.ext for userdb (it can even be a symlink, just as long as
# the filename is different in userdb's args). That way one connection is used
# only for LDAP binds and another connection is used for user lookups.
# Otherwise the binding is changed to the default DN before each user lookup.
#
# For example:
#   auth_bind_userdn = cn=%u,ou=people,o=org
#
{{'#' if not conf.auth_bind_userdn is defined }}auth_bind_userdn = {{ conf.auth_bind_userdn | default('') }}

# LDAP protocol version to use. Likely 2 or 3.
{{'#' if not conf.ldap_version is defined }}ldap_version = {{ conf.ldap_version | default(3) }}

# LDAP base. %variables can be used here.
# For example: dc=mail, dc=example, dc=org
base = {{ conf.base | default('') }}

# Dereference: never, searching, finding, always
{{'#' if not conf.deref is defined }}deref = {{ conf.deref | default('never') }}

# Search scope: base, onelevel, subtree
{{'#' if not conf.scope is defined }}scope = {{ conf.scope | default('subtree') }}

# User attributes are given in LDAP-name=dovecot-internal-name list. The
# internal names are:
#   uid - System UID
#   gid - System GID
#   home - Home directory
#   mail - Mail location
#
# There are also other special fields which can be returned, see
# http://wiki2.dovecot.org/UserDatabase/ExtraFields
{{'#' if not conf.user_attrs is defined }}user_attrs = {{ conf.user_attrs | default('homeDirectory=home,uidNumber=uid,gidNumber=gid') }}

# Filter for user lookup. Some variables can be used (see
# http://wiki2.dovecot.org/Variables for full list):
#   %u - username
#   %n - user part in user@domain, same as %u if there's no domain
#   %d - domain part in user@domain, empty if user there's no domain
{{'#' if not conf.user_filter is defined }}user_filter = {{ conf.user_filter | default('(&(objectClass=posixAccount)(uid=%u))') }}

# Password checking attributes:
#  user: Virtual user name (user@domain), if you wish to change the
#        user-given username to something else
#  password: Password, may optionally start with {type}, eg. {crypt}
# There are also other special fields which can be returned, see
# http://wiki2.dovecot.org/PasswordDatabase/ExtraFields
{{'#' if not conf.pass_attrs is defined }}pass_attrs = {{ conf.pass_attrs | default('uid=user,userPassword=password') }}

# If you wish to avoid two LDAP lookups (passdb + userdb), you can use
# userdb prefetch instead of userdb ldap in dovecot.conf. In that case you'll
# also have to include user_attrs in pass_attrs field prefixed with "userdb_"
# string. For example:
#pass_attrs = uid=user,userPassword=password,\
#  homeDirectory=userdb_home,uidNumber=userdb_uid,gidNumber=userdb_gid

# Filter for password lookups
{{'#' if not conf.pass_filter is defined }}pass_filter = {{ conf.pass_filter | default('(&(objectClass=posixAccount)(uid=%u))') }}

# Attributes and filter to get a list of all users
{{'#' if not conf.iterate_attrs is defined }}iterate_attrs = {{ conf.iterate_attrs | default('uid=user') }}
{{'#' if not conf.iterate_filter is defined }}iterate_filter = {{ conf.iterate_filter | default('(objectClass=posixAccount)') }}

# Default password scheme. "{scheme}" before password overrides this.
# List of supported schemes is in: http://wiki2.dovecot.org/Authentication
{{'#' if not conf.default_pass_scheme is defined }}default_pass_scheme = {{ conf.default_pass_scheme | default('CRYPT') }}

# By default all LDAP lookups are performed by the auth master process.
# If blocking=yes, auth worker processes are used to perform the lookups.
# Each auth worker process creates its own LDAP connection so this can
# increase parallelism. With blocking=no the auth master process can
# keep 8 requests pipelined for the LDAP connection, while with blocking=yes
# each connection has a maximum of 1 request running. For small systems the
# blocking=no is sufficient and uses less resources.
{{'#' if not conf.blocking is defined }}blocking = {{ conf.blocking | default(false) | ternary('yes', 'no') }}
