###
### {{ ansible_managed }}
###

# Space separated list of LDAP hosts to use. host:port is allowed too.
{{ '#' if dovecot__plugin_sieve_ldap_hosts | length == 0 }}hosts = {{ dovecot__plugin_sieve_ldap_hosts | join(' ') }}

# LDAP URIs to use. You can use this instead of hosts list. Note that this
# setting isn't supported by all LDAP libraries.
{{ '#' if dovecot__plugin_sieve_ldap_uris | length == 0 }}uris = {{ dovecot__plugin_sieve_ldap_uris | join(' ') }}

# Distinguished Name - the username used to login to the LDAP server.
# Leave it commented out to bind anonymously (useful with auth_bind=yes).
{{ '#' if dovecot__plugin_sieve_ldap_dn | length == 0 }}dn = {{ dovecot__plugin_sieve_ldap_dn }}

# Password for LDAP server, if dn is specified.
{{ '#' if dovecot__plugin_sieve_ldap_dnpass | length == 0 }}dnpass = {{ dovecot__plugin_sieve_ldap_dnpass }}

# Use SASL binding instead of the simple binding. Note that this changes
# ldap_version automatically to be 3 if it's lower.
sasl_bind = {{ dovecot__plugin_sieve_ldap_sasl_bind | ternary('yes', 'no') }}
# SASL mechanism name to use.
{{ '#' if dovecot__plugin_sieve_ldap_sasl_mech | length == 0 }}sasl_mech = {{ dovecot__plugin_sieve_ldap_sasl_mech }}
# SASL realm to use.
{{ '#' if dovecot__plugin_sieve_ldap_sasl_realm | length == 0 }}sasl_realm = {{ dovecot__plugin_sieve_ldap_sasl_realm }}
# SASL authorization ID, ie. the dnpass is for this "master user", but the
# dn is still the logged in user. Normally you want to keep this empty.
{{ '#' if dovecot__plugin_sieve_ldap_sasl_authz_id | length == 0 }}sasl_authz_id = {{ dovecot__plugin_sieve_ldap_sasl_authz_id }}

# Use TLS to connect to the LDAP server.
tls = {{ dovecot__plugin_sieve_ldap_tls | ternary('yes', 'no') }}
# TLS options, currently supported only with OpenLDAP:
{{ '#' if dovecot__plugin_sieve_ldap_tls_ca_cert_file | length == 0 }}tls_ca_cert_file = {{ dovecot__plugin_sieve_ldap_tls_ca_cert_file }}
{{ '#' if dovecot__plugin_sieve_ldap_tls_ca_cert_dir | length == 0 }}tls_ca_cert_dir = {{ dovecot__plugin_sieve_ldap_tls_ca_cert_dir }}
{{ '#' if dovecot__plugin_sieve_ldap_tls_cipher_suite | length == 0 }}tls_cipher_suite = {{ dovecot__plugin_sieve_ldap_tls_cipher_suite }}
# TLS cert/key is used only if LDAP server requires a client certificate.
{{ '#' if dovecot__plugin_sieve_ldap_tls_cert_file | length == 0 }}tls_cert_file = {{ dovecot__plugin_sieve_ldap_tls_cert_file }}
{{ '#' if dovecot__plugin_sieve_ldap_tls_key_file | length == 0 }}tls_key_file = {{ dovecot__plugin_sieve_ldap_tls_key_file }}
# Valid values: never, hard, demand, allow, try
{{ '#' if dovecot__plugin_sieve_ldap_tls_require_cert | length == 0 }}tls_require_cert = {{ dovecot__plugin_sieve_ldap_tls_require_cert }}

# Use the given ldaprc path.
{{ '#' if dovecot__plugin_sieve_ldap_ldaprc_path | length == 0 }}ldaprc_path = {{ dovecot__plugin_sieve_ldap_ldaprc_path }}

# LDAP library debug level as specified by LDAP_DEBUG_* in ldap_log.h.
# -1 = everything. You may need to recompile OpenLDAP with debugging enabled
# to get enough output.
debug_level = {{ dovecot__plugin_sieve_ldap_debug_level }}

# LDAP protocol version to use. Likely 2 or 3.
ldap_version = {{ dovecot__plugin_sieve_ldap_ldap_version | default(3) }}

# LDAP base. %variables can be used here.
# For example: dc=mail, dc=example, dc=org
base = {{ dovecot__plugin_sieve_ldap_base }}

# Dereference: never, searching, finding, always
{{ '#' if dovecot__plugin_sieve_ldap_deref | length == 0 }}deref = {{ dovecot__plugin_sieve_ldap_deref }}

# Search scope: base, onelevel, subtree
{{ '#' if dovecot__plugin_sieve_ldap_scope | length == 0 }}scope = {{ dovecot__plugin_sieve_ldap_scope }}

# Filter for user lookup. Some variables can be used:
#   %u      - username
#   %n      - user part in user@domain, same as %u if there's no domain
#   %d      - domain part in user@domain, empty if there's no domain
#   %{name} - name of the Sieve script
sieve_ldap_filter = {{ dovecot__plugin_sieve_ldap_filter }}

# Attribute containing the Sieve script
sieve_ldap_script_attr = {{ dovecot__plugin_sieve_ldap_script_attr }}

# Attribute used for modification tracking
sieve_ldap_mod_attr = {{ dovecot__plugin_sieve_ldap_mod_attr }}
