###
### {{ ansible_managed }}
###

{% for acl in mosquitto_server__acl_global.topics | default([]) %}
topic {{ acl.access }} {{ acl.topic }}
{% endfor %}

{% for acl in mosquitto_server__acl_global.patterns | default([]) %}
pattern {{ acl.access }} {{ acl.topic }}
{% endfor %}

{% for user, acls in mosquitto_server__acl_per_user.items() %}
user {{ user }}
{% for acl in acls %}
topic {{ acl.access }} {{ acl.topic }}
{% endfor %}

{% endfor %}
