###
### {{ ansible_managed }}
###

acl_file {{ mosquitto_server__acl_file }}
password_file {{ mosquitto_server__password_file }}

allow_anonymous {{ mosquitto_server__allow_anonymous | ternary('true', 'false') }}
allow_duplicate_messages {{ mosquitto_server__allow_duplicate_messages | ternary('true', 'false') }}
{{ 'log_type debug' if mosquitto_server__log_type_debug }}
{{ 'log_type error' if mosquitto_server__log_type_error }}
{{ 'log_type warning' if mosquitto_server__log_type_warning }}
{{ 'log_type notice' if mosquitto_server__log_type_notice }}
{{ 'log_type information' if mosquitto_server__log_type_information }}
{{ 'log_type subscribe' if mosquitto_server__log_type_subscribe }}
{{ 'log_type unsubscribe' if mosquitto_server__log_type_unsubscribe }}
{{ 'log_type websockets' if mosquitto_server__log_type_websockets }}

{% if mosquitto_server__persistence %}
persistence true
persistence_file {{ mosquitto_server__persistence_file }}
persistence_location {{ mosquitto_server__persistence_location }}
{% endif %}

{% for listener in mosquitto_server__listeners %}
listener {{ listener.port | mandatory }}
protocol {{ listener.protocol | mandatory }}
{{ 'cafile ' + listener.cafile if listener.cafile is defined  }}
{{ 'certfile ' + listener.certfile if listener.certfile is defined  }}
{{ 'keyfile ' + listener.keyfile if listener.keyfile is defined  }}
{% endfor %}

