###
### {{ ansible_managed }}
###

acl_file /mosquitto/config/aclfile
password_file /mosquitto/config/pwfile

allow_anonymous {{ mosquitto_server__allow_anonymous | ternary('true', 'false') }}
{{ 'log_type debug' if mosquitto_server__log_type_debug }}
{{ 'log_type error' if mosquitto_server__log_type_error }}
{{ 'log_type warning' if mosquitto_server__log_type_warning }}
{{ 'log_type notice' if mosquitto_server__log_type_notice }}
{{ 'log_type information' if mosquitto_server__log_type_information }}
{{ 'log_type subscribe' if mosquitto_server__log_type_subscribe }}
{{ 'log_type unsubscribe' if mosquitto_server__log_type_unsubscribe }}
{{ 'log_type websockets' if mosquitto_server__log_type_websockets }}

{% if mosquitto_server__persistence %}
persistence true
persistence_file mosquitto.db
persistence_location /mosquitto/data
{% endif %}

listener 1883
protocol mqtt
{% if mosquitto_server__tls %}
listener 8883
protocol mqtt
cafile /mosquitto/config/ca.pem
certfile /mosquitto/config/cert.pem
keyfile /mosquitto/config/key.pem
{% endif %}

{% for bridge in mosquitto_server__bridges %}
connection {{ bridge.connection }}
address {{ bridge.address }}
remote_username {{ bridge.remote_username }}
remote_password {{ bridge.remote_password }}
{{ 'remote_clientid ' + bridge.remote_clientid if bridge.remote_clientid is defined }}
{{ 'bridge_cafile ' + bridge.bridge_cafile if bridge.bridge_cafile is defined }}
{{ 'bridge_tls_version ' + bridge.bridge_tls_version if bridge.bridge_tls_version is defined }}
{%   for topic in bridge.topics %}
topic {{ topic }}
{%   endfor %}
{% endfor %}
