;
; {{ ansible_managed }}
;

[{{ icingaweb__authentication_section }}]
backend = "{{ icingaweb__authentication_backend }}"
resource = "{{ icingaweb__authentication_resource }}"

{% if icingaweb__authentication_backend == "ldap" %}
base_dn = "{{ icingaweb__authentication_base_dn }}"
user_class = "{{ icingaweb__authentication_user_class }}"
user_name_attribute = "{{ icingaweb__authentication_user_name_attribute }}"
filter = "{{ icingaweb__authentication_filter }}"
{% endif %}
