;
; {{ ansible_managed }}
;
[global]
{% for key, value in icingaweb__config_global.items() %}
{{ key }} = "{{ value }}"
{% endfor %}

[logging]
{% for key, value in icingaweb__config_logging.items() %}
{{ key }} = "{{ value }}"
{% endfor %}
