###
### {{ ansible_managed }}
###

location /cgi-bin/ {
  gzip off;
  root {{ nginx__cgi_path }};
  fastcgi_pass {{ nginx__cgi_fcgiwrap_socket }};
  include fastcgi_params;
  fastcgi_param SCRIPT_FILENAME  {{ nginx__cgi_path }}$fastcgi_script_name;
}
