###
### {{ ansible_managed }}
###

access_log {{ nginx__status_access_log | ternary('on', 'off') }};
allow {{ nginx__status_allow }};
deny all;

include fastcgi.conf;
fastcgi_index index.php;
fastcgi_pass php-handler;
