###
### {{ ansible_managed }}
###

domain {{ bootstrap__resolv_domain }}
search {{ bootstrap__resolv_search | join(' ') }}
{% for nameserver in bootstrap__resolv_nameserver %}
nameserver {{ nameserver }}
{% endfor %}
