# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description={{ systemd_service__description }}
{{ 'Documentation=' + systemd_service__documentation + '\n' if systemd_service__documentation | length > 0 -}}
{% for wants in systemd_service__wants %}
Wants={{ wants }}
{% endfor %}
{% for requires in systemd_service__requires %}
Requires={{ requires }}
{% endfor %}
{% for requisite in systemd_service__requisite %}
Requisite={{ requisite }}
{% endfor %}
{% for binds_to in systemd_service__binds_to %}
BindsTo={{ binds_to }}
{% endfor %}
{% for part_of in systemd_service__part_of %}
PartOf={{ part_of }}
{% endfor %}
{% for uphold in systemd_service__upholds %}
Upholds={{ uphold }}
{% endfor %}
{% for conflict in systemd_service__conflicts %}
Conflicts={{ conflict }}
{% endfor %}
{% for before in systemd_service__before %}
Before={{ before }}
{% endfor %}
{% for after in systemd_service__after %}
After={{ after }}
{% endfor %}
{{ 'OnFailure=' + systemd_service__on_failure | join(' ') + '\n' if systemd_service__on_failure | length > 0 -}}
{{ 'OnSuccess=' + systemd_service__on_success | join(' ') + '\n' if systemd_service__on_success | length > 0 -}}
{{ 'PropagatesReloadTo=' + systemd_service__propagates_reload_to | join(' ') + '\n' if systemd_service__propagates_reload_to | length > 0 -}}
{{ 'ReloadPropagatedFrom=' + systemd_service__reload_propagated_from | join(' ') + '\n' if systemd_service__reload_propagated_from | length > 0 -}}
{{ 'PropagatesStopTo=' + systemd_service__propagates_stop_to | join(' ') + '\n' if systemd_service__propagates_stop_to | length > 0 -}}
{{ 'StopPropagatedFrom=' + systemd_service__stop_propagated_from | join(' ') + '\n' if systemd_service__stop_propagated_from | length > 0 -}}
{{ 'JoinsNamespaceOf=' + systemd_service__joins_namespace_of | join(' ') + '\n' if systemd_service__joins_namespace_of | length > 0 -}}
{{ 'RequiresMountsFor=' + systemd_service__requires_mounts_for | join(' ') + '\n' if systemd_service__requires_mounts_for | length > 0 -}}
{{ 'WantsMountsFor=' + systemd_service__wants_mounts_for | join(' ') + '\n' if systemd_service__wants_mounts_for | length > 0 -}}
{{ 'OnSuccessJobMode=' + systemd_service__on_success_job_mode + '\n' if systemd_service__on_success_job_mode | length > 0 -}}
{{ 'OnFailureJobMode=' + systemd_service__on_failure_job_mode + '\n' if systemd_service__on_failure_job_mode | length > 0 -}}
{{ 'IgnoreOnIsolate=' + systemd_service__ignore_on_isolate | ternary('true', 'false') + '\n' if systemd_service__ignore_on_isolate | length > 0 -}}
{{ 'StopWhenUnneeded=' + systemd_service__stop_when_unneeded | ternary('true', 'false') + '\n' if systemd_service__stop_when_unneeded | length > 0 -}}
{{ 'RefuseManualStart=' + systemd_service__refuse_manual_start | ternary('true', 'false') + '\n' if systemd_service__refuse_manual_start | length > 0 -}}
{{ 'RefuseManualStop=' + systemd_service__refuse_manual_stop | ternary('true', 'false') + '\n' if systemd_service__refuse_manual_stop | length > 0 -}}
{{ 'AllowIsolate=' + systemd_service__allow_isolate | ternary('true', 'false') + '\n' if systemd_service__allow_isolate | length > 0 -}}
{{ 'DefaultDependencies=' + systemd_service__default_dependencies | ternary('yes', 'no') + '\n' if systemd_service__default_dependencies | length > 0 -}}
{{ 'SurviveFinalKillSignal=' + systemd_service__survive_final_kill_signal | ternary('yes', 'no') + '\n' if systemd_service__survive_final_kill_signal | length > 0 -}}
{{ 'CollectMode=' + systemd_service__collect_mode + '\n' if systemd_service__collect_mode | length > 0 -}}
{{ 'FailureAction=' + systemd_service__failure_action + '\n' if systemd_service__failure_action | length > 0 -}}
{{ 'SuccessAction=' + systemd_service__success_action + '\n' if systemd_service__success_action | length > 0 -}}
{{ 'FailureActionExitStatus=' + systemd_service__failure_action_exit_status + '\n' if systemd_service__failure_action_exit_status | length > 0 -}}
{{ 'SuccessActionExitStatus=' + systemd_service__success_action_exit_status + '\n' if systemd_service__success_action_exit_status | length > 0 -}}
{{ 'JobTimeoutSec=' + systemd_service__job_timeout_sec + '\n' if systemd_service__job_timeout_sec | length > 0 -}}
{{ 'JobRunningTimeoutSec=' + systemd_service__job_running_timeout_sec + '\n' if systemd_service__job_running_timeout_sec | length > 0 -}}
{{ 'JobTimeoutAction=' + systemd_service__job_timeout_action + '\n' if systemd_service__job_timeout_action | length > 0 -}}
{{ 'JobTimeoutRebootArgument=' + systemd_service__job_timeout_reboot_argument + '\n' if systemd_service__job_timeout_reboot_argument | length > 0 -}}
{{ 'StartLimitIntervalSec=' + systemd_service__start_limit_interval_sec + '\n' if systemd_service__start_limit_interval_sec | length > 0 -}}
{{ 'StartLimitBurst=' + systemd_service__start_limit_burst + '\n' if systemd_service__start_limit_burst | length > 0 -}}
{{ 'RebootArgument=' + systemd_service__reboot_argument + '\n' if systemd_service__reboot_argument | length > 0 -}}
{{ 'StartLimitAction=' + systemd_service__start_limit_action + '\n' if systemd_service__start_limit_action | length > 0 -}}

[Service]
Type={{ systemd_service__type }}
{{ 'ExitType=' + systemd_service__exit_type + '\n' if systemd_service__exit_type | length > 0 -}}
{{ 'RemainAfterExit=' + systemd_service__remain_after_exit | ternary('yes', 'no') + '\n' if systemd_service__remain_after_exit | length > 0 -}}
{{ 'GuessMainPID=' + systemd_service__guess_main_pid | ternary('yes', 'no') + '\n' if systemd_service__guess_main_pid | length > 0 -}}
{{ 'PIDFile=' +  + '\n' if systemd_service__pid_file | length > 0 -}}
{{ 'BusName=' + systemd_service__bus_name + '\n' if systemd_service__bus_name | length > 0 -}}
{% for environment in systemd_service__environment %}
Environment={{ environment }}
{% endfor %}
{% for command in systemd_service__exec_start %}
ExecStart={{ command }}
{% endfor %}
{% for command in systemd_service__exec_start_pre %}
ExecStartPre={{ command }}
{% endfor %}
{%  for command in systemd_service__exec_start_post %}
ExecStartPost={{ command }}
{% endfor %}
{% for command in systemd_service__exec_condition %}
ExecCondition={{ command }}
{% endfor %}
{% for command in systemd_service__exec_reload %}
ExecReload={{ command }}
{% endfor %}
{% for command in systemd_service__exec_stop %}
ExecStop={{ command }}
{% endfor %}
{% for command in systemd_service__exec_stop_post %}
ExecStopPost={{ command }}
{% endfor %}
{{ 'RestartSec=' + systemd_service__restart_sec + '\n' if systemd_service__restart_sec | length > 0 -}}
{{ 'RestartSteps=' + systemd_service__restart_steps + '\n' if systemd_service__restart_steps | length > 0 -}}
{{ 'RestartMaxDelaySec=' + systemd_service__restart_max_delay_sec + '\n' if systemd_service__restart_max_delay_sec | length > 0 -}}
{{ 'TimeoutStartSec=' + systemd_service__timeout_start_sec + '\n' if systemd_service__timeout_start_sec | length > 0 -}}
{{ 'TimeoutStopSec=' + systemd_service__timeout_stop_sec + '\n' if systemd_service__timeout_stop_sec | length > 0 -}}
{{ 'TimeoutAbortSec=' + systemd_service__timeout_abort_sec + '\n' if systemd_service__timeout_abort_sec | length > 0 -}}
{{ 'TimeoutStartFailureMode=' + systemd_service__timeout_start_failure_mode + '\n' if systemd_service__timeout_start_failure_mode | length > 0 -}}
{{ 'TimeoutStopFailureMode=' + systemd_service__timeout_stop_failure_mode + '\n' if systemd_service__timeout_stop_failure_mode | length > 0 -}}
{{ 'RuntimeMaxSec=' + systemd_service__runtime_max_sec + '\n' if systemd_service__runtime_max_sec | length > 0 -}}
{{ 'RuntimeRandomizedExtraSec=' + systemd_service__runtime_randomized_extra_sec + '\n' if systemd_service__runtime_randomized_extra_sec | length > 0 -}}
{{ 'WatchdogSec=' + systemd_service__watchdog_sec + '\n' if systemd_service__watchdog_sec | length > 0 -}}
{{ 'Restart=' + systemd_service__restart + '\n' if systemd_service__restart | length > 0 -}}
{{ 'RestartMode=' + systemd_service__restart_mode + '\n' if systemd_service__restart_mode | length > 0 -}}
{{ 'SuccessExitStatus=' + systemd_service__success_exit_status | join(' ') + '\n' if systemd_service__success_exit_status | length > 0 -}}
{{ 'RestartPreventExitStatus=' + systemd_service__restart_prevent_exit_status | join(' ') + '\n' if systemd_service__restart_prevent_exit_status | length > 0 -}}
{{ 'RestartForceExitStatus=' + systemd_service__restart_force_exit_status | join(' ') + '\n' if systemd_service__restart_force_exit_status | length > 0 -}}
{{ 'RootDirectoryStartOnly=' + systemd_service__root_directory_start_only | ternary('true', 'false') + '\n' if systemd_service__root_directory_start_only | length > 0 -}}
{{ 'NonBlocking=' + systemd_service__non_blocking | ternary('true', 'false') + '\n' if systemd_service__non_blocking | length > 0 -}}
{{ 'NotifyAccess=' + systemd_service__notify_access + '\n' if systemd_service__notify_access | length > 0 -}}
{% for socket in systemd_service__sockets %}
Sockets={{ socket }}
{%  endfor %}
{{ 'FileDescriptorStoreMax=' + systemd_service__file_descriptor_store_max + '\n' if systemd_service__file_descriptor_store_max | length > 0 -}}
{{ 'FileDescriptorStorePreserve=' +  systemd_service__file_descriptor_store_preserve + '\n' if systemd_service__file_descriptor_store_preserve | length > 0 -}}
{{ 'USBFunctionDescriptors=' + systemd_service__usb_function_descriptors + '\n' if systemd_service__usb_function_descriptors | length > 0 -}}
{{ 'USBFunctionStrings=' + systemd_service__usb_function_strings + '\n' if systemd_service__usb_function_strings | length > 0 -}}
{{ 'OOMPolicy=' + systemd_service__oom_policy + '\n' if systemd_service__oom_policy | length > 0 -}}
{% for file in systemd_service__open_file %}
OpenFile={{ file }}
{% endfor %}
{{ 'ReloadSignal=' + systemd_service__reload_signal + '\n' if systemd_service__reload_signal | length > 0 -}}

[Install]
{% for alias in systemd_service__alias %}
Alias={{ alias }}
{% endfor %}
{% for wanted in systemd_service__wanted_by %}
WantedBy={{ wanted }}
{% endfor %}
{% for required in systemd_service__required_by %}
RequiredBy={{ required }}
{% endfor %}
{% for upheld in systemd_service__upheld_by %}
UpheldBy={{ upheld }}
{% endfor %}
{% for also in systemd_service__also %}
Also={{ also }}
{% endfor %}
