##################### Grafana Configuration Example #####################
#
# Everything has defaults so you only need to uncomment things you want to
# change

# possible values : production, development
app_mode = {{ app_grafana__app_mode }}

#################################### Paths ####################################
[paths]
# Path to where grafana can store temp files, sessions, and the sqlite3 db (if that is used)
#
data = /var/lib/grafana/
#
# Directory where grafana can store logs
#
logs = /var/log/grafana/
#
# Directory where grafana will automatically scan and look for plugins
#
plugins = /var/lib/grafana/plugins

#
#################################### Server ####################################
[server]
# Protocol (http or https)
protocol = {{ app_grafana__protocol }}

# The ip address to bind to, empty will bind to all interfaces
http_addr = {{ app_grafana__http_addr }}

# The http port  to use
http_port = {{ app_grafana__http_port }}

# The public facing domain name used to access grafana from a browser
domain = {{ app_grafana__domain }}

# Redirect to correct domain if host header does not match domain
# Prevents DNS rebinding attacks
enforce_domain = true

# The full public facing url
;root_url = %(protocol)s://%(domain)s:%(http_port)s/

# Log web requests
;router_logging = false

# the path relative working path
static_root_path = {{ app_grafana__static_root_path }}

#################################### Database ####################################
[database]
{% if app_grafana__db_type == 'mysql' %}
type = mysql
host = {{ app_grafana__db_host }}:{{ app_grafana__db_port }}
name = {{ app_grafana__db_name }}
user = {{ app_grafana__db_user }}
password = {{ app_grafana__db_pass }}
{% elif app_grafana__db_type == 'postgres' %}
type = postgres
host = {{ app_grafana__db_host }}:{{ app_grafana__db_port }}
name = {{ app_grafana__db_name }}
user = {{ app_grafana__db_user }}
password = {{ app_grafana__db_pass }}
{% else %}
type = sqlite3
path = grafana.db
{% endif %}

#################################### Session ####################################
[session]
provider = file
provider_config = sessions
cookie_name = grafana_sess

#################################### Analytics ####################################
[analytics]
# Server reporting, sends usage counters to stats.grafana.org every 24 hours.
# No ip addresses are being tracked, only simple counters to track
# running instances, dashboard and error counts. It is very helpful to us.
# Change this option to false to disable reporting.
;reporting_enabled = true

# Set to false to disable all checks to https://grafana.net
# for new vesions (grafana itself and plugins), check is used
# in some UI views to notify that grafana or plugin update exists
# This option does not cause any auto updates, nor send any information
# only a GET request to http://grafana.net to get latest versions
check_for_updates = true

# Google Analytics universal tracking code, only enabled if you specify an id here
;google_analytics_ua_id =

#################################### Security ####################################
[security]
# default admin user, created on startup
;admin_user = admin

# default admin password, can be changed before first start of grafana,  or in profile settings
;admin_password = admin

# used for signing
;secret_key = SW2YcwTIb9zpOOhoPsMm

# Auto-login remember days
;login_remember_days = 7
;cookie_username = grafana_user
;cookie_remember_name = grafana_remember

# disable gravatar profile images
;disable_gravatar = false

# data source proxy whitelist (ip_or_domain:port seperated by spaces)
;data_source_proxy_whitelist =

[snapshots]
# snapshot sharing options
;external_enabled = true
;external_snapshot_url = https://snapshots-origin.raintank.io
;external_snapshot_name = Publish to snapshot.raintank.io

#################################### Users ####################################
[users]
# disable user signup / registration
;allow_sign_up = true

# Allow non admin users to create organizations
;allow_org_create = true

# Set to true to automatically assign new users to the default organization (id 1)
;auto_assign_org = true

# Default role new users will be automatically assigned (if disabled above is set to true)
;auto_assign_org_role = Viewer

# Background text for the user field on the login page
;login_hint = email or username

{% if app_grafana__auth_anonymous %}
#################################### Anonymous Auth ##########################
[auth.anonymous]
enabled = true
org_name = {{ app_grafana__auth_anonymous_org_name }}
org_role = {{ app_grafana__auth_anonymous_org_role }}

{% endif %}
{% if app_grafana__auth_basic %}
#################################### Basic Auth ##########################
[auth.basic]
enabled = true

{% endif %}
#################################### Logging ##########################
[log]
mode = console, file
level = Info

[log.console]
level = debug

[log.file]
level = Info
log_rotate = true
max_lines = 1000000
max_lines_shift = 28
daily_rotate = true
max_days = 7

;#################################### Dashboard JSON files ##########################
;[dashboards.json]
;enabled = false
;path = /data/grafana/dashboards
