//
// {{ ansible_managed }}
//

APT::Periodic::Enable "{{ periodic_enable | int }}";

APT::Periodic::Unattended-Upgrade "{{ periodic_unattended_upgrade | int }}";

// Do "apt-get update" automatically every n-days (0=disable)
APT::Periodic::Update-Package-Lists "{{ periodic_update_package_lists | int }}";

// Do "apt-get upgrade --download-only" every n-days (0=disable)
APT::Periodic::Download-Upgradeable-Packages "{{ periodic_download_upgradeable_packages | int }}";

// Do "apt-get autoclean" every n-days (0=disable)
APT::Periodic::AutocleanInterval "{{ periodic_autoclean_interval | int }}";

// Send report mail to root
//  0:  no report             (or null string)
//  1:  progress report       (actually any string)
//  2:  + command outputs     (remove -qq, remove 2>/dev/null, add -d)
//  3:  + trace on
APT::Periodic::Verbose "{{ periodic_verbose | int }}";

// vim:ft=aptconf
