###
### {{ ansible_managed }}
###

# /etc/nslcd.conf
# nslcd configuration file. See nslcd.conf(5)
# for details.

# The user and group nslcd should run as.
uid {{ auth__nslcd_uid }}
gid {{ auth__nslcd_gid }}

# The location at which the LDAP server(s) should be reachable.
uri {{ auth__nslcd_uri }}

# The LDAP protocol version to use.
ldap_version {{ auth__nslcd_ldap_version }}

# The DN to bind with for normal lookups.
{{ '#' if auth__nslcd_binddn == 'none' }}binddn {{ auth__nslcd_binddn }}
{{ '#' if auth__nslcd_bindpw == 'none' }}bindpw {{ auth__nslcd_bindpw }}

# The DN used for password modifications by root.
{{ '#' if auth__nslcd_rootpwmoddn == 'none' }}rootpwmoddn {{ auth__nslcd_rootpwmoddn }}

# The search base that will be used for all queries.
base {{ auth__nslcd_base }}

# The search scope.
scope {{ auth__nslcd_scope }}
deref {{ auth__nslcd_deref }}
referrals {{ auth__nslcd_referrals | ternary('yes', 'no') }}

# Limit which UNIX accounts and groups are present on a host
filter {{ auth__nslcd_filter }}

# Use the 'gid' attribute instead of 'cn' as the POSIX group name.
#map group cn gid

# The idle timelimit for connections with the LDAP server.
idle_timelimit {{ auth__nslcd_idle_timelimit }}

# SSL options
ssl {{ auth__nslcd_ssl | ternary('on', 'off') }}
tls_reqcert {{ auth__nslcd_tls_reqcert }}
tls_cacertfile {{ auth__nslcd_tls_cacertfile }}

# First valid UID/GID number expected to be in the LDAP directory.
# UIDs/GIDs lower than this value will be ignored.
nss_min_uid {{ auth__nslcd_nss_min_uid }}
