###
### {{ ansible_managed }}
###

# /etc/nsswitch.conf
#
# Example configuration of GNU Name Service Switch functionality.
# If you have the `glibc-doc-reference' and `info' packages installed, try:
# `info libc "Name Service Switch"' for information about this file.

passwd:         {{ auth__nsswitch_passwd | join(' ') }}
group:          {{ auth__nsswitch_group | join(' ') }}
shadow:         {{ auth__nsswitch_shadow | join(' ') }}
gshadow:        {{ auth__nsswitch_gshadow | join(' ') }}

hosts:          {{ auth__nsswitch_hosts | join(' ') }}
networks:       {{ auth__nsswitch_networks | join(' ') }}

protocols:      {{ auth__nsswitch_protocols | join(' ') }}
services:       {{ auth__nsswitch_services | join(' ') }}
ethers:         {{ auth__nsswitch_ethers | join(' ') }}
rpc:            {{ auth__nsswitch_rpc | join(' ') }}

netgroup:       {{ auth__nsswitch_netgroup | join(' ') }}
