###
### {{ ansible_managed }}
###
{% for definition in item.definitions %}

{{ definition.logs | join(' ') }} {
{%   for option in definition.options %}
    {{ option }}
{%   endfor %}
}
{% endfor %}
