###
### {{ ansible_managed }}
###

{% for printer in cups__printers %}
<Printer {{ printer.name }}>
UUID urn:uuid:{{ printer.name | random | to_uuid }}
Info {{ printer.info }}
Location {{ printer.location }}
MakeModel {{ printer.makemodel }}
DeviceURI {{ printer.deviceuri }}
Shared Yes
</Printer>
{% endfor %}
