###
### {{ ansible_managed }}
###

defaults

{% for account in mail_msmtp__accounts %}
account {{ account.name }}
host {{ account.smtp_host }}
{% if account.smtp_port is defined %}
port {{ account.smtp_port }}
{% endif %}
{% if account.tls is defined %}
tls {{ account.tls | ternary('on', 'off') }}
{% endif %}
{% if account.starttls is defined %}
tls_starttls {{ account.starttls | ternary('on', 'off') }}
{% endif %}
{% if account.auth is defined and account.auth %}
auth {{ account.auth | ternary('on', 'off') }}
user {{ account.user }}
password {{ mail_msmtp__password[account.name] }}
{% endif %}
{% endfor %}

# Construct envelope-from addresses of the form "user@oursite.example"
auto_from {{ mail_msmtp__auto_from | ternary('on', 'off') }}
maildomain {{ mail_msmtp__maildomain }}

# Syslog logging with facility {{ mail_msmtp__syslog }} instead of the default LOG_USER
syslog {{ mail_msmtp__syslog }}

{{ 'aliases /etc/aliases' if mail_msmtp__aliases | length > 0 }}
