# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Match]
Name={{ item.name }}

[CAN]
BitRate={{ item.bitrate }}
{% if false %}
SamplePoint=
TimeQuantaNSec=, PropagationSegment=, PhaseBufferSegment1=, PhaseBufferSegment2=, SyncJumpWidth=
DataBitRate=, DataSamplePoint=
DataTimeQuantaNSec=, DataPropagationSegment=, DataPhaseBufferSegment1=, DataPhaseBufferSegment2=, DataSyncJumpWidth=
FDMode={{ item.X | default(false) | ternary('yes','no') }}
FDNonISO={{ item.X | default(false) | ternary('yes','no') }}
{% endif %}
{% if item.restart_sec is defined %}
RestartSec={{ item.restart_sec }}
{% endif -%}
{% if false %}
Termination
TripleSampling={{ item.X | default(false) | ternary('yes','no') }}
BusErrorReporting={{ item.X | default(false) | ternary('yes','no') }}
ListenOnly={{ item.X | default(false) | ternary('yes','no') }}
{% endif -%}
Loopback={{ item.loopback | default(false) | ternary('yes','no') }}
{% if false %}
OneShot={{ item.X | default(false) | ternary('yes','no') }}
PresumeAck={{ item.X | default(false) | ternary('yes','no') }}
ClassicDataLengthCode={{ item.X | default(false) | ternary('yes','no') }}
{% endif -%}
