db:
  path: {{ monitoring_diun__db_file }}

watch:
  workers: {{ monitoring_diun__workers }}
  schedule: "{{ monitoring_diun__schedule }}"
  jitter: {{ monitoring_diun__jitter }}s
  firstCheckNotif: {{ monitoring_diun__first_check_notif | ternary('true', 'false') }}
  runOnStartup: {{ monitoring_diun__run_on_startup | ternary('true', 'false') }}
  compareDigest: {{ monitoring_diun__compare_digest | ternary('true', 'false') }}
{% if monitoring_diun__healthchecks_baseurl | length > 0 and monitoring_diun__healthchecks_uuid | length > 0 %}
  healthchecks:
        baseurl: {{ monitoring_diun__healthchecks_baseurl }}
        uuid: {{ monitoring_diun__healthchecks_uuid }}
{% endif %}

defaults:
  watchRepo: {{ monitoring_diun__watch_repo }}
{% if monitoring_diun__notify_on | length > 0 %}
  notifyOn:
{%   for value in monitoring_diun__notify_on %}
    - {{ value }}
{%   endfor %}
{% endif %}
  maxTags: {{ monitoring_diun__max_tags }}
  sortTags: {{ monitoring_diun__sort_tags }}
{{ '-  includeTtags: ' + monitoring_diun__include_tags if monitoring_diun__include_tags | length > 0 }}
{{ '  excludeTags: ' + monitoring_diun__exclude_tags if monitoring_diun__exclude_tags | length > 0 }}
{% if monitoring_diun__metadata | length > 0 %}
  metadata:
{%   for key, value in monitoring_diun__metadata %}
    {{ key }}: {{ value }}
{%   endfor %}
{% endif %}

notif:
{% if monitoring_diun__notify_mail %}
  mail:
    host: {{ monitoring_diun__notify_mail_host }}
    port: {{ monitoring_diun__notify_mail_port }}
    ssl: {{ monitoring_diun__notify_mail_ssl | ternary('true', 'false') }}
    insecureSkipVerify: {{ monitoring_diun__notify_mail_insecure_skip_verify | ternary('true', 'false') }}
    localName: {{ monitoring_diun__notify_mail_local_name }}
{{ '    username: ' + monitoring_diun__notify_mail_username if monitoring_diun__notify_mail_username | length > 0 }}
{{ '    usernameFile: ' + monitoring_diun__notify_mail_username_file if monitoring_diun__notify_mail_username_file | length > 0 }}
{{ '    password: ' + monitoring_diun__notify_mail_password if monitoring_diun__notify_mail_password | length > 0 }}
{{ '    passwordFile: ' + monitoring_diun__notify_mail_password_file if monitoring_diun__notify_mail_password_file | length > 0 }}
{{ '    from: ' + monitoring_diun__notify_mail_from if monitoring_diun__notify_mail_from | length > 0 }}
{{ '    to: ' + monitoring_diun__notify_mail_to if monitoring_diun__notify_mail_to | length > 0 }}
{{ '    templateTitle: ' + monitoring_diun__notify_mail_template_title if monitoring_diun__notify_mail_template_title | length > 0 }}
{{ '    templateBody: ' + monitoring_diun__notify_mail_template_body if monitoring_diun__notify_mail_template_body | length > 0 }}
{% endif %}

providers:
{% if monitoring_diun__provider_docker %}
  docker:
    endpoint: "{{ monitoring_diun__provider_docker_endpoint }}"
{{ '    apiVersion: ' + monitoring_diun__provider_docker_api_version if monitoring_diun__provider_docker_api_version | length > 0 }}
{{ '    tlsCertsPath: ' + monitoring_diun__provider_docker_tls_certs_path if monitoring_diun__provider_docker_tls_certs_path | length > 0 }}
    tlsVerify: {{ monitoring_diun__provider_docker_tls_verify | ternary('true', 'false') }}
    watchByDefault: {{ monitoring_diun__provider_docker_watch_by_default | ternary('true', 'false') }}
    watchStopped: {{ monitoring_diun__provider_docker_watch_stopped | ternary('true', 'false') }}
{% endif %}
