;;;
;;; {{ ansible_managed }}
;;;

[options]
; addons_path = /mnt/extra-addons
data_dir = /var/lib/odoo
; admin_passwd = admin
; csv_internal_sep = ,
; db_maxconn = 64
db_name = {{ app_odoo__db_name }}
db_host = {{ app_odoo__db_host }}
db_port = {{ app_odoo__db_port }}
db_user = {{ app_odoo__db_user }}
db_password = {{ app_odoo__db_pass }}
; db_template = template1
; dbfilter = .*
; debug_mode = False
{{ '; ' if app_odoo__email_from | length == 0 }}email_from = {{ app_odoo__email_from }}
; limit_memory_hard = 2684354560
; limit_memory_soft = 2147483648
; limit_request = 8192
; limit_time_cpu = 60
; limit_time_real = 120
; list_db = True
; log_db = False
; log_handler = [':INFO']
; log_level = info
; logfile = None
; longpolling_port = 8072
; max_cron_threads = 2
; osv_memory_age_limit = 1.0
; osv_memory_count_limit = False
{{ '; ' if app_odoo__smtp_password | length == 0 }}smtp_password = {{ app_odoo__smtp_password }}
smtp_port = {{ app_odoo__smtp_port }}
smtp_server = {{ app_odoo__smtp_server }}
smtp_ssl = {{ app_odoo__smtp_ssl | ternary('True','False') }}
{{ '; ' if app_odoo__smtp_user | length == 0 }}smtp_user = {{ app_odoo__smtp_user }}
; workers = 0
; xmlrpc = True
; xmlrpc_interface =
; xmlrpc_port = 8069
; xmlrpcs = True
; xmlrpcs_interface =
; xmlrpcs_port = 8071
