/**
 * {{ ansible_managed }}
 */

/**
 * This file defines global constants which can be used in
 * the other configuration files.
 */

/* The directory which contains the plugins from the Monitoring Plugins project. */
const PluginDir = "{{ icinga__constants_plugin_dir }}"

/* The directory which contains the Manubulon plugins.
 * Check the documentation, chapter "SNMP Manubulon Plugin Check Commands", for details.
 */
const ManubulonPluginDir = "{{ icinga__constants_manubulon_plugin_dir }}"

/* The directory which you use to store additional plugins which ITL provides user contributed command definitions for.
 * Check the documentation, chapter "Plugins Contribution", for details.
 */
const PluginContribDir = "{{ icinga__constants_plugin_contrib_dir }}"

/* Our local instance name. By default this is the server's hostname as returned by `hostname --fqdn`.
 * This should be the common name from the API certificate.
 */
const NodeName = "{{ icinga__constants_node_name }}"

/* Our local zone name. */
const ZoneName = "{{ icinga__constants_zone_name }}"

/* Secret key for remote node tickets */
const TicketSalt = "{{ icinga__constants_ticket_salt }}"

const PluginLocalDir = "{{ icinga__constants_plugin_local_dir }}"
