/**
 * {{ ansible_managed }}
 */

{% for zone, config in icinga__zones.items() %}
object Zone "{{ zone }}" {
{%   if 'endpoints' in config %}
  endpoints = {{ config.endpoints | array2string }}
{%   endif %}
{%   if 'parent' in config %}
  parent = "{{ config.parent }}"
{%   endif %}
{%   if 'global' in config %}
  global = {{ config.global | ternary('true','false') }}
{%   endif %}
}
{%   if 'endpoints' in config %}
{%     for endpoint in config.endpoints %}

object Endpoint "{{ endpoint }}" {
  host = "{{ endpoint }}"
{%       if 'parent' in config %}
  log_duration = 0
{%       endif %}
}
{%     endfor %}
{%   endif %}

{%  endfor %}
