/**
 * {{ ansible_managed }}
 */
{% import 'macros.j2' as macros %}

{% if objects.endpoints is defined %}
{%   for name, object in objects.endpoints.items() %}
{%     if object.doc is defined %}
{{   object.doc | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%     endif %}
{{   object.type | default('object') }} Endpoint "{{ name }}" {{ macros.print(object) }}
{%   endfor %}
{% endif %}

{% if objects.zones is defined %}
{%   for name, object in objects.zones.items() %}
{%     if object.doc is defined %}
{{   object.doc | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%     endif %}
{{   object.type | default('object') }} Zone "{{ name }}" {{ macros.print(object) }}
{%   endfor %}
{% endif %}