###
### {{ ansible_managed }}
###

{% import 'macros.j2' as macros %}

{% set config = {
  'nginx__log_path': nginx__log_path,
  'nginx__www_path': nginx__www_path,
  'nginx__snippets_path': nginx__snippets_path,
  'nginx__index_default': nginx__index_default,
  'pki__realms_dir': pki__realms_dir
  } %}

{% if site.geo | default({}) | length > 0 %}
{{ macros.print_geo(site.geo) }}
{% endif %}

{{ macros.http_server(site, config) }}

{% if site.listen_ssl | length > 0 %}
{{ macros.https_server(site, config) }}
{% endif %}
