###
### {{ ansible_managed }}
###

set base_path    {{ mirror__apt_mirror_base_path }}
set mirror_path  {{ mirror__apt_mirror_path }}
set skel_path    $base_path/skel
set var_path     $base_path/var
set cleanscript  $var_path/clean.sh
# set defaultarch  <running host architecture>
# set postmirror_script $var_path/postmirror.sh
# set run_postmirror 0
set nthreads     {{ mirror__apt_mirror_nthreads }}
set _tilde       0

{% for mirror in mirror__apt_mirrors %}
#
# {{ mirror.comment | default('An unknown site to be mirrored') }}
#
{% for release in mirror.releases %}
{% for arch in mirror.archs %}
deb-{{ arch }} {{ mirror.url }} {{ release }} {{ mirror.repositories }}
{% endfor %}
{% endfor %}
clean {{ mirror.url }}

{% endfor %}
