###
### {{ ansible_managed }}
###

daily_backup_postgresql_enable="{{ backup_postgresql__enable | ternary('YES', 'NO') }}"
daily_backup_postgresql_backup_dir="{{ backup_postgresql__backup_dir }}"
daily_backup_postgresql_ignore_databases="{{ backup_postgresql__ignore_databases | join(' ') }}"
daily_backup_postgresql_keep_days="-{{ backup_postgresql__keep_days }}days"
daily_backup_postgresql_podman_container="postgresql"
daily_backup_postgresql_podman_backup_dir="{{ backup_postgresql__podman_backup_dir }}"
