{
    "mqtt_user": "{{ smarthome_coe2mqtt__mqtt_user }}",
    "mqtt_password": "{{ smarthome_coe2mqtt__mqtt_password }}",
    "mqtt_host": "{{ smarthome_coe2mqtt__mqtt_host }}",
    "mqtt_port": "{{ smarthome_coe2mqtt__mqtt_port }}",
    "mqtt_clientid": "{{ smarthome_coe2mqtt__mqtt_clientid }}",
    "mqtt_topic": "{{ smarthome_coe2mqtt__mqtt_topic }}",
    {{ '"mqtt_tls": "true",' if smarthome_coe2mqtt__mqtt_tls }}
    {{ '"mqtt_tls_version": "' + smarthome_coe2mqtt__mqtt_tls_version + '",' if smarthome_coe2mqtt__mqtt_tls }}
    {{ '"mqtt_verify_mode": "' + smarthome_coe2mqtt__mqtt_verify_mode + '",' if smarthome_coe2mqtt__mqtt_tls }}
    {{ '"mqtt_ssl_ca_path": "' + smarthome_coe2mqtt__mqtt_ssl_ca_path + '",' if smarthome_coe2mqtt__mqtt_tls and smarthome_coe2mqtt__mqtt_ssl_ca_path | length > 0 }}
    {{ '"mqtt_tls_no_verify": "true",' if smarthome_coe2mqtt__mqtt_tls and smarthome_coe2mqtt__mqtt_tls_no_verify }}
    {{ '"coe_bind_ip": "'  + smarthome_coe2mqtt__coe_bind_ip + '",' if smarthome_coe2mqtt__coe_bind_ip | length > 0 }}
    {{ '"coe_bind_port": "'  + smarthome_coe2mqtt__coe_bind_port + '",' if smarthome_coe2mqtt__coe_bind_port | length > 0 }}
    {{ '"coe_peer_ip": "'  + smarthome_coe2mqtt__coe_peer_ip + '",' if smarthome_coe2mqtt__coe_peer_ip | length > 0 }}
    {{ '"coe_peer_port": "'  + smarthome_coe2mqtt__coe_peer_port + '",' if smarthome_coe2mqtt__coe_peer_port | length > 0 }}
    "timestamp": "{{ smarthome_coe2mqtt__timestamp | ternary('true', 'false') }}",
    "verbose": "{{ smarthome_coe2mqtt__verbose | ternary('true', 'false') }}",
    "mqtt_subscribe": {{ smarthome_coe2mqtt__mqtt_subscribe | to_json(indent=4) }}
}
