root = "/var/public"
{% if webserver_sws__vhosts | length > 0 %}

[advanced]

{%   for host in webserver_sws__vhosts %}
[[advanced.virtual-hosts]]
host = "{{ host }}"
root = "/var/vhost/{{ host }}"

{%   endfor %}
{% endif %}
