###
### {{ ansible_managed }}
###

daily_backup_influxdb_core_enable="YES"
daily_backup_influxdb_core_backup_repo="{{ backup_influxdb_core__backup_repo }}"
daily_backup_influxdb_core_data_dir="{{ backup_influxdb_core__data_dir }}"
daily_backup_influxdb_core_keep_days="{{ backup_influxdb_core__keep_days }}"
daily_backup_influxdb_core_podman_container="{{ backup_influxdb_core__container }}"
