###
### {{ ansible_managed }}
###

# Command-line options specified here will override the contents of
# /etc/opendkim.conf. See opendkim(8) for a complete list of options.
{{ '#' if not postfix__dkim_opendkim_daemon_opts }}DAEMON_OPTS="{{ postfix__dkim_opendkim_daemon_opts }}"
# Change to /var/spool/postfix/run/opendkim to use a Unix socket with
# postfix in a chroot:
#RUNDIR=/var/spool/postfix/run/opendkim
RUNDIR={{ postfix__dkim_opendkim_rundir }}
#
# Uncomment to specify an alternate socket
# Note that setting this will override any Socket value in opendkim.conf
# default:
SOCKET={{ postfix__dkim_opendkim_socket }}
# listen on all interfaces on port 54321:
#SOCKET=inet:54321
# listen on loopback on port 12345:
#SOCKET=inet:12345@localhost
# listen on 192.0.2.1 on port 12345:
#SOCKET=inet:12345@192.0.2.1
USER={{ postfix__dkim_opendkim_user }}
GROUP={{ postfix__dkim_opendkim_group }}
PIDFILE={{ postfix__dkim_opendkim_pidfile }}
EXTRAAFTER={{ postfix__dkim_opendkim_extraafter }}
