###
### {{ ansible_managed }}
###

# Command-line options specified here will override the contents of
# /etc/opendmarc.conf. See opendmarc(8) for a complete list of options.
{{ '#' if postfix__dmarc_opendmarc_daemon_opts | length == 0 }}DAEMON_OPTS="{{ postfix__dmarc_opendmarc_daemon_opts }}"
# Change to /var/spool/postfix/var/run/opendmarc to use a Unix socket with
# postfix in a chroot:
#RUNDIR=/var/spool/postfix/var/run/opendmarc
RUNDIR={{ postfix__dmarc_opendmarc_rundir }}
#
# Uncomment to specify an alternate socket
# Note that setting this will override any Socket value in opendmarc.conf
# default:
SOCKET={{ postfix__dmarc_opendmarc_socket }}
# listen on all interfaces on port 54321:
#SOCKET=inet:54321
# listen on loopback on port 12345:
#SOCKET=inet:12345@localhost
# listen on 192.0.2.1 on port 12345:
#SOCKET=inet:12345@192.0.2.1
USER={{ postfix__dmarc_opendmarc_user }}
GROUP={{ postfix__dmarc_opendmarc_group }}
PIDFILE={{ postfix__dmarc_opendmarc_pidfile }}
EXTRAAFTER={{ postfix__dmarc_opendmarc_extraafter }}
