# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2022, Gerrit Beine <mail@gerritbeine.com>

###
### {{ ansible_managed }}
###

[Unit]
Description={{ item.description }}
{% if item.documentation is defined %}
Documentation={{ item.documentation  }}
{% endif %}
{% if item.after is defined %}
{%   for value in item.after %}
After={{ value }}
{%   endfor %}
{% endif %}
{% if item.wants is defined %}
{%   for value in item.wants %}
Wants={{ value }}
{%   endfor %}
{% endif %}

[Service]
Type={{ item.type }}
{% if item.user is defined %}
User={{ item.user }}
{% endif %}
{% if item.group is defined %}
Group={{ item.group }}
{% endif %}
{% if item.restart is defined %}
Restart={{ item.restart }}
{% endif %}
{% if item.restart_sec is defined %}
RestartSec={{ item.restart_sec }}s
{% endif %}
{% if item.working_directory is defined %}
WorkingDirectory={{ item.working_directory }}
{% endif %}
{% if item.standard_output is defined %}
StandardOutput={{ item.standard_output }}
{% endif %}
{% if item.standard_error is defined %}
StandardError={{ item.standard_error }}
{% endif %}
ExecStart={{ item.exec_start }}
{% if item.environment is defined %}
{%   for var, value in item.environment.items() %}
Environment={{ var }}={{ value }}
{%   endfor %}
{% endif %}

[Install]
{% if item.wanted_by is defined %}
{%   for value in item.wanted_by %}
WantedBy={{ value }}
{%   endfor %}
{% endif %}
