###
### {{ ansible_managed }}
###

# NOTE: This is a legacy configuration file. It is not used by the opendmarc
# systemd service. Please use the corresponding configuration parameters in
# /etc/opendmarc.conf instead.
#
# Previously, one would edit the default settings here, and then execute
# /lib/opendmarc/opendmarc.service.generate to generate systemd override files
# at /etc/systemd/system/opendmarc.service.d/override.conf and
# /etc/tmpfiles.d/opendmarc.conf. While this is still possible, it is now
# recommended to adjust the settings directly in /etc/opendmarc.conf.
#
{{ '#' if mail_opendmarc__daemon_opts | length == 0 }}DAEMON_OPTS="{{ mail_opendmarc__daemon_opts }}"
# Change to /var/spool/postfix/var/run/opendmarc to use a Unix socket with
# postfix in a chroot:
#RUNDIR=/var/spool/postfix/var/run/opendmarc
RUNDIR={{ mail_opendmarc__run_dir }}
#
# Uncomment to specify an alternate socket
# Note that setting this will override any Socket value in opendmarc.conf
# default:
SOCKET={{ mail_opendmarc__socket }}
# listen on all interfaces on port 54321:
#SOCKET=inet:54321
# listen on loopback on port 12345:
#SOCKET=inet:12345@localhost
# listen on 192.0.2.1 on port 12345:
#SOCKET=inet:12345@192.0.2.1
USER={{ mail_opendmarc__user }}
GROUP={{ mail_opendmarc__group }}
PIDFILE={{ mail_opendmarc__pid_file }}
EXTRAAFTER={{ mail_opendmarc__extraafter }}
