/*
 *
 * {{ ansible_managed }}
 *
 */

/**
 * The API listener is used for distributed monitoring setups.
 */

object ApiListener "api" {
  accept_config = {{ monitoring_icinga_master__api_accept_config | ternary('true', 'false') }}
  accept_commands = {{ monitoring_icinga_master__api_accept_commands | ternary('true', 'false') }}
  bind_host = "{{ monitoring_icinga_master__api_bind_host }}"
  bind_port = {{ monitoring_icinga_master__api_bind_port }}

  ticket_salt = TicketSalt
}
