/*
 *
 * {{ ansible_managed }}
 *
 */

{% for command in monitoring_icinga_master__commands %}
object {{ command.object }} "{{ command.name }}" {
  command = {{ command.command }}
{%   if command.arguments | length > 0 %}

  arguments += {
{%     for argument in command.arguments | default([]) %}
{%       if argument.value is mapping %}
    "{{ argument.key }}" = {
{%         for ikey, ivalue in argument.value.items() %}
      {{ ikey }} = {{ ivalue }}
{%         endfor %}
    }
{%       else  %}
    "{{ argument.key }}" = {{ argument.value }}
{%       endif %}
{%     endfor %}
  }
{%   endif %}
{%   if command.vars | length > 0 %}

  vars += {
{%     for var in command.vars | default([]) %}
{%       if var.value is mapping %}
    {{ var.key }} = {
{%         for ikey, ivalue in var.value.items() %}
      {{ ikey }} = {{ ivalue }}
{%         endfor %}
    }
{%       else  %}
    {{ var.key }} = {{ var.value }}
{%       endif %}
{%     endfor %}
  }
{%   endif %}
}

{% endfor %}
