/*
 *
 * {{ ansible_managed }}
 *
 */

{% for timeperiod in monitoring_icinga_master__timeperiods %}
object TimePeriod "{{ timeperiod.name }}" {
{%   if 'display_name' in timeperiod %}
  display_name = "{{ timeperiod.display_name }}"
{%   endif %}
  ranges = {
{%   for entry in timeperiod.ranges | default([]) %}
    {{ entry.day }} = "{{ entry.timeframe }}"
{%   endfor %}
  }
}

{% endfor %}
