/*
 *
 * {{ ansible_managed }}
 *
 */

{% for user in monitoring_icinga_master__api_users %}
object ApiUser "{{ user.name }}" {
  password = "{{ user.password }}"
  permissions = [ {{ '"' if user.permissions | length > 0 }}{{ user.permissions | join('", "') }}{{ '"' if user.permissions | length > 0 }} ]
}

{% endfor %}
