/*
 *
 * {{ ansible_managed }}
 *
 */

const PluginDir = "/usr/lib/nagios/plugins"

const ManubulonPluginDir = "/usr/lib/nagios/plugins"

const PluginContribDir = "/usr/lib/nagios/plugins"

const NodeName = "{{ monitoring_icinga_master__node_name }}"

const ZoneName = NodeName

const TicketSalt = "{{ monitoring_icinga_master__ticket_salt }}"

const PluginLocalDir = "/usr/local/lib/nagios/plugins"
