/*
 *
 * {{ ansible_managed }}
 *
 */

{% for dependency in monitoring_icinga_master__host_dependencies %}
object Dependency "{{ dependency.child_host_name }}-{{ dependency.parent_host_name }}" {
  parent_host_name = "{{ dependency.parent_host_name }}"
  child_host_name = "{{ dependency.child_host_name }}"
}

{% endfor %}
{% for dependency in monitoring_icinga_master__service_dependencies %}
object Dependency "{{ dependency.name }}" {
}

{% endfor %}
