/*
 *
 * {{ ansible_managed }}
 *
 */

object Endpoint "{{ monitoring_icinga_master__node_name }}" {
  host = "{{ monitoring_icinga_master__node_name }}"
}
{% for host in monitoring_icinga_master__zones %}

object Endpoint "{{ host.name }}" {
  host = "{{ host.address | default(host.name) }}"
  log_duration = 0
}
{% endfor %}
