/*
 *
 * {{ ansible_managed }}
 *
 */

object Influxdb2Writer "influxdb2" {
  host = "{{ monitoring_icinga_master__influxdb_host }}"
  port = {{ monitoring_icinga_master__influxdb_port }}
  organization = "{{ monitoring_icinga_master__influxdb_organization }}"
  bucket = "{{ monitoring_icinga_master__influxdb_bucket }}"
  auth_token = "{{ monitoring_icinga_master__influxdb_auth_token }}"
  flush_threshold = 1024
  flush_interval = 10s
  enable_send_thresholds = {{ monitoring_icinga_master__influxdb_send_thresholds | ternary('true','false') }}
  enable_send_metadata = {{ monitoring_icinga_master__influxdb_send_metadata | ternary('true','false') }}
  host_template = {
    measurement = "$host.check_command$"
    tags = {
      hostname = "$host.name$"
    }
  }
  service_template = {
    measurement = "$service.check_command$"
    tags = {
      hostname = "$host.name$"
      service = "$service.name$"
    }
  }
}
