/*
 *
 * {{ ansible_managed }}
 *
 */

object IcingaDB "icingadb" {
  host = "{{ monitoring_icinga_master__icingadb_host }}"
  port = "{{ monitoring_icinga_master__icingadb_port }}"
  {{ '//' if monitoring_icinga_master__icingadb_password | length == 0 }}password = "{{ monitoring_icinga_master__icingadb_password }}"
}
