/*
 *
 * {{ ansible_managed }}
 *
 */

{% for group in monitoring_icinga_master__host_groups %}
object HostGroup "{{ group.name }}" {
{%   if 'display_name' in group %}
  display_name = "{{ group.display_name }}"
{%   endif %}
{%   for assign in group.assign | default([]) %}
  assign where {{ assign }}
{%   endfor %}
}

{% endfor %}
{% for group in monitoring_icinga_master__service_groups %}
object ServiceGroup "{{ group.name }}" {
{%   if 'display_name' in group %}
  display_name = "{{ group.display_name }}"
{%   endif %}
{%   for assign in group.assign | default([]) %}
  assign where {{ assign }}
{%   endfor %}
}

{% endfor %}
