/*
 *
 * {{ ansible_managed }}
 *
 */

{% for host in monitoring_icinga_master__hosts %}
object Host "{{ host.name }}" {
{%   for import in host.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'address' in host %}
  address = "{{ host.address }}"
{%   endif %}
{%   if 'check_command' in host %}
  check_command = "{{ host.check_command }}"
{%   endif %}
{%   for var in host.vars | default([]) %}
{%     if var.value is mapping %}
  vars.{{ var.key }} = {
{%       for ikey, ivalue in var.value.items() %}
    {{ ikey }} = {{ ivalue }}
{%       endfor %}
  }
{%     else  %}
  vars.{{ var.key }} = {{ var.value }}
{%     endif %}
{%   endfor %}
}

{% endfor %}
