/*
 *
 * {{ ansible_managed }}
 *
 */

include "constants.conf"
include "endpoints.conf"
include "zones.conf"

include <itl>
include <plugins>
include <manubulon>
include <plugins-contrib>

include "features-enabled/*.conf"

include_recursive "conf.d"
