/**
 *
 * {{ ansible_managed }}
 *
 */

/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ monitoring_icinga_master__mysql_user }}",
  password = "{{ monitoring_icinga_master__mysql_password }}",
  host = "{{ monitoring_icinga_master__mysql_host }}",
  database = "{{ monitoring_icinga_master__mysql_database }}"
}
