/*
 *
 * {{ ansible_managed }}
 *
 */

/**
 * The FileLogger type writes log information to a file.
 */

object FileLogger "main-log" {
  severity = "{{ monitoring_icinga_master__main_log_severity }}"
  path = {{ monitoring_icinga_master__main_log_file }}
}
