/*
 *
 * {{ ansible_managed }}
 *
 */

{% for notification in monitoring_icinga_master__notifications %}
apply Notification "{{ notification.name }}" to {{ notification.apply }} {
{%   for import in notification.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
  user_groups = "{{ notification.user_groups }}"
  users = "{{ notification.users }}"
{% if notification.inverval is defined %}
  interval = {{ notification.inverval }}
{% endif %}
{%   for assign in notification.assign | default([]) %}
  assign where {{ assign }}
{%   endfor %}
}

{% endfor %}
