/*
 *
 * {{ ansible_managed }}
 *
 */

{% for service in monitoring_icinga_master__services %}
{%   if 'name' in service and 'for' in service %}
apply Service "{{ service.name }}-" for ({{ service.for }}) {
{%   elif 'for' in service %}
apply Service for ({{ service.for }}) {
{%   else %}
apply Service "{{ service.name }}" {
{%   endif %}
{%   for import in service.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'check_command' in service %}
  check_command = "{{ service.check_command }}"
{%   endif %}
{%   if 'command_endpoint' in service %}
  command_endpoint = {{ service.command_endpoint }}
{%   endif %}
{%   if 'display_name' in service %}
  display_name = {{ service.display_name }}
{%   endif %}
{%   for var in service.vars | default([]) %}
{%     if var.value is mapping %}
  vars.{{ var.key }} = {
{%       for ikey, ivalue in var.value.items() %}
    {{ ikey }} = {{ ivalue }}
{%       endfor %}
  }
{%     else  %}
  vars.{{ var.key }} = {{ var.value }}
{%     endif %}
{%   endfor %}
{%   for option in service.options | default([]) %}
  {{ option }}
{%   endfor %}
{%   for assign in service.assign | default([]) %}
  assign where {{ assign }}
{%   endfor %}
{%   for ignore in service.ignore | default([]) %}
  ignore where {{ ignore }}
{%   endfor %}
}

{% endfor %}
