/*
 *
 * {{ ansible_managed }}
 *
 */

{% for template in monitoring_icinga_master__templates %}
template {{ template.object }} "{{ template.name }}" {
{%   for import in template.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'max_check_attempts' in template %}
  max_check_attempts = {{ template.max_check_attempts }}
{%   endif %}
{%   if 'check_interval' in template %}
  check_interval = {{ template.check_interval }}
{%   endif %}
{%   if 'retry_interval' in template %}
  retry_interval = {{ template.retry_interval }}
{%   endif %}
{%   if 'check_command' in template %}
  check_command = "{{ template.check_command }}"
{%   endif %}
{%   if 'command_endpoint' in template %}
  command_endpoint = {{ template.command_endpoint }}
{%   endif %}
{%   if 'command' in template %}
  command = "{{ template.command }}"
{%   endif %}
{%   if 'states' in template %}
  states = [ {{ template.states | join(', ') }} ]
{%   endif %}
{%   if 'types' in template %}
  types = [ {{ template.types | join(', ') }} ]
{%   endif %}
{%   if 'period' in template %}
  period = "{{ template.period }}"
{%   endif %}
{%   if 'display_name' in template %}
  display_name = {{ template.display_name }}
{%   endif %}
{%   for var in template.vars | default([]) %}
{%     if var.value is mapping %}
  vars.{{ var.key }} = {
{%       for ikey, ivalue in var.value.items() %}
    {{ ikey }} = {{ ivalue }}
{%       endfor %}
  }
{%     else  %}
  vars.{{ var.key }} = {{ var.value }}
{%     endif %}
{%   endfor %}
}

{% endfor %}
