/*
 *
 * {{ ansible_managed }}
 *
 */

{% for user in monitoring_icinga_master__users %}
object User "{{ user.name }}" {
{%   for import in user.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'display_name' in user %}
  display_name = "{{ user.display_name }}"
{%   endif %}
{%   if 'groups' in user %}
  groups = [ {{ '"' if user.groups | length > 0 }}{{ user.groups | join('", "') }}{{ '"' if user.groups | length > 0 }} ]
{%   endif %}
{%   if 'email' in user %}
  email = "{{ user.email }}"
{%   for var in user.vars | default([]) %}
{%     if var.value is mapping %}
  vars.{{ var.key }} = {
{%       for ikey, ivalue in var.value.items() %}
    {{ ikey }} = {{ ivalue }}
{%       endfor %}
  }
{%     else  %}
  vars.{{ var.key }} = {{ var.value }}
{%     endif %}
{%   endfor %}
{%   for option in service.options | default([]) %}
  {{ option }}
{%   endfor %}
{%   endif %}
}

{% endfor %}
{% for group in monitoring_icinga_master__user_groups %}
object UserGroup "{{ group.name }}" {
{%   if 'display_name' in group %}
  display_name = "{{ group.display_name }}"
{%   endif %}
}

{% endfor %}
