/*
 *
 * {{ ansible_managed }}
 *
 */

object Zone "{{ monitoring_icinga_master__zone_name }}" {
  endpoints = [ "{{ monitoring_icinga_master__node_name }}" ]
}
{% for host in monitoring_icinga_master__zones %}

object Zone "{{ host.name }}" {
  endpoints = [ "{{ host.name }}" ]
  parent = "{{ monitoring_icinga_master__zone_name }}"
}
{% endfor %}

object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}
