/*
 *
 * {{ ansible_managed }}
 *
 */

object CheckCommand "sudo-ide-smart" {
	command = [ "sudo", PluginDir + "/check_ide_smart" ]

	arguments = {
	    "-d" = {
	        value = "$smart_device$"
	        description = "Name of a local hard drive to monitor"
	        required = true
	    }
	}
}
