/*
 *
 * {{ ansible_managed }}
 *
 */

object CheckCommand "tls_cert" {
    import "ipv4-or-ipv6"
    command = [ PluginLocalDir + "/check_tls_cert.py" ]

    arguments = {
        "-H" = "$tls_cert_host$"
        "-p" = "$tls_cert_port$"
        "-t" = { value = "$tls_cert_starttls$", set_if = "$tls_cert_starttls$" }
        "-w" = "$tls_cert_warning$"
        "-c" = "$tls_cert_critical$"
        "--cafile" = { value = "$tls_cert_cafile$", set_if = "$tls_cert_cafile$" }
        "--sni" = { value = "$tls_cert_sni$", set_if = "$tls_cert_sni$" }
        "--timeout" = "$tls_cert_timeout$"
    }

    vars.tls_cert_host = "$check_address$"
    vars.tls_cert_warning = 30
    vars.tls_cert_critical = 15
    vars.tls_cert_timeout = 10
}