###
### {{ ansible_managed }}
###

{% if filter.comment is defined %}
# {{ filter.comment }}

{% endif %}
[Definition]
{% if filter.variables | length > 0 %}
{%   for var, value in filter.variables.items() %}
_{{ var }} = {{ value }}
{%   endfor  %}
{% endif %}
datepattern = {{ filter.datepattern }}
failregex = {{ filter.failregex | indent(12) }}
{% if filter.ignoreregex is defined %}
ignoreregex = {{ filter.ignoreregex }}
{% endif %}
{% if filter.maxlines is defined %}
maxlines = {{ maxlines }}
{% endif %}
{% if filter.mode is defined %}
mode = {{ filter.mode }}
{% endif %}
