###
### {{ ansible_managed }}
###

[DEFAULT]
ignoreip = {{ security_fail2ban__ignoreip | join(' ') }}
bantime  = {{ security_fail2ban__bantime }}
findtime  = {{ security_fail2ban__findtime }}
maxretry = {{ security_fail2ban__maxretry }}
backend = {{ security_fail2ban__backend }}
