###
### {{ ansible_managed }}
###

{% if jail.comment is defined %}
# {{ jail.comment }}

{% endif %}
[{{ jail.name }}]
{%   if jail.backend is defined %}
backend = {{ jail.backend }}
{%   endif %}
enabled = true
{%   if jail.port is defined %}
port = {{ jail.port | join(',') }}
{%   endif %}
{%   if jail.protocol is defined %}
protocol = {{ jail.protocol }}
{%   endif %}
{%   if jail.filter is defined %}
filter = {{ jail.filter }}
{%   endif %}
{%   if jail.maxretry is defined %}
maxretry = {{ jail.maxretry }}
{%   endif %}
{%   if jail.bantime is defined %}
bantime = {{ jail.bantime }}
{%   endif %}
{%   if jail.findtime is defined %}
findtime = {{ jail.findtime }}
{%   endif %}
{%   if jail.logpath is defined %}
logpath = {{ jail.logpath }}
{%   endif %}
