{
    "mqtt_user": "{{ smarthome_fronius2mqtt__mqtt_user }}",
    "mqtt_password": "{{ smarthome_fronius2mqtt__mqtt_password }}",
    "mqtt_host": "{{ smarthome_fronius2mqtt__mqtt_host }}",
    "mqtt_port": "{{ smarthome_fronius2mqtt__mqtt_port }}",
    "mqtt_clientid": "{{ smarthome_fronius2mqtt__mqtt_clientid }}",
    "mqtt_keepalive": "{{ smarthome_fronius2mqtt__mqtt_keepalive }}",
    "mqtt_topic": "{{ smarthome_fronius2mqtt__mqtt_topic }}",
    {{ '"mqtt_tls": "true",' if smarthome_fronius2mqtt__mqtt_tls }}
    {{ '"mqtt_tls_version": "' + smarthome_fronius2mqtt__mqtt_tls_version + '",' if smarthome_fronius2mqtt__mqtt_tls }}
    {{ '"mqtt_verify_mode": "' + smarthome_fronius2mqtt__mqtt_verify_mode + '",' if smarthome_fronius2mqtt__mqtt_tls }}
    {{ '"mqtt_ssl_ca_path": "' + smarthome_fronius2mqtt__mqtt_ssl_ca_path + '",' if smarthome_fronius2mqtt__mqtt_tls and smarthome_fronius2mqtt__mqtt_ssl_ca_path | length > 0 }}
    {{ '"mqtt_tls_no_verify": "true",' if smarthome_fronius2mqtt__mqtt_tls and smarthome_fronius2mqtt__mqtt_tls_no_verify }}
    "http_host": "{{ smarthome_fronius2mqtt__http_host }}",
    "http_port": "{{ smarthome_fronius2mqtt__http_port }}"
}
