{
    "mqtt_user": "{{ smarthome_fronius2mqtt__mqtt_user }}",
    "mqtt_password": "{{ smarthome_fronius2mqtt__mqtt_password }}",
    "mqtt_host": "{{ smarthome_fronius2mqtt__mqtt_host }}",
    "mqtt_port": "{{ smarthome_fronius2mqtt__mqtt_port }}",
    "mqtt_clientid": "{{ smarthome_fronius2mqtt__mqtt_clientid }}",
    "mqtt_topic": "{{ smarthome_fronius2mqtt__mqtt_topic }}",
    "mqtt_tls_version": "{{ smarthome_fronius2mqtt__mqtt_tls_version }}",
    "mqtt_verify_mode": "{{ smarthome_fronius2mqtt__mqtt_verify_mode }}",
    "http_host": "{{ smarthome_fronius2mqtt__http_host }}",
    "http_port": "{{ smarthome_fronius2mqtt__http_port }}"
}
