###
### {{ ansible_managed }}
###

# Defaults file for spampd, the spam proxy daemon
# (spampd is using spamassassin to scan mails)

# On boolean options, 0 means off/no/false, 1 means on/yes/true

# The following options are used by SysV Init only, for Systemd please configure in service file.

# Whether or not to start spampd (0/1)
STARTSPAMPD={{ mail_spampd__start_spampd | ternary('1', '0') }}

# where to put the PID file
PIDFILE={{ mail_spampd__pid_file }}

# Generic options start here

# The IP to listen on
LISTENHOST={{ mail_spampd__listen_host }}

# The port to listen on
LISTENPORT={{ mail_spampd__listen_port }}

# The host to forward the connection to
DESTHOST={{ mail_spampd__dest_host }}

# The port to forward the connection to
DESTPORT={{ mail_spampd__dest_port }}

# How many parallel checks can be done in parallel
CHILDREN={{ mail_spampd__children }}

# user ID to run as
USERID={{ mail_spampd__user }}

# group ID to run as
GRPID={{ mail_spampd__group }}

# Whether or not to tag all messages (0/1)
TAGALL={{ mail_spampd__tag_all | ternary('1', '0') }}

# Whether or not to use auto-whitelisting (0/1)
AUTOWHITELIST={{ mail_spampd__auto_whitelist | ternary('1', '0') }}

# Whether or not to do only local checks
# if this is turned on, no network based checks
# (like DNS-Blacklists) are done. (0/1)
LOCALONLY={{ mail_spampd__local_only | ternary('1', '0') }}

# Whether to prefer INET (network,1) for syslog logging
# instead of UNIX (unix domain socket,0) (0/1)
LOGINET={{ mail_spampd__log_inet | ternary('1', '0') }}

# Any additional parameters you want to pass to spampd
#
# The following sample entry enables use of a config file
# by spampd which can be used to override parameters from
# the system-wide SpamAssassin configuration
#
ADDOPTS="{{ mail_spampd__daemon_opts }}"
