###
### Managed by Ansible: mariadb.j2 modified on 2025-01-16 13:48:56 by gbeine
###

daily_backup_influxdb_enable="YES"
daily_backup_influxdb_backup_dir="{{ backup_influxdb__backup_dir }}"
daily_backup_influxdb_token="{{ backup_influxdb__token }}"
daily_backup_influxdb_keep_days="-{{ backup_influxdb__keep_days }}days"
daily_backup_influxdb_podman_container="{{ backup_influxdb__container_name }}"
daily_backup_influxdb_podman_backup_dir="{{ backup_influxdb__container_backup_dir }}"
