###
### {{ ansible_managed }}
###

# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5)

# Include files from {{ bootstrap_networking__interfaces_dir }}:
source {{ bootstrap_networking__interfaces_dir }}/*

# The loopback network interface
auto lo
iface lo inet loopback
