###
### {{ ansible_managed }}
###

queue_directory = {{ mail_postfix__queue_directory }}
command_directory = {{ mail_postfix__command_dir }}
daemon_directory = {{ mail_postfix__daemon_dir }}
data_directory = {{ mail_postfix__data_dir }}

{{ 'alias_database = \n  ' + mail_postfix__alias_database | join(',\n') | indent(2) if mail_postfix__alias_database | length > 0 }}
{{ 'alias_maps = \n  ' + mail_postfix__alias_maps | join(',\n') | indent(2)  if mail_postfix__alias_maps | length > 0 }}
append_dot_mydomain = {{ mail_postfix__append_dot_mydomain | ternary('yes', 'no') }}

biff = {{ mail_postfix__biff | ternary('yes', 'no') }}
broken_sasl_auth_clients = {{ mail_postfix__broken_sasl_auth_clients | ternary('yes', 'no') }}

compatibility_level = {{ mail_postfix__compatibility_level }}

debug_peer_level = {{ mail_postfix__debug_peer_level }}
{{ 'debug_peer_list = \n  ' + mail_postfix__debug_peer_list | join(',\n') | indent(2) if mail_postfix__debug_peer_list | length > 0 }}
{{ 'debugger_command = ' + mail_postfix__debugger_command if mail_postfix__debugger_command | length > 0 }}
default_destination_concurrency_limit = {{ mail_postfix__default_destination_concurrency_limit }}
default_privs = {{ mail_postfix__default_privs }}
default_transport = {{ mail_postfix__default_transport }}
delay_warning_time = {{ mail_postfix__delay_warning_time }}

{{ 'fallback_transport = ' + mail_postfix__fallback_transport if mail_postfix__fallback_transport | length > 0 }}
fast_flush_domains = {{ mail_postfix__fast_flush_domains }}

{{ 'header_checks = \n  ' + mail_postfix__header_checks | join(',\n') | indent(2) if mail_postfix__header_checks | length > 0 }}
{{ 'home_mailbox = ' + mail_postfix__home_mailbox if mail_postfix__home_mailbox | length > 0 }}

in_flow_delay = {{ mail_postfix__in_flow_delay }}
{{ 'inet_interfaces = \n  ' + mail_postfix__inet_interfaces | join(',\n') | indent(2) if mail_postfix__inet_interfaces | length > 0 }}
{{ 'inet_protocols = \n  ' + mail_postfix__inet_protocols | join(',\n') | indent(2) if mail_postfix__inet_protocols | length > 0 }}

local_destination_concurrency_limit = {{ mail_postfix__local_destination_concurrency_limit }}
local_destination_recipient_limit = {{ mail_postfix__local_destination_recipient_limit }}
{{ 'local_recipient_maps = \n  ' + mail_postfix__local_recipient_maps | join(',\n') | indent(2) if mail_postfix__local_recipient_maps | length > 0 }}
{{ 'luser_relay = ' + mail_postfix__luser_relay if mail_postfix__luser_relay | length > 0 }}

mail_owner = {{ mail_postfix__mail_owner }}
mail_spool_directory = {{ mail_postfix__mail_spool_directory }}
{{ 'mailbox_command = ' + mail_postfix__mailbox_command if mail_postfix__mailbox_command | length > 0 }}
mailbox_size_limit = {{ mail_postfix__mailbox_size_limit }}
{{ 'mailbox_transport = ' + mail_postfix__mailbox_transport if mail_postfix__mailbox_transport | length > 0 }}
message_size_limit = {{ mail_postfix__message_size_limit }}
milter_default_action = {{ mail_postfix__milter_default_action }}
milter_protocol = {{ mail_postfix__milter_protocol }}
mydestination = {{ mail_postfix__mydestination | join(', ') }}
mydomain = {{ mail_postfix__mydomain }}
myhostname = {{ mail_postfix__myhostname }}
mynetworks_style = {{ mail_postfix__mynetworks_style }}
{{ 'mynetworks = \n  ' + mail_postfix__mynetworks | join(',\n') | indent(2) if mail_postfix__mynetworks | length > 0 }}
myorigin = {{ mail_postfix__myorigin }}

{{ 'non_smtpd_milters = \n  ' + mail_postfix__non_smtpd_milters | join(',\n') | indent(2) if mail_postfix__non_smtpd_milters | length > 0 }}

{{ 'proxy_interfaces = \n  ' + mail_postfix__proxy_interfaces | join(',\n') | indent(2) if mail_postfix__proxy_interfaces | length > 0 }}

{{ 'recipient_canonical_classes = \n  ' + mail_postfix__recipient_canonical_classes | join(',\n') | indent(2) if mail_postfix__recipient_canonical_classes | length > 0 }}
{{ 'recipient_canonical_maps = \n  ' + mail_postfix__recipient_canonical_maps | join(',\n') | indent(2) if mail_postfix__recipient_canonical_maps | length > 0 }}
recipient_delimiter = {{ mail_postfix__recipient_delimiter }}
{{ 'relay_domains = \n  ' + mail_postfix__relay_domains | join(',\n') | indent(2) if mail_postfix__relay_domains | length > 0 }}
{{ 'relay_recipient_maps = \n  ' + mail_postfix__relay_recipient_maps | join(',\n') | indent(2) if mail_postfix__relay_recipient_maps | length > 0 }}
relay_transport = {{ mail_postfix__relay_transport }}
{{ 'relayhost = ' + mail_postfix__relayhost if mail_postfix__relayhost | length > 0 }}

{{ 'sender_canonical_classes = \n  ' + mail_postfix__sender_canonical_classes | join(',\n') | indent(2) if mail_postfix__sender_canonical_classes | length > 0 }}
{{ 'sender_canonical_maps = \n  ' + mail_postfix__sender_canonical_maps | join(',\n') | indent(2) if mail_postfix__sender_canonical_maps | length > 0 }}
smtp_helo_name = {{ mail_postfix__smtp_helo_name }}
{{ 'smtp_tls_CApath = ' + mail_postfix__smtp_tls_capath if mail_postfix__smtp_tls_capath | length > 0 }}
smtp_tls_security_level = {{ mail_postfix__smtp_tls_security_level }}
smtp_tls_session_cache_database = {{ mail_postfix__smtp_tls_session_cache_database }}
smtp_use_tls = {{ mail_postfix__smtp_use_tls | ternary('yes', 'no') }}
smtpd_banner = {{ mail_postfix__smtpd_banner }}
{{ 'smtpd_client_restrictions = \n  ' + mail_postfix__smtpd_client_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_client_restrictions | length > 0 }}
{{ 'smtpd_data_restrictions = \n  ' + mail_postfix__smtpd_data_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_data_restrictions | length > 0 }}
smtpd_delay_reject = {{ mail_postfix__smtpd_delay_reject | ternary('yes', 'no') }}
{{ 'smtpd_end_of_data_restrictions \n  ' + mail_postfix__smtpd_end_of_data_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_end_of_data_restrictions | length > 0 }}
{{ 'smtpd_etrn_restrictions = \n  ' + mail_postfix__smtpd_etrn_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_etrn_restrictions | length > 0 }}
smtpd_helo_required = {{ mail_postfix__smtpd_helo_required | ternary('yes', 'no') }}
{{ 'smtpd_helo_restrictions = \n  ' + mail_postfix__smtpd_helo_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_helo_restrictions | length > 0 }}
{{ 'smtpd_milters = \n  ' + mail_postfix__smtpd_milters | join(',\n') | indent(2) if mail_postfix__smtpd_milters | length > 0 }}
{{ 'smtpd_recipient_restrictions = \n  ' + mail_postfix__smtpd_recipient_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_recipient_restrictions | length > 0 }}
{{ 'smtpd_relay_restrictions = \n  ' + mail_postfix__smtpd_relay_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_relay_restrictions | length > 0 }}
smtpd_sasl_auth_enable = {{ mail_postfix__smtpd_sasl_auth_enable | ternary('yes', 'no') }}
{{ 'smtpd_sasl_local_domain = ' + mail_postfix__smtpd_sasl_local_domain if mail_postfix__smtpd_sasl_local_domain | length > 0 }}
smtpd_sasl_path = {{ mail_postfix__smtpd_sasl_path }}
{{ 'smtpd_sasl_security_options = \n  ' + mail_postfix__smtpd_sasl_security_options | join(',\n') | indent(2) if mail_postfix__smtpd_sasl_security_options | length > 0 }}
smtpd_sasl_type = {{ mail_postfix__smtpd_sasl_type }}
{{ 'smtpd_sender_restrictions = \n  ' + mail_postfix__smtpd_sender_restrictions | join(',\n') | indent(2) if mail_postfix__smtpd_sender_restrictions | length > 0 }}
smtpd_tls_auth_only = {{ mail_postfix__smtpd_tls_auth_only | ternary('yes', 'no') }}
{{ 'smtpd_tls_CAfile = ' + mail_postfix__smtpd_tls_cafile if mail_postfix__smtpd_tls_cafile | length > 0 }}
smtpd_tls_cert_file = {{ mail_postfix__smtpd_tls_cert_file }}
smtpd_tls_key_file = {{ mail_postfix__smtpd_tls_key_file }}
smtpd_tls_loglevel = {{ mail_postfix__smtpd_tls_loglevel }}
smtpd_tls_received_header = {{ mail_postfix__smtpd_tls_received_header | ternary('yes', 'no') }}
smtpd_tls_security_level = {{ mail_postfix__smtpd_tls_security_level }}
smtpd_tls_session_cache_timeout = {{ mail_postfix__smtpd_tls_session_cache_timeout }}
smtpd_use_tls = {{ mail_postfix__smtpd_use_tls | ternary('yes', 'no') }}
soft_bounce = {{ mail_postfix__soft_bounce | ternary('yes', 'no') }}

tls_random_source = {{ mail_postfix__tls_random_source }}

unknown_local_recipient_reject_code = {{ mail_postfix__unknown_local_recipient_reject_code }}

{{ 'virtual_alias_maps = \n  ' + mail_postfix__virtual_alias_maps | join(',\n') | indent(2) if mail_postfix__virtual_alias_maps | length > 0 }}
{{ 'virtual_mailbox_domains = \n  ' + mail_postfix__virtual_mailbox_domains | join(',\n') | indent(2) if mail_postfix__virtual_mailbox_domains | length > 0 }}
{{ 'virtual_mailbox_maps = \n  ' + mail_postfix__virtual_mailbox_maps | join(',\n') | indent(2) if mail_postfix__virtual_mailbox_maps | length > 0 }}
{{ 'virtual_maps = \n  ' + mail_postfix__virtual_maps | join(',\n') | indent(2) if mail_postfix__virtual_maps | length > 0 }}
virtual_transport = {{ mail_postfix__virtual_transport }}
