###
### {{ ansible_managed }}
###

# The installation package of this openHAB instance
# Note: This is only regarded at the VERY FIRST START of openHAB
# Note: If you want to specify your add-ons yourself through entries below, set the package to "minimal"
# as otherwise your definition might be in conflict with what the installation package defines.
#
# Valid options:
#   - standard : Standard setup for normal use of openHAB with persistence (rrd4j) and additional UI add-ons (basic,habpanel).
#   - minimal  : Installation of core components without additional add-ons.
#
package = {{ openhab__addons_package }}

# Access Remote Add-on Repository
# Defines whether the remote openHAB add-on repository should be used for browsing and installing add-ons. (default is true)
#
remote = {{ openhab__addons_remote | ternary('true', 'false') }}

# Some add-on services may provide add-ons where compatibility with the currently running system is not expected.
# Enabling this option will include these entries in the list of available add-ons.
#
includeIncompatible = {{ openhab__addons_include_incompatible | ternary('true', 'false') }}

# A comma-separated list of automation services to install (e.g. "automation = groovyscripting")
{{ '#' if openhab__addons_automation | length == 0 }}automation = {{ openhab__addons_automation | join(',') }}

# A comma-separated list of bindings to install (e.g. "binding = knx,sonos,zwave")
{{ '#' if openhab__addons_binding | length == 0 }}binding = {{ openhab__addons_binding | join(',') }}

# A comma-separated list of miscellaneous services to install (e.g. "misc = openhabcloud")
{{ '#' if openhab__addons_misc | length == 0 }}misc = {{ openhab__addons_misc | join(',') }}

# A comma-separated list of persistence services to install (e.g. "persistence = jpa,rrd4j")
{{ '#' if openhab__addons_persistence | length == 0 }}persistence = {{ openhab__addons_persistence | join(',') }}

# A comma-separated list of transformation services to install (e.g. "transformation = jsonpath,map")
{{ '#' if openhab__addons_transformation | length == 0 }}transformation = {{ openhab__addons_transformation | join(',') }}

# A comma-separated list of UIs to install (e.g. "ui = basic,habpanel")
{{ '#' if openhab__addons_ui | length == 0 }}ui = {{ openhab__addons_ui | join(',') }}

# A comma-separated list of voice services to install (e.g. "voice = googletts,marytts")
{{ '#' if openhab__addons_voice | length == 0 }}voice = {{ openhab__addons_voice | join(',') }}
