###
### {{ ansible_managed }}
###

daily_backup_borg_enable="YES"
daily_backup_borg_backup_dir="{{ backup_borg__backup_dir }}"
{% if backup_borg__password | length > 0 %}
daily_backup_borg_passphrase="{{ backup_borg__password }}"
{% endif %}
{% if backup_borg__cache_dir | length > 0 %}
daily_backup_borg_cache_dir="{{ backup_borg__cache_dir }}"
{% endif %}
{% if backup_borg__rsh | length > 0 %}
daily_backup_borg_rsh="{{ backup_borg__rsh }}"
{% endif %}
daily_backup_borg_options="{{ backup_borg__options }}"
daily_backup_borg_include="{{ backup_borg__include | join(' ') }}"
{% if backup_borg__exclude | length > 0 %}
daily_backup_borg_exclude="{{ backup_borg__exclude | join(' ') }}"
{% endif %}
