###
### {{ ansible_managed }}
###

daily_backup_borg_enable="YES"
daily_backup_borg_repository="{{ backup_borg__repository }}"
{% if backup_borg__password_command | default('') | length > 0 %}
daily_backup_borg_password_command="{{ backup_borg__password_command }}"
{% endif %}
{% if backup_borg__cache_dir | default('') | length > 0 %}
daily_backup_borg_cache_dir="{{ backup_borg__cache_dir }}"
{% endif %}
{% if backup_borg__rsh | default('') | length > 0 %}
daily_backup_borg_rsh="{{ backup_borg__rsh }}"
{% endif %}
{% if backup_borg__options | default('') | length > 0 %}
daily_backup_borg_options="{{ backup_borg__options }}"
{% endif %}
daily_backup_borg_include="{{ backup_borg__include | join(' ') }}"
{% if backup_borg__exclude | default([]) | length > 0 %}
daily_backup_borg_exclude="{{ backup_borg__exclude | join(' ') }}"
{% endif %}
