# See https://doc.powerdns.com/authoritative/backends/generic-postgresql.html
launch+=gpgsql

#################################
# gpgsql-dbname	Backend database name to connect to
#
gpgsql-dbname={{ dns_powerdns__gpgsql_dbname }}

#################################
# gpgsql-dnssec	Enable DNSSEC processing
#
gpgsql-dnssec={{ dns_powerdns__gpgsql_dnssec | ternary('true', 'false') }}

#################################
# gpgsql-extra-connection-parameters	Extra parameters to add to connection string
#
{{ '# ' if dns_powerdns__gpgsql_extra_connection_parameters | length == 0 }}gpgsql-extra-connection-parameters={{ dns_powerdns__gpgsql_extra_connection_parameters }}

#################################
# gpgsql-host	Database backend host to connect to
#
gpgsql-host={{ dns_powerdns__gpgsql_host }}

#################################
# gpgsql-password	Database backend password to connect with
#
gpgsql-password={{ dns_powerdns__gpgsql_password }}

#################################
# gpgsql-port	Database backend port to connect to
#
gpgsql-port={{ dns_powerdns__gpgsql_gpgsql_port }}

#################################
# gpgsql-prepared-statements	Use prepared statements instead of parameterized queries
#
gpgsql-prepared-statements={{ dns_powerdns__gpgsql_prepared_statements | ternary('true', 'false') }}

#################################
# gpgsql-user	Database backend user to connect as
#
# gpgsql-user=
gpgsql-user={{ dns_powerdns__gpgsql_user }}
