
#################################
# ignore-unknown-settings	Configuration settings to ignore if they are unknown
#
# ignore-unknown-settings={{ dns_powerdns__ignore_unknown_settings | join(',') }}

#################################
# 8bit-dns	Allow 8bit dns queries
#
8bit-dns={{ dns_powerdns__8bit_dns | ternary('yes', 'no') }}

#################################
# allow-axfr-ips	Allow zonetransfers only to these subnets
#
allow-axfr-ips={{ dns_powerdns__allow_axfr_ips | join(',') }}

#################################
# allow-dnsupdate-from	A global setting to allow DNS updates from these IP ranges.
#
allow-dnsupdate-from={{ dns_powerdns__allow_dnsupdate_from | join(',') }}

#################################
# allow-notify-from	Allow AXFR NOTIFY from these IP ranges. If empty, drop all incoming notifies.
#
allow-notify-from={{ dns_powerdns__allow_notify_from | join(',') }}

#################################
# allow-unsigned-autoprimary	Allow autoprimaries to create zones without TSIG signed NOTIFY
#
allow-unsigned-autoprimary={{ dns_powerdns__allow_unsigned_autoprimary | ternary('yes', 'no') }}

#################################
# allow-unsigned-notify	Allow unsigned notifications for TSIG secured zones
#
allow-unsigned-notify={{ dns_powerdns__allow_unsigned_notify | ternary('yes', 'no') }}

#################################
# also-notify	When notifying a zone, also notify these nameservers
#
also-notify={{ dns_powerdns__also_notify | join(',') }}

#################################
# any-to-tcp	Answer ANY queries with tc=1, shunting to TCP
#
any-to-tcp={{ dns_powerdns__any_to_tcp | ternary('yes', 'no') }}

#################################
# api	Enable/disable the REST API (including HTTP listener)
#
api={{ dns_powerdns__api | ternary('yes', 'no') }}

#################################
# api-key	Static pre-shared authentication key for access to the REST API
#
{{ '# ' if dns_powerdns__api_key | length == 0 }}api-key={{ dns_powerdns__api_key }}

#################################
# autosecondary	Act as an autosecondary
#
autosecondary={{ dns_powerdns__autosecondary | ternary('yes', 'no') }}

#################################
# axfr-fetch-timeout	Maximum time in seconds for inbound AXFR to start or be idle after starting
#
axfr-fetch-timeout={{ dns_powerdns__axfr_fetch_timeout }}

#################################
# axfr-lower-serial	Also AXFR a zone from a primary with a lower serial
#
axfr-lower-serial={{ dns_powerdns__axfr_lower_serial | ternary('yes', 'no') }}

#################################
# cache-ttl	Seconds to store packets in the PacketCache
#
cache-ttl={{ dns_powerdns__cache_ttl }}

#################################
# carbon-instance	If set overwrites the instance name default
#
carbon-instance={{ dns_powerdns__carbon_instance }}

#################################
# carbon-interval	Number of seconds between carbon (graphite) updates
#
carbon-interval={{ dns_powerdns__carbon_interval }}

#################################
# carbon-namespace	If set overwrites the first part of the carbon string
#
carbon-namespace={{ dns_powerdns__carbon_namespace }}

#################################
# carbon-ourname	If set, overrides our reported hostname for carbon stats
#
{{ '# ' if dns_powerdns__carbon_ourname | length == 0 }}carbon-ourname={{ dns_powerdns__carbon_ourname }}

#################################
# carbon-server	If set, send metrics in carbon (graphite) format to this server IP address
#
{{ '# ' if dns_powerdns__carbon_server | length == 0 }}carbon-server={{ dns_powerdns__carbon_server | join(',') }}

#################################
# chroot	If set, chroot to this directory for more security
#
{{ '# ' if dns_powerdns__chroot | length == 0 }}chroot={{ dns_powerdns__chroot }}

#################################
# config-dir	Location of configuration directory (pdns.conf)
#
config-dir={{ dns_powerdns__config_dir }}

#################################
# config-name	Name of this virtual configuration - will rename the binary image
#
{{ '# ' if dns_powerdns__config_name | length == 0 }}config-name={{ dns_powerdns__config_name }}

#################################
# consistent-backends	Assume individual zones are not divided over backends. Send only ANY lookup operations to the backend to reduce the number of lookups
#
consistent-backends={{ dns_powerdns__consistent_backends | ternary('yes', 'no') }}

#################################
# control-console	Debugging switch - don't use
#
# control-console={{ dns_powerdns__control_console | ternary('yes', 'no') }}

#################################
# daemon	Operate as a daemon
#
daemon={{ dns_powerdns__daemon | ternary('yes', 'no') }}

#################################
# default-api-rectify	Default API-RECTIFY value for zones
#
default-api-rectify={{ dns_powerdns__default_api_rectify | ternary('yes', 'no') }}

#################################
# default-catalog-zone	Catalog zone to assign newly created primary zones (via the API) to
#
default-catalog-zone={{ dns_powerdns__default_catalog_zone }}

#################################
# default-ksk-algorithm	Default KSK algorithm
#
default-ksk-algorithm={{ dns_powerdns__default_ksk_algorithm }}

#################################
# default-ksk-size	Default KSK size (0 means default)
#
default-ksk-size={{ dns_powerdns__default_publish_cdnskey }}

#################################
# default-publish-cdnskey	Default value for PUBLISH-CDNSKEY
#
default-publish-cdnskey={{ dns_powerdns__default_publish_cdnskey }}

#################################
# default-publish-cds	Default value for PUBLISH-CDS
#
default-publish-cds={{ dns_powerdns__default_publish_cds }}

#################################
# default-soa-content	Default SOA content
#
default-soa-content={{ dns_powerdns__default_soa_content }}

#################################
# default-soa-edit	Default SOA-EDIT value
#
default-soa-edit={{ dns_powerdns__default_soa_edit }}

#################################
# default-soa-edit-signed	Default SOA-EDIT value for signed zones
#
default-soa-edit-signed={{ dns_powerdns__default_soa_edit_signed }}

#################################
# default-ttl	Seconds a result is valid if not set otherwise
#
default-ttl={{ dns_powerdns__default_ttl }}

#################################
# default-zsk-algorithm	Default ZSK algorithm
#
default-zsk-algorithm={{ dns_powerdns__default_zsk_algorithm }}

#################################
# default-zsk-size	Default ZSK size (0 means default)
#
default-zsk-size={{ dns_powerdns__default_zsk_size }}

#################################
# delay-notifications	Configure a delay to send out notifications, no delay by default
#
delay-notifications={{ dns_powerdns__delay_notifications }}

#################################
# direct-dnskey	Fetch DNSKEY, CDS and CDNSKEY RRs from backend during DNSKEY or CDS/CDNSKEY synthesis
#
direct-dnskey={{ dns_powerdns__direct_dnskey | ternary('yes', 'no') }}

#################################
# disable-axfr	Disable zonetransfers but do allow TCP queries
#
disable-axfr={{ dns_powerdns__disable_axfr | ternary('yes', 'no') }}

#################################
# disable-axfr-rectify	Disable the rectify step during an outgoing AXFR. Only required for regression testing.
#
disable-axfr-rectify={{ dns_powerdns__disable_axfr_rectify | ternary('yes', 'no') }}

#################################
# disable-syslog	Disable logging to syslog, useful when running inside a supervisor that logs stdout
#
disable-syslog={{ dns_powerdns__disable_syslog | ternary('yes', 'no') }}

#################################
# distributor-threads	Default number of Distributor (backend) threads to start
#
distributor-threads={{ dns_powerdns__distributor_threads }}

#################################
# dname-processing	If we should support DNAME records
#
dname-processing={{ dns_powerdns__dname_processing | ternary('yes', 'no') }}

#################################
# dnsproxy-udp-port-range	https://doc.powerdns.com/authoritative/settings.html#dnsproxy-udp-port-range
#
# dnsproxy-udp-port-range={{ dns_powerdns__dnsproxy_udp_port_range }}

#################################
# dnssec-key-cache-ttl	Seconds to cache DNSSEC keys from the database
#
dnssec-key-cache-ttl={{ dns_powerdns__dnssec_key_cache_ttl }}

#################################
# dnsupdate	Enable/Disable DNS update (RFC2136) support. Default is no.
#
dnsupdate={{ dns_powerdns__dnsupdate | ternary('yes', 'no') }}

#################################
# dnsupdate-require-tsig	https://doc.powerdns.com/authoritative/settings.html#dnsupdate-require-tsig
#
# dnsupdate-require-tsig={{ dns_powerdns__dnsupdate_require_tsig | ternary('yes', 'no') }}

#################################
# edns-cookie-secret	When set, set a server cookie when responding to a query with a Client cookie (in hex)
#
{{ '# ' if dns_powerdns__edns_cookie_secret | length == 0 }}edns-cookie-secret={{ dns_powerdns__edns_cookie_secret }}

#################################
# edns-subnet-processing	If we should act on EDNS Subnet options
#
edns-subnet-processing={{ dns_powerdns__edns_subnet_processing | ternary('yes', 'no') }}

#################################
# enable-gss-tsig	https://doc.powerdns.com/authoritative/settings.html#enable-gss-tsig
#
# enable-gss-tsig={{ dns_powerdns__enable_gss_tsig | ternary('yes', 'no') }}

#################################
# enable-lua-records	Process LUA records for all zones (metadata overrides this)
#
enable-lua-records={{ dns_powerdns__enable_lua_records | ternary('yes', 'no') }}

#################################
# entropy-source	If set, read entropy from this file
#
entropy-source={{ dns_powerdns__entropy_source }}

#################################
# expand-alias	Expand ALIAS records
#
expand-alias={{ dns_powerdns__expand_alias | ternary('yes', 'no') }}

#################################
# resolve-across-zones	https://doc.powerdns.com/authoritative/settings.html#resolve-across-zones
#
# resolve-across-zones={{ dns_powerdns__resolve_across_zones | ternary('yes', 'no') }}

#################################
# forward-dnsupdate	A global setting to allow DNS update packages that are for a Secondary zone, to be forwarded to the primary.
#
forward-dnsupdate={{ dns_powerdns__forward_dnsupdate | ternary('yes', 'no') }}

#################################
# forward-notify	IP addresses to forward received notifications to regardless of primary or secondary settings
#
forward-notify={{ dns_powerdns__forward_notify | join(',') }}

#################################
# guardian	Run within a guardian process
#
guardian={{ dns_powerdns__guardian | ternary('yes', 'no') }}

#################################
# include-dir	Include *.conf files from this directory
#
include-dir={{ dns_powerdns__include_dir }}

#################################
# launch	Which backends to launch and order to query them in
#
launch={{ dns_powerdns__launch | join(',') }}

#################################
# load-modules	Load this module - supply absolute or relative path
#
load-modules={{ dns_powerdns__load_modules | join(',') }}

#################################
# local-address	Local IP addresses to which we bind
#
local-address={{ dns_powerdns__local_address | join(',') }}

#################################
# local-address-nonexist-fail	Fail to start if one or more of the local-address's do not exist on this server
#
local-address-nonexist-fail={{ dns_powerdns__local_address_nonexist_fail | ternary('yes', 'no') }}

#################################
# local-port	The port on which we listen
#
local-port={{ dns_powerdns__local_port }}

#################################
# log-dns-details	If PDNS should log DNS non-erroneous details
#
log-dns-details={{ dns_powerdns__log_dns_details | ternary('yes', 'no') }}

#################################
# log-dns-queries	If PDNS should log all incoming DNS queries
#
log-dns-queries={{ dns_powerdns__log_dns_queries | ternary('yes', 'no') }}

#################################
# log-timestamp	Print timestamps in log lines
#
log-timestamp={{ dns_powerdns__log_timestamp | ternary('yes', 'no') }}

#################################
# logging-facility	Log under a specific facility
#
{{ '# ' if dns_powerdns__logging_facility | length == 0 }}logging-facility={{ dns_powerdns__logging_facility }}

#################################
# loglevel	Amount of logging. Higher is more. Do not set below 3
#
loglevel={{ dns_powerdns__loglevel }}

#################################
# loglevel-show	Include log level indicator in log output
#
loglevel-show={{ dns_powerdns__loglevel_show | ternary('yes', 'no') }}

#################################
# lua-axfr-script	Script to be used to edit incoming AXFRs
#
lua-axfr-script={{ dns_powerdns__lua_axfr_script }}

#################################
# lua-consistent-hashes-cleanup-interval	Pre-computed hashes cleanup interval (in seconds)
#
lua-consistent-hashes-cleanup-interval={{ dns_powerdns__lua_consistent_hashes_cleanup_interval }}

#################################
# lua-consistent-hashes-expire-delay	Cleanup pre-computed hashes that haven't been used for the given delay (in seconds). See pickchashed() LUA function
#
lua-consistent-hashes-expire-delay={{ dns_powerdns__lua_consistent_hashes_expire_delay }}

#################################
# lua-dnsupdate-policy-script	Lua script with DNS update policy handler
#
lua-dnsupdate-policy-script={{ dns_powerdns__lua_dnsupdate_policy_script }}

#################################
# lua-global-include-dir	https://doc.powerdns.com/authoritative/settings.html#lua-global-include-dir
#
# lua-global-include-dir={{ dns_powerdns__lua_global_include_dir }}

#################################
# lua-health-checks-expire-delay	Stops doing health checks after the record hasn't been used for that delay (in seconds)
#
lua-health-checks-expire-delay={{ dns_powerdns__lua_health_checks_expire_delay }}

#################################
# lua-health-checks-interval	LUA records health checks monitoring interval in seconds
#
lua-health-checks-interval={{ dns_powerdns__lua_health_checks_interval }}

#################################
# lua-prequery-script	Lua script with prequery handler (DO NOT USE)
#
lua-prequery-script={{ dns_powerdns__lua_prequery_script }}

#################################
# lua-records-exec-limit	LUA records scripts execution limit (instructions count). Values <= 0 mean no limit
#
lua-records-exec-limit={{ dns_powerdns__lua_records_exec_limit }}

#################################
# lua-records-insert-whitespace	Insert whitespace when combining LUA chunks
#
lua-records-insert-whitespace={{ dns_powerdns__lua_records_insert_whitespace | ternary('yes', 'no') }}

#################################
# max-cache-entries	Maximum number of entries in the query cache
#
max-cache-entries={{ dns_powerdns__max_cache_entries }}

#################################
# max-ent-entries	Maximum number of empty non-terminals in a zone
#
max-ent-entries={{ dns_powerdns__max_ent_entries }}

#################################
# max-generate-steps	Maximum number of $GENERATE steps when loading a zone from a file
#
max-generate-steps={{ dns_powerdns__max_generate_steps }}

#################################
# max-include-depth	Maximum number of nested $INCLUDE directives while processing a zone file
#
max-include-depth={{ dns_powerdns__max_include_depth }}

#################################
# max-nsec3-iterations	Limit the number of NSEC3 hash iterations
#
max-nsec3-iterations={{ dns_powerdns__max_nsec3_iterations }}

#################################
# max-packet-cache-entries	Maximum number of entries in the packet cache
#
max-packet-cache-entries={{ dns_powerdns__max_packet_cache_entries }}

#################################
# max-queue-length	Maximum queuelength before considering situation lost
#
max-queue-length={{ dns_powerdns__max_queue_length }}

#################################
# max-signature-cache-entries	Maximum number of signatures cache entries
#
max-signature-cache-entries={{ dns_powerdns__max_signature_cache_entries }}

#################################
# max-tcp-connection-duration	Maximum time in seconds that a TCP DNS connection is allowed to stay open.
#
max-tcp-connection-duration={{ dns_powerdns__max_tcp_connection_duration }}

#################################
# max-tcp-connections	Maximum number of TCP connections
#
max-tcp-connections={{ dns_powerdns__max_tcp_connections }}

#################################
# max-tcp-connections-per-client	Maximum number of simultaneous TCP connections per client
#
max-tcp-connections-per-client={{ dns_powerdns__max_tcp_connections_per_client }}

#################################
# max-tcp-transactions-per-conn	Maximum number of subsequent queries per TCP connection
#
max-tcp-transactions-per-conn={{ dns_powerdns__max_tcp_transactions_per_conn }}

#################################
# module-dir	Default directory for modules
#
# module-dir={{ dns_powerdns__module_dir }}

#################################
# negquery-cache-ttl	Seconds to store negative query results in the QueryCache
#
negquery-cache-ttl={{ dns_powerdns__negquery_cache_ttl }}

#################################
# no-shuffle	Set this to prevent random shuffling of answers - for regression testing
#
no-shuffle={{ dns_powerdns__no_shuffle | ternary('yes', 'no') }}

#################################
# non-local-bind	Enable binding to non-local addresses by using FREEBIND / BINDANY socket options
#
non-local-bind={{ dns_powerdns__non_local_bind | ternary('yes', 'no') }}

#################################
# only-notify	Only send AXFR NOTIFY to these IP addresses or netmasks
#
only-notify={{ dns_powerdns__only_notify | join(',') }}

#################################
# outgoing-axfr-expand-alias	Expand ALIAS records during outgoing AXFR
#
outgoing-axfr-expand-alias={{ dns_powerdns__outgoing_axfr_expand_alias | ternary('yes', 'no') }}

#################################
# overload-queue-length	Maximum queuelength moving to packetcache only
#
overload-queue-length={{ dns_powerdns__overload_queue_length }}

#################################
# prevent-self-notification	Don't send notifications to what we think is ourself
#
prevent-self-notification={{ dns_powerdns__prevent_self_notification | ternary('yes', 'no') }}

#################################
# primary	Act as a primary
#
primary={{ dns_powerdns__primary | ternary('yes', 'no') }}

#################################
# proxy-protocol-from	A Proxy Protocol header is only allowed from these subnets, and is mandatory then too.
#
proxy-protocol-from={{ dns_powerdns__proxy_protocol_from | join(',') }}

#################################
# proxy-protocol-maximum-size	The maximum size of a proxy protocol payload, including the TLV values
#
proxy-protocol-maximum-size={{ dns_powerdns__proxy_protocol_maximum_size }}

#################################
# query-cache-ttl	Seconds to store query results in the QueryCache
#
query-cache-ttl={{ dns_powerdns__query_cache_ttl }}

#################################
# query-local-address	Source IP addresses for sending queries
#
query-local-address={{ dns_powerdns__query_local_address | join(',') }}

#################################
# query-logging	Hint backends that queries should be logged
#
query-logging={{ dns_powerdns__query_logging | ternary('yes', 'no') }}

#################################
# queue-limit	Maximum number of milliseconds to queue a query
#
queue-limit={{ dns_powerdns__queue_limit }}

#################################
# receiver-threads	Default number of receiver threads to start
#
receiver-threads={{ dns_powerdns__receiver_threads }}

#################################
# resolver	Use this resolver for ALIAS and the internal stub resolver
#
{% for resolver in dns_powerdns__resolver %}
resolver={{ resolver }}
{% endfor %}

#################################
# retrieval-threads	Number of AXFR-retrieval threads for secondary operation
#
retrieval-threads={{ dns_powerdns__retrieval_threads }}

#################################
# reuseport	Enable higher performance on compliant kernels by using SO_REUSEPORT allowing each receiver thread to open its own socket
#
reuseport={{ dns_powerdns__reuseport | ternary('yes', 'no') }}

#################################
# rng	Specify the random number generator to use. Valid values are auto,sodium,openssl,getrandom,arc4random,urandom.
#
rng={{ dns_powerdns__rng }}

#################################
# secondary	Act as a secondary
#
secondary={{ dns_powerdns__secondary | ternary('yes', 'no') }}

#################################
# secondary-check-signature-freshness	Check signatures in SOA freshness check. Sets DO flag on SOA queries. Outside some very problematic scenarios, say yes here.
#
secondary-check-signature-freshness={{ dns_powerdns__secondary_check_signature_freshness | ternary('yes', 'no') }}

#################################
# secondary-do-renotify	If this secondary should send out notifications after receiving zone transfers from a primary
#
secondary-do-renotify={{ dns_powerdns__secondary_do_renotify | ternary('yes', 'no') }}

#################################
# security-poll-suffix	Zone name from which to query security update notifications
#
security-poll-suffix={{ dns_powerdns__security_poll_suffix }}

#################################
# send-signed-notify	Send TSIG secured NOTIFY if TSIG key is configured for a zone
#
# send-signed-notify={{ dns_powerdns__send_signed_notify | ternary('yes', 'no') }}

#################################
# server-id	Returned when queried for 'id.server' TXT or NSID, defaults to hostname - disabled or custom
#
server-id={{ dns_powerdns__server_id }}

#################################
# setgid	If set, change group id to this gid for more security
#
{{ '# ' if dns_powerdns__setgid | length == 0 }}setgid={{ dns_powerdns__setgid }}

#################################
# setuid	If set, change user id to this uid for more security
#
{{ '# ' if dns_powerdns__setuid | length == 0 }}setuid={{ dns_powerdns__setuid }}

#################################
# signing-threads	Default number of signer threads to start
#
signing-threads={{ dns_powerdns__signing_threads }}

#################################
# socket-dir	Where the controlsocket will live, /var/run/pdns when unset and not chrooted. Set to the RUNTIME_DIRECTORY environment variable when that variable has a value (e.g. under systemd).
#
{{ '# ' if dns_powerdns__socket_dir | length == 0 }}socket-dir={{ dns_powerdns__socket_dir }}

#################################
# svc-autohints	Transparently fill ipv6hint=auto ipv4hint=auto SVC params with AAAA/A records for the target name of the record (if within the same zone)
#
# svc-autohints={{ dns_powerdns__svc_autohints | ternary('yes', 'no') }}

#################################
# tcp-control-address	If set, PowerDNS can be controlled over TCP on this address
#
tcp-control-address={{ dns_powerdns__tcp_control_address }}

#################################
# tcp-control-port	If set, PowerDNS can be controlled over TCP on this address
#
tcp-control-port={{ dns_powerdns__tcp_control_port }}

#################################
# tcp-control-range	If set, remote control of PowerDNS is possible over these networks only
#
tcp-control-range={{ dns_powerdns__tcp_control_range | join(',') }}

#################################
# tcp-control-secret	If set, PowerDNS can be controlled over TCP after passing this secret
#
tcp-control-secret={{ dns_powerdns__tcp_control_secret }}

#################################
# tcp-fast-open	Enable TCP Fast Open support on the listening sockets, using the supplied numerical value as the queue size
#
tcp-fast-open={{ dns_powerdns__tcp_fast_open }}

#################################
# tcp-idle-timeout	Maximum time in seconds that a TCP DNS connection is allowed to stay open while being idle
#
tcp-idle-timeout={{ dns_powerdns__tcp_idle_timeout }}

#################################
# traceback-handler	Enable the traceback handler (Linux only)
#
traceback-handler={{ dns_powerdns__traceback_handler | ternary('yes', 'no') }}

#################################
# trusted-notification-proxy	IP address of incoming notification proxy
#
trusted-notification-proxy={{ dns_powerdns__trusted_notification_proxy | join(',') }}

#################################
# udp-truncation-threshold	Maximum UDP response size before we truncate
#
udp-truncation-threshold={{ dns_powerdns__udp_truncation_threshold }}

#################################
# upgrade-unknown-types	Transparently upgrade known TYPExxx records. Recommended to keep off, except for PowerDNS upgrades until data sources are cleaned up
#
upgrade-unknown-types={{ dns_powerdns__upgrade_unknown_types | ternary('yes', 'no') }}

#################################
# version-string	PowerDNS version in packets - full, anonymous, powerdns or custom
#
version-string={{ dns_powerdns__version_string }}

#################################
# views	https://doc.powerdns.com/authoritative/settings.html#views
#
# views={{ dns_powerdns__views | ternary('yes', 'no') }}

#################################
# webserver	Start a webserver for monitoring (api=yes also enables the HTTP listener)
#
webserver={{ dns_powerdns__webserver | ternary('yes', 'no') }}

#################################
# webserver-address	IP Address of webserver/API to listen on
#
webserver-address={{ dns_powerdns__webserver_address }}

#################################
# webserver-allow-from	Webserver/API access is only allowed from these subnets
#
webserver-allow-from={{ dns_powerdns__webserver_allow_from | join(',') }}

#################################
# webserver-connection-timeout	Webserver/API request/response timeout in seconds
#
webserver-connection-timeout={{ dns_powerdns__webserver_connection_timeout }}

#################################
# webserver-hash-plaintext-credentials	Whether to hash passwords and api keys supplied in plaintext, to prevent keeping the plaintext version in memory at runtime
#
webserver-hash-plaintext-credentials={{ dns_powerdns__webserver_hash_plaintext_credentials | ternary('yes', 'no') }}

#################################
# webserver-loglevel	Amount of logging in the webserver (none, normal, detailed)
#
webserver-loglevel={{ dns_powerdns__webserver_loglevel }}

#################################
# webserver-max-bodysize	Webserver/API maximum request/response body size in megabytes
#
webserver-max-bodysize={{ dns_powerdns__webserver_max_bodysize }}

#################################
# webserver-password	Password required for accessing the webserver
#
webserver-password={{ dns_powerdns__webserver_password }}

#################################
# webserver-port	Port of webserver/API to listen on
#
webserver-port={{ dns_powerdns__webserver_port }}

#################################
# webserver-print-arguments	If the webserver should print arguments
#
webserver-print-arguments={{ dns_powerdns__webserver_print_arguments | ternary('yes', 'no') }}

#################################
# workaround-11804	Workaround for issue 11804: send single RR per AXFR chunk
#
workaround-11804={{ dns_powerdns__workaround_11804 | ternary('yes', 'no') }}

#################################
# write-pid	Write a PID file
#
write-pid={{ dns_powerdns__write_pid | ternary('yes', 'no') }}

#################################
# xfr-cycle-interval	Schedule primary/secondary SOA freshness checks once every .. seconds
#
xfr-cycle-interval={{ dns_powerdns__xfr_cycle_interval }}

#################################
# xfr-max-received-mbytes	Maximum number of megabytes received from an incoming XFR
#
xfr-max-received-mbytes={{ dns_powerdns__xfr_max_received_mbytes }}

#################################
# zone-cache-refresh-interval	Seconds to cache list of known zones
#
zone-cache-refresh-interval={{ dns_powerdns__zone_cache_refresh_interval }}

#################################
# zone-metadata-cache-ttl	Seconds to cache zone metadata from the database
#
zone-metadata-cache-ttl={{ dns_powerdns__zone_metadata_cache_ttl }}
