/**
 * {{ ansible_managed }}
 */

{% for user, config in icinga__conf_api_users.items() %}
object ApiUser "{{ user }}" {
  password = "{{ config.password }}"
  permissions = {{ config.permissions | array2string }}
}

{% endfor %}
