/**
 * {{ ansible_managed }}
 */

{% for command, config in icinga__conf_commands.items() %}
object {{ config.class }} "{{ command }}" {
  command = {{ config.command }}

  arguments = {
{%   for argument, option in config.arguments.items() %}
{%     if option is string %}
    "{{ argument }}" = "{{ option }}"
{%     elif option is mapping %}
    "{{ argument }}" = {
{%       if 'required' in option %}
      required = {{ option.required | ternary('true', 'false') }}
{%       endif %}
{%       if 'value' in option %}
      value = "{{ option.value }}"
{%       endif %}
{%       if 'description' in option %}
      description = "{{ option.description }}"
{%       endif %}
    }
{%     endif %}
{%   endfor %}
  }

{%   for var, option in config.vars.items() %}
{%     if option is string %}
  vars.{{ var }} = "{{ option }}"
{%     endif %}
{%   endfor %}
}

{% endfor %}
