/**
 * {{ ansible_managed }}
 */

{% for downtime, config in icinga__conf_downtimes.items() %}
apply ScheduledDowntime "{{ downtime }}" to {{ config.to }} {
{%   if 'comment' in config %}
  comment = "{{ config.comment }}"
{%   endif %}
{%   if 'author' in config %}
  author = "{{ config.author }}"
{%   endif %}

  ranges = {
{%   for range, option in config.ranges.items() %}
    {{ range }} = {{ option }}
{%   endfor %}
  }

{%   for assignment in config.assign %}
  assign where {{ assignment }}
{%   endfor %}
}

{% endfor %}
