/**
 * {{ ansible_managed }}
 */

{% for group, config in icinga__conf_groups.items() %}
object {{ config.class }} "{{ group }}" {
  display_name = "{{ config.display_name }}"

{%   for assignment in config.assign %}
  assign where {{ assignment }}
{%   endfor %}
}

{% endfor %}
