/**
 * {{ ansible_managed }}
 */

{% for host, config in icinga__conf_hosts.items() %}
object Host "{{ host }}" {
{%   for import in config.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'check_command' in config %}
  check_command = "{{ config.check_command }}"
{%   endif %}
{%   if 'address' in config %}
  address = "{{ config.address }}"
{%   endif %}
{%   if 'vars' in config %}

{%   for var, value in config.vars.items() %}
{%     if value is boolean %}
  vars.{{ var }} = {{ value | ternary('true','false') }}
{%     elif value is number %}
  vars.{{ var }} = {{ value }}
{%     elif value is string %}
  vars.{{ var }} = {{ value | rawstring }}
{%     elif value is mapping %}
  vars.{{ var }} = {
{%       for k, v in value.items() %}
{%         if v is boolean %}
    {{ k }} = {{ v | ternary('true','false') }}
{%         elif v is number %}
    {{ k }} = {{ v }}
{%         elif v is string %}
    {{ k }} = {{ v | rawstring }}
{%         endif %}
{%       endfor %}
  }
{%     elif value is iterable %}
  vars.{{ var }} {{ '+' if var in config.vars_add | default([]) }}= {{ value | array2string }}
{%     endif %}
{%   endfor %}
{%   endif %}
}

{% endfor %}
