/**
 * {{ ansible_managed }}
 */

{% for notification, config in icinga__conf_notifications.items() %}
apply Notification "{{ notification }}" to {{ config.to }} {
{%   for import in config.import | default([]) %}
  import "{{ import }}"
{%   endfor %}

{%   if 'user_groups' in config %}
  user_groups = {{ config.user_groups }}
{%   endif %}
{%   if 'users' in config %}
  users = {{ config.users }}
{%   endif %}
{%   if 'interval' in config %}
  interval = {{ config.interval }}
{%   endif %}

{%   for assignment in config.assign %}
  assign where {{ assignment }}
{%   endfor %}
}

{% endfor %}
