/**
 * {{ ansible_managed }}
 */
{% import 'attributes.j2' as attributes %}

{% for name, object in objects.items() %}
{%   if object.comment is defined %}
{{ object.comment | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%   endif %}
{{ object.type | default('object') }} {{ object.class }} "{{ name }}" {
{%   if object.imports is defined %}
{%     for import in object.imports %}
  import "{{ import }}"
{%     endfor %}

{%   endif %}
{%   for key, value in object.config.items() %}
{%     if value is mapping %}
{{       attributes.mapdict(key, value) | indent(width=2, first=true) }}
{%     else %}
{{       attributes.printvalue(key, value) | indent(width=2, first=true) }}
{%     endif %}
{%   endfor %}
{%   if object.vars is defined %}

{{     attributes.mapdict('vars', object.vars) | indent(width=2, first=true) }}
{%   endif %}
}

{% endfor %}
