/**
 * {{ ansible_managed }}
 */

{% for service, config in icinga__conf_services.items() %}
apply Service "{{ service }}{{ '-' if 'for' in config }}" {{ 'for (' + config.for + ') ' if 'for' in config }}{
{%   for import in config.import | default([]) %}
  import "{{ import }}"
{%   endfor %}

{%   if 'check_command' in config %}
  check_command = {{ config.check_command | rawstring }}
{%   endif %}
{%   if 'command_endpoint' in config %}
  command_endpoint = {{ config.command_endpoint }}
{%   endif %}
{%   if 'display_name' in config %}
  display_name = {{ config.display_name | rawstring }}
{%   endif %}
{%   if 'host.address' in config %}
  host.address = {{ config['host.address'] | rawstring }}
{%   endif %}
{%   if 'vars' in config %}

{%   for var, value in config.vars.items() %}
{%     if value is boolean %}
  vars.{{ var }} = {{ value | ternary('true','false') }}
{%     elif value is number %}
  vars.{{ var }} = {{ value }}
{%     elif value is string %}
  vars.{{ var }} = {{ value | rawstring }}
{%     elif value is iterable %}
  vars.{{ var }} {{ '+' if var in config.vars_add | default([]) }}= {{ value | array2string }}
{%     endif %}
{%   endfor %}
{%   endif %}
{%   for var in config.vars_add | default([]) %}
{%     if not var in config.vars | default({}) %}
  vars += {{ var }}
{%     endif %}
{%   endfor %}

{%   for assignment in config.assign | default([]) %}
  assign where {{ assignment }}
{%   endfor %}
{%   for assignment in config.ignore | default([]) %}
  ignore where {{ assignment }}
{%   endfor %}
}

{% endfor %}
