/**
 * {{ ansible_managed }}
 */

{% for template, config in icinga__conf_templates.items() %}
{%   if 'doc' in config %}
{{ config.doc | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%   endif %}
template {{ config.class }} "{{ template }}" {
{%   for import in config.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'max_check_attempts' in config %}
  max_check_attempts = {{ config.max_check_attempts }}
{%   endif %}
{%   if 'check_interval' in config %}
  check_interval = {{ config.check_interval }}
{%   endif %}
{%   if 'retry_interval' in config %}
  retry_interval = {{ config.retry_interval }}
{%   endif %}
{%   if 'check_command' in config %}
  check_command = "{{ config.check_command }}"
{%   endif %}
{%   if 'command' in config %}
  command = "{{ config.command }}"
{%   endif %}
{%   if 'states' in config %}
  states = {{ config.states | array2string }}
{%   endif %}
{%   if 'types' in config %}
  types = {{ config.types | array2string }}
{%   endif %}
{%   if 'period' in config %}
  period = "{{ config.period }}"
{%   endif %}
{%   if 'interval' in config %}
  interval = {{ config.interval | rawstring }}
{%   endif %}
{%   if 'vars' in config %}

{%   for var, value in config.vars.items() %}
{%     if value is boolean %}
  vars.{{ var }} = {{ value | ternary('true','false') }}
{%     elif value is string %}
  vars.{{ var }} = {{ value | rawstring }}
{%     elif value is mapping %}
  vars.{{ var }} = {
{%       for k, v in value.items() %}
{%         if v is boolean %}
    {{ k }} = {{ v | ternary('true','false') }}
{%         elif v is number %}
    {{ k }} = {{ v }}
{%         elif v is string %}
    {{ k }} = {{ v | rawstring }}
{%         elif v is iterable %}
    {{ k }} = {{ v | array2string }}
{%         endif %}
{%       endfor %}
  }
{%     elif value is iterable %}
  vars.{{ var }} {{ '+' if var in config.vars_add | default([]) }}= {{ value | array2string }}
{%     endif %}
{%   endfor %}
{%   endif %}
}

{% endfor %}
