/**
 * {{ ansible_managed }}
 */

{% for timeperiod, config in icinga__conf_timeperiods.items() %}
object TimePeriod "{{ timeperiod }}" {
  display_name = "{{ config.display_name }}"
  ranges = {
{%   for range, timespan in config.ranges.items() %}
    "{{ range }}" = "{{ timespan }}"
{% endfor %}
  }
}

{% endfor %}
