/**
 * {{ ansible_managed }}
 */

{% for timeperiod, config in icinga__conf_timeperiods.items() %}
object TimePeriod "{{ timeperiod }}" {
{%   if 'display_name' in config %}
  display_name = "{{ config.display_name }}"
{%   endif %}
  ranges = {
{%   for range, option in config.ranges.items() %}
    {{ range }} = "{{ option }}"
{%   endfor %}
  }
}

{% endfor %}
