/**
 * {{ ansible_managed }}
 */

{% for user, config in icinga__conf_users.items() %}
object {{ config.class | default('User') }} "{{ user }}" {
{%   for import in config.import | default([]) %}
  import "{{ import }}"
{%   endfor %}
{%   if 'display_name' in config %}
  display_name = "{{ config.display_name }}"
{%   endif %}
{%   if 'email' in config %}
  email = "{{ config.email }}"
{%   endif %}
{%   if 'groups' in config %}
  groups = {{ config.groups | array2string }}
{%   endif %}
{%   if 'vars' in config %}

{%   for var, value in config.vars.items() %}
{%     if value is boolean %}
  vars.{{ var }} = {{ value | ternary('true','false') }}
{%     elif value is string %}
  vars.{{ var }} = {{ value | rawstring }}
{%     endif %}
{%   endfor %}
{%   endif %}
}

{% endfor %}
