###
### {{ ansible_managed }}
###

# Welcome to the chrony configuration file. See chrony.conf(5) for more
# information about usable directives.

# Include configuration files found in /etc/chrony/conf.d.
confdir {{ chrony__conf_dir }}

{% for ntp_host in chrony__pool %}
pool {{ ntp_host.hostname }} {{ ntp_host.options }}
{% endfor %}

{% for source_dir in chrony__source_dir %}
{{ '# '+source_dir.comment if source_dir.comment is defined }}
sourcedir {{ source_dir.dir }}
{% endfor %}

# This directive specify the location of the file containing ID/key pairs for
# NTP authentication.
keyfile {{ chrony__key_file }}

# This directive specify the file into which chronyd will store the rate
# information.
driftfile {{ chrony__drift_file }}

# Save NTS keys and cookies.
ntsdumpdir {{ chrony__ntsdump_dir }}

# Uncomment the following line to turn logging on.
{{ '# ' if chrony__log | length < 1 }}log {{ chrony__log | join(' ') }}

# Log files location.
logdir {{ chrony__log_dir }}

# Stop bad estimates upsetting machine clock.
maxupdateskew {{ chrony__max_update_skew }}

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
{{ '# ' if not chrony__rtcsync }}rtcsync

# Step the system clock instead of slewing it if the adjustment is larger than
# one second, but only in the first three clock updates.
makestep {{ chrony__makestep }}

# Get TAI-UTC offset and leap seconds from the system tz database.
# This directive must be commented out when using time sources serving
# leap-smeared time.
leapsectz {{ chrony__leap_sec_tz }}

{% for ntp_host in chrony__allow %}
allow {{ ntp_host }}
{% endfor %}

hwclockfile {{ chrony__hwclock_file }}
logchange {{ chrony__log_change }}
{{ '! no_client_log' if chrony__no_client_log }}

stratumweight {{ chrony__stratum_weight }}
local stratum {{ chrony__local_stratum }}
