###
### {{ ansible_managed }}
###

daily_backup_foundryvtt_enable="YES"
daily_backup_foundryvtt_base_dir="{{ backup_foundryvtt__base_dir }}"
daily_backup_foundryvtt_repo="{{ backup_foundryvtt__repo }}"
daily_backup_foundryvtt_podman_ls_filter="{{ backup_foundryvtt__podman_filter }}"
daily_backup_foundryvtt_exclude="{{ '--exclude ' + backup_foundryvtt__exclude | join(' --exclude ') if backup_foundryvtt__exclude | length > 0 }}"
daily_backup_foundryvtt_keep_days="{{ backup_foundryvtt__keep_days }}"
