{
    "mqtt_user": "{{ smarthome_knx2mqtt__mqtt_user }}",
    "mqtt_password": "{{ smarthome_knx2mqtt__mqtt_password }}",
    "mqtt_host": "{{ smarthome_knx2mqtt__mqtt_host }}",
    "mqtt_port": "{{ smarthome_knx2mqtt__mqtt_port }}",
    "mqtt_clientid": "{{ smarthome_knx2mqtt__mqtt_clientid }}",
    "mqtt_topic": "{{ smarthome_knx2mqtt__mqtt_topic }}",
    "mqtt_tls_version": "{{ smarthome_knx2mqtt__mqtt_tls_version }}",
    "mqtt_verify_mode": "{{ smarthome_knx2mqtt__mqtt_verify_mode }}",
    "knx_host": "{{ smarthome_knx2mqtt__knx_host }}",
    "knx_port": "{{ smarthome_knx2mqtt__knx_port }}",
    {{ '"knx_local_ip": "'  + smarthome_knx2mqtt__knx_local_ip + '",' if smarthome_knx2mqtt__knx_local_ip | length > 0 }}
    "knx_individual_address": "{{ smarthome_knx2mqtt__knx_individual_address }}",
    "knx_no_queue": "{{ smarthome_knx2mqtt__knx_no_queue | ternary('true', 'false') }}",
    "items": {{ smarthome_knx2mqtt__items | to_json(indent=4) }}
}
