#
# {{ ansible_managed }}
#

## custom configuration file based on https://github.com/just-containers/mariadb/blob/master/rootfs/etc/mysql/my.cnf
## please be aware that changing options here may break things
#
# The MySQL database server configuration file.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# especially if they contain "#" chars...
[client]
port            = {{ database_mariadb__port }}
socket          = {{ database_mariadb__socket }}

default-character-set = {{ database_mariadb__default_character_set }}

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket          = {{ database_mariadb__socket }}
nice            = {{ database_mariadb__nice }}

[mysqld]
#
# * Basic Settings
#
user            = {{ database_mariadb__user }}
pid-file        = {{ database_mariadb__pid_file }}
socket          = {{ database_mariadb__socket }}
port            = {{ database_mariadb__port }}
basedir         = {{ database_mariadb__base_dir }}
datadir         = {{ database_mariadb__data_dir }}
tmpdir          = {{ database_mariadb__tmp_dir }}
lc_messages_dir = {{ database_mariadb__lc_messages_dir }}
lc_messages     = {{ database_mariadb__lc_messages }}
{{ 'skip-external-locking' if database_mariadb__skip_external_locking else '#skip-external-locking' }}
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address           = {{ database_mariadb__bind_address }}
#
# * Fine Tuning
#
key_buffer_size         = {{ database_mariadb__key_buffer_size }}
max_connections         = {{ database_mariadb__max_connections }}
connect_timeout         = {{ database_mariadb__connect_timeout }}
wait_timeout            = {{ database_mariadb__wait_timeout }}
max_allowed_packet      = {{ database_mariadb__max_allowed_packet }}
thread_cache_size       = {{ database_mariadb__thread_cache_size }}
thread_stack            = {{ database_mariadb__thread_stack }}
sort_buffer_size        = {{ database_mariadb__sort_buffer_size }}
bulk_insert_buffer_size = {{ database_mariadb__bulk_insert_buffer_size }}
tmp_table_size          = {{ database_mariadb__tmp_table_size }}
max_heap_table_size     = {{ database_mariadb__max_heap_table_size }}

performance_schema = {{ database_mariadb__performance_schema | ternary('on','off') }}
character_set_server    = {{ database_mariadb__character_set_server }}
collation_server        = {{ database_mariadb__collation_server }}
transaction_isolation   = {{ database_mariadb__transaction_isolation }}
binlog_format           = {{ database_mariadb__binlog_format }}

#
# * MyISAM
#
# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched. On error, make copy and try a repair.
myisam-recover-options  = {{ database_mariadb__myisam_recover_options }}
open-files-limit        = {{ database_mariadb__open_files_limit }}
table_open_cache        = {{ database_mariadb__table_open_cache }}
table_cache             = {{ database_mariadb__table_cache }}
thread_concurrency      = {{ database_mariadb__thread_concurrency }}
myisam_sort_buffer_size = {{ database_mariadb__myisam_sort_buffer_size }}
concurrent_insert       = {{ database_mariadb__concurrent_insert }}
read_buffer_size        = {{ database_mariadb__read_buffer_size }}
read_rnd_buffer_size    = {{ database_mariadb__read_rnd_buffer_size }}

#
# * Query Cache Configuration
#
# Cache only tiny result sets, so we can fit more in the query cache.
query_cache_limit               = {{ database_mariadb__query_cache_limit }}
query_cache_size                = {{ database_mariadb__query_cache_size }}
# for more write intensive setups, set to DEMAND or OFF
query_cache_type                = {{ database_mariadb__query_cache_type }}
#
# * Logging and Replication
#
console                 = {{ database_mariadb__console | ternary(1,0) }}
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# As of 5.1 you can enable the log at runtime!
general_log             = {{ database_mariadb__general_log | ternary(1,0) }}
general_log_file        = {{ database_mariadb__general_log_file }}
#
# Error log - should be very few entries.
#
log_warnings            = {{ database_mariadb__log_warnings }}
# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf
log_error               = {{ database_mariadb__log_error }}
#
# Enable the slow query log to see queries with especially long duration
slow_query_log          = {{ database_mariadb__slow_query_log | ternary(1,0) }}
slow_query_log_file     = {{ database_mariadb__slow_query_log_file }}
long_query_time         = {{ database_mariadb__long_query_time }}
log_slow_rate_limit     = {{ database_mariadb__log_slow_rate_limit }}
{{ 'log-queries-not-using-indexes' if database_mariadb__log_queries_not_using_indexes else '#log-queries-not-using-indexes' }}
{{ 'log_slow_admin_statements' if database_mariadb__log_slow_admin_statements else '#log_slow_admin_statements' }}
#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see
#       https://mariadb.com/kb/en/setting-up-replication/
#       about other settings you may need to change.
#server-id              = 1
#report_host            = master1
#auto_increment_increment = 2
#auto_increment_offset  = 1
log_bin                 = {{ database_mariadb__log_bin }}
log_bin_index           = {{ database_mariadb__log_bin_index }}
# not fab for performance, but safer
#sync_binlog             = 1
#binlog_do_db            = include_database_name
#binlog_ignore_db        = include_database_name
expire_logs_days        = {{ database_mariadb__expire_logs_days }}
max_binlog_size         = {{ database_mariadb__max_binlog_size }}
# slaves
#relay_log              = /config/log/mysql/relay-bin
#relay_log_index        = /config/log/mysql/relay-bin.index
#relay_log_info_file    = /config/log/mysql/relay-bin.info
#log_slave_updates
#read_only
#
# If applications support it, this stricter sql_mode prevents some
# mistakes like inserting invalid dates etc.
sql_mode                = {{ database_mariadb__sql_mode | join(',') }}
#
# * InnoDB
#
# InnoDB is enabled by default with a 10MB datafile in /var/lib/mysql/.
# Read the manual for more InnoDB related options. There are many!
default_storage_engine  = {{ database_mariadb__default_storage_engine }}
# you can't just change log file size, requires special procedure
innodb_log_file_size    = {{ database_mariadb__innodb_log_file_size }}
innodb_buffer_pool_size = {{ database_mariadb__innodb_buffer_pool_size }}
innodb_log_buffer_size  = {{ database_mariadb__innodb_log_buffer_size }}
innodb_file_per_table   = {{ database_mariadb__innodb_file_per_table }}
innodb_open_files       = {{ database_mariadb__innodb_open_files }}
innodb_io_capacity      = {{ database_mariadb__innodb_io_capacity }}
innodb_flush_method     = {{ database_mariadb__innodb_flush_method }}
#
# * Security Features
#
# Read the manual, too, if you want chroot!
# chroot = /var/lib/mysql/
#
# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
#
# ssl-ca=/etc/mysql/cacert.pem
# ssl-cert=/etc/mysql/server-cert.pem
# ssl-key=/etc/mysql/server-key.pem

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completion

[isamchk]
key_buffer         = 16M

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=MIXED
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0
