#
# {{ ansible_managed }}
#

{% if bootstrap_raspberrypi__hdmi_force_hotplug %}
hdmi_force_hotplug=1
{% endif -%}
{% if bootstrap_raspberrypi__hdmi_group | int > 0 %}
hdmi_group={{ bootstrap_raspberrypi__hdmi_group }}
{% endif -%}
{% if bootstrap_raspberrypi__hdmi_mode | int > 0 %}
hdmi_mode={{ bootstrap_raspberrypi__hdmi_mode }}
{% endif -%}

{% if bootstrap_raspberrypi__gpu_mem | int  > 0 %}
gpu_mem={{ bootstrap_raspberrypi__gpu_mem }}
{% endif -%}
dtparam=i2c_arm={{ bootstrap_raspberrypi__dtparam_i2c_arm | ternary('on', 'off')  }}
dtparam=i2s={{ bootstrap_raspberrypi__dtparam_i2s | ternary('on', 'off') }}
dtparam=spi={{ bootstrap_raspberrypi__dtparam_spi | ternary('on', 'off') }}
dtparam=audio={{ bootstrap_raspberrypi__dtparam_audio | ternary('on', 'off') }}
{% if bootstrap_raspberrypi__dtparams | length > 0 %}

{%   for dtparam in bootstrap_raspberrypi__dtparams %}
{%     if dtparam.comment is defined %}
# {{ dtparam.comment }}
{%     endif -%}
dtparam={{ dtparam.value }}
{%   endfor -%}
{% endif -%}
{% if bootstrap_raspberrypi__dtoverlays | length > 0 %}

{%   for dtoverlay in bootstrap_raspberrypi__dtoverlays %}
{%     if dtoverlay.comment is defined %}
# {{ dtoverlay.comment }}
{%     endif -%}
dtoverlay={{ dtoverlay.value }}
{%   endfor -%}
{% endif -%}
