###
### {{ ansible_managed }}
###

defaults

account default
host {{ app_voting_system__mail_host }}
port {{ app_voting_system__mail_port }}
tls {{ app_voting_system__mail_tls | ternary('on', 'off') }}
tls_starttls {{ app_voting_system__mail_starttls | ternary('on', 'off') }}
{% if app_voting_system__mail_auth %}
auth on
user {{ app_voting_system__mail_user }}
password {{ app_voting_system__mail_password }}
{% endif %}
from {{ app_voting_system__mail_from }}
