###
### {{ ansible_managed }}
###

daily_backup_gitlab_enable="YES"
{% if backup_gitlab__container | length > 0 %}
daily_backup_gitlab_container="{{ backup_gitlab__container }}"
{% endif %}
{% if backup_gitlab__container_name | length > 0 %}
daily_backup_gitlab_container_name="{{ backup_gitlab__container_name }}"
{% endif %}
{% if backup_gitlab__options | length > 0 %}
daily_backup_gitlab_options="{{ backup_gitlab__options }}"
{% endif %}
