###
### {{ ansible_managed }}
###

AliasMatch /.well-known/acme-challenge/(.*)$ {{ webserver_apache__acme_root_dir }}/$1
<directory {{ webserver_apache__acme_root_dir }}>
    AllowOverride None
    Require all granted
</directory>
