###
### {{ ansible_managed }}
###

# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ webserver_apache__http_port }}

<IfModule ssl_module>
	Listen {{ webserver_apache__https_port }}
</IfModule>

<IfModule mod_gnutls.c>
	Listen {{ webserver_apache__https_port }}
</IfModule>
