###
### {{ ansible_managed }}
###

[icingaweb2]
user_class = "{{ monitoring_icinga_web__authentication_user_class }}"
filter = "{{ monitoring_icinga_web__authentication_filter }}"
user_name_attribute = "{{ monitoring_icinga_web__authentication_user_name_attribute }}"
backend = "{{ monitoring_icinga_web__authentication_backend }}"
base_dn = "{{ monitoring_icinga_web__authentication_user_base_dn }}"
domain = "{{ monitoring_icinga_web__authentication_domain }}"
resource = "{{ monitoring_icinga_web__authentication_resource }}"
