###
### {{ ansible_managed }}
###

[icingaweb2]
{%  if monitoring_icinga_web__authentication_backend == 'ldap' %}
user_class = "{{ monitoring_icinga_web__authentication_user_class }}"
filter = "{{ monitoring_icinga_web__authentication_filter }}"
user_name_attribute = "{{ monitoring_icinga_web__authentication_user_name_attribute }}"
base_dn = "{{ monitoring_icinga_web__authentication_user_base_dn }}"
domain = "{{ monitoring_icinga_web__authentication_domain }}"
{% endif %}
backend = "{{ monitoring_icinga_web__authentication_backend }}"
resource = "{{ monitoring_icinga_web__authentication_resource }}"
