###
### {{ ansible_managed }}
###

[global]
show_stacktraces = "{{ monitoring_icinga_web__show_stacktraces | ternary(1, 0) }}"
show_application_state_messages = "{{ monitoring_icinga_web__show_state_messages | ternary(1, 0) }}"
config_resource = "{{ monitoring_icinga_web__config_resource }}"

[logging]
log = "{{ monitoring_icinga_web__log }}"
level = "{{ monitoring_icinga_web__log_level }}"
application = "{{ monitoring_icinga_web__log_application }}"
facility = "{{ monitoring_icinga_web__log_facility }}"
