###
### {{ ansible_managed }}
###

[icingaweb2]
{%  if monitoring_icinga_web__authentication_backend == 'ldap' %}
group_class = "{{ monitoring_icinga_web__authentication_group_class }}"
group_name_attribute = "{{ monitoring_icinga_web__authentication_group_name_attribute }}"
group_member_attribute = "{{ monitoring_icinga_web__authentication_group_member_attribute }}"
base_dn = "{{ monitoring_icinga_web__authentication_group_base_dn }}"
user_backend = "icingaweb2"
{% endif %}
backend = "{{ monitoring_icinga_web__authentication_backend }}"
resource = "{{ monitoring_icinga_web__authentication_resource }}"
