###
### {{ ansible_managed }}
###

[icingaweb2]
resource = "{{ monitoring_icinga_web__authentication_resource }}"
user_backend = "icingaweb2"
group_class = "{{ monitoring_icinga_web__authentication_group_class }}"
group_name_attribute = "{{ monitoring_icinga_web__authentication_group_name_attribute }}"
group_member_attribute = "{{ monitoring_icinga_web__authentication_group_member_attribute }}"
base_dn = "{{ monitoring_icinga_web__authentication_group_base_dn }}"
backend = "{{ monitoring_icinga_web__authentication_backend }}"
