###
### {{ ansible_managed }}
###

{% for backends in monitoring_icinga_web__monitoring_backends %}
[{{ backends.name }}]
type = "{{ backends.type }}"
resource = "{{ backends.resource }}"

{% endfor %}
