###
### {{ ansible_managed }}
###

{% for ct in monitoring_icinga_web__monitoring_commandtransports %}
[{{ ct.name }}]
transport = "{{ ct.transport }}"
host = "{{ ct.host }}"
port = "{{ ct.port }}"
username = "{{ ct.username }}"
password = "{{ ct.password }}"

{% endfor %}
