###
### {{ ansible_managed }}
###

{% for resource in monitoring_icinga_web__resources %}
[{{ resource.name }}]
type = "{{ resource.type }}"
{%   if resource.db is defined %}
db = "{{ resource.db }}"
{% endif %}
{%   if resource.host is defined %}
host = "{{ resource.host }}"
{% endif %}
{%   if resource.dbname is defined %}
dbname = "{{ resource.dbname }}"
{% endif %}
{%   if resource.username is defined %}
username = "{{ resource.username }}"
{% endif %}
{%   if resource.password is defined %}
password = "{{ resource.password }}"
{% endif %}
{%   if resource.use_ssl is defined %}
use_ssl = "{{ resource.use_ssl | ternary(1, 0) }}"
{% endif %}
{%   if resource.hostname is defined %}
hostname = "{{ resource.hostname }}"
{% endif %}
{%   if resource.port is defined %}
port = "{{ resource.port }}"
{% endif %}
{%   if resource.encryption is defined %}
encryption = "{{ resource.encryption }}"
{% endif %}
{%   if resource.root_dn is defined %}
root_dn = "{{ resource.root_dn }}"
{% endif %}
{%   if resource.timeout is defined %}
timeout = "{{ resource.timeout }}"
{% endif %}

{% endfor %}
