###
### {{ ansible_managed }}
###

{% for role in monitoring_icinga_web__roles %}
[{{ role.name }}]
users = "{{ role.users | mandatory | join(', ') }}"
permissions = "{{ role.permissions | mandatory | join(', ') }}"

{% endfor %}