###
### {{ ansible_managed }}
###

{% if item.comment | length > 0 %}
# {{ item.comment }}
{% endif %}

[Definition]
datepattern = {{ item.datepattern }}
failregex = {{ item.failregex | indent(12) }}
mode = normal
ignoreregex = {{ item.ignoreregex }}
maxlines = 1
