###
### {{ ansible_managed }}
###

[DEFAULT]
ignoreip = {{ security__fail2ban_ignoreip | join(' ') }}
bantime  = {{ security__fail2ban_bantime }}
findtime  = {{ security__fail2ban_findtime }}
maxretry = {{ security__fail2ban_maxretry }}
