<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!--
###
### {{ ansible_managed }}
###
-->

{% if service_group.comment | default('') | length > 0 %}
{{ service_group.comment | comment(style='xml') }}

{% endif %}
<service-group>

  <name replace-wildcards="{{ service_group.replace_wildcards | default(true) | ternary('yes', 'no') }}">{{ service_group.name | default('%h') }}</name>

  <service>
    <type>{{ service_group.type }}</type>
{% if service_group.subtype | default('') | length > 0 %}
    <subtype>{{ service_group.subtype }}</subtype>
{% endif %}
{% if service_group.port is defined %}
    <port>{{ service_group.port }}</port>
{% endif %}
{% if service_group.txt is defined %}

{%   if service_group.txt is string %}
    <txt-record>{{ service_group.txt }}</txt-record>
{%   else %}
{%     for txt in service_group.txt %}
    <txt-record>{{ txt }}</txt-record>
{%     endfor %}
{%   endif %}

{% endif %}
  </service>

</service-group>
