###
### {{ ansible_managed }}
###

# The address to send scanned mail to. 
# This option is required unless TransparentProxy is enabled
OutAddress: {{ clamav__clamsmtpd_out_address }}

# The maximum number of connection allowed at once.
# Be sure that clamd can also handle this many connections
MaxConnections: {{ clamav__clamsmtpd_max_connections }}

# Amount of time (in seconds) to wait on network IO
TimeOut: {{ clamav__clamsmtpd_timeout }}

# Address to listen on (defaults to all local addresses on port 10025)
Listen: {{ clamav__clamsmtpd_listen }}

# The address clamd is listening on
ClamAddress: {{ clamav__clamsmtpd_clam_address }}

# A header to add to all scanned email
Header: {{ clamav__clamsmtpd_header }}

# Directory for temporary files
TempDirectory: {{ clamav__clamsmtpd_temp_directory }}

# PidFile: location of PID file
PidFile: {{ clamav__clamsmtpd_pid_file }}

# Whether or not to bounce email (default is to silently drop)
Bounce: {{ clamav__clamsmtpd_bounce | ternary('on', 'off') }}

# Whether or not to keep virus files 
Quarantine: {{ clamav__clamsmtpd_quarantine | ternary('on', 'off') }}

# Enable transparent proxy support 
TransparentProxy: {{ clamav__clamsmtpd_transparent_proxy | ternary('on', 'off') }}

# User to run as
User: {{ clamav__clamsmtpd_user }}
