###
### {{ ansible_managed }}
###

{% if mirror__enable %}
daily_mirror_enable="YES"
daily_mirror_install_dir="{{ mirror__install_dir }}"
daily_mirror_logfile="{{ mirror__logfile }}"
daily_mirror_error_logfile="{{ mirror__error_logfile }}"

{% if mirror__apt_mirror_enable %}
daily_mirror_apt_enable="YES"
{% endif %}
{% endif %}
