api:
  dashboard: {{ webserver_traefik__api_dashboard | ternary('true', 'false') }}
  insecure: {{ webserver_traefik__api_insecure | ternary('true', 'false') }}
  debug: {{ webserver_traefik__api_debug | ternary('true', 'false') }}

entryPoints:
  web:
    address: ":{{ webserver_traefik__entrypoint_web_port }}"
{% if webserver_traefik__entrypoint_web_redirect_to_https %}
    http:
      redirections:
        entryPoint:
          to: "websecure"
          scheme: "https"
{% endif %}
  websecure:
    address: ":{{ webserver_traefik__entrypoint_websecure_port }}"

serversTransport:
  insecureSkipVerify: {{ webserver_traefik__serverstransport_insecure_skip_verify | ternary('true', 'false') }}

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ webserver_traefik__letsencrypt_email }}"
      storage: "/etc/traefik/acme.json"
      httpChallenge:
        entryPoint: "web"

log:
  level: "{{ webserver_traefik__log_level }}"

providers:
{% if webserver_traefik__providers_docker %}
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
{% endif %}
