/**
 * {{ ansible_managed }}
 */
{% import 'macros.j2' as macros %}

{% for name, object in objects.items() %}
{%   if object.doc is defined %}
{{ object.doc | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%   endif %}
{%-  if object.for is defined %}
apply {{ object.class if object.class is defined else type }} "{{ name }}-" for {{ object.for }} {{ macros.print(object) }}
{%-  elif object.to is defined %}
apply {{ object.class if object.class is defined else type }} "{{ name }}" to {{ object.to }} {{ macros.print(object) }}
{%-  else %}
apply {{ object.class if object.class is defined else type }} "{{ name }}" {{ macros.print(object) }}
{%-  endif %}

{% endfor %}
