{% macro mapdict(key, dictionary) %}
{%- if dictionary.add is defined %}
{{ printkey(key) }} += {
{{ iteratedict(dictionary.add) }}
{%- else %}
{{ printkey(key) }} = {
{{ iteratedict(dictionary) }}
{%- endif %}
}
{% endmacro %}

{% macro iteratedict(dictionary) %}
{% for i, w in dictionary.items() %}
{%- if w is mapping %}
{{ mapdict(i,w) | indent(width=2, first=true) }}
{%- else %}
{{ printvalue(i,w) | indent(width=2, first=true) }}
{% endif %}
{% endfor %}
{% endmacro %}

{% macro printvalue(key, value) %}
{%- if value is boolean %}
{{ printkey(key) }} = {{ value | lower }}
{%- elif value is match('^\d+(ms|s|m|h|d)?$') %}
{{ printkey(key) }} = {{ value }}
{%- elif value is iterable and value is not string %}
{{ printkey(key) }} = [ "{{ value | join('", "') }}" ]
{%- elif value is string and value is match('^\[.*\]$') %}
{{ printkey(key) }} = {{ value }}
{%- else %}
{{ printkey(key) }} = "{{ value }}"
{%- endif %}
{% endmacro %}

{% macro printkey(key) %}
{{ '"'+key+'"' if key is match('^-.*$') else key -}}
{% endmacro %}
