/**
 * {{ ansible_managed }}
 */
{% import 'macros.j2' as macros %}

{% for name, object in objects.items() %}
{%   if object.doc is defined %}
{{ object.doc | comment(style='plain', decoration=' * ', prefix='/**', postfix=' */') }}
{%   endif %}
{{ object.type | default('object') }} {{ object.class if object.class is defined else type }} "{{ name }}" {{ macros.print(object) }}
{% endfor %}
