###
### {{ ansible_managed }}
###

daily_backup_restic_enable="YES"
daily_backup_restic_pass_enable="{{ backup_restic__pass_enable | ternary('YES', 'NO')}}"
daily_backup_restic_pass_command="{{ backup_restic__pass_command }}"
daily_backup_restic_repository="{{ backup_restic__repository }}"
{% if backup_restic__cache_dir | length > 0 %}
daily_backup_restic_cache_dir="{{ backup_restic__cache_dir }}"
{% endif %}
{% if backup_restic__ssh %}
daily_backup_restic_backend="SSH"
daily_backup_restic_sftp_command="{{ backup_restic__sftp_command }}"
{% elif backup_restic__rest %}
daily_backup_restic_backend="REST"
{% endif %}
daily_backup_restic_options="{{ backup_restic__options }}"
{% if backup_restic__exclude | length > 0 %}
daily_backup_restic_exclude="{{ backup_restic__exclude | join(' ') }}"
{% endif %}
