###
### {{ ansible_managed }}
###

api={{ powerdns__config_api | ternary('yes', 'no') }}
{{ '# ' if powerdns__config_api_key | length == 0 }}api-key={{ powerdns__config_api_key }}
{{ '# ' if powerdns__config_default_soa_mail | length == 0 }}default-soa-mail={{ powerdns__config_default_soa_mail }}
{{ '# ' if powerdns__config_default_soa_name | length == 0 }}default-soa-name={{ powerdns__config_default_soa_name }}

include-dir=/etc/powerdns/pdns.d

launch={{ powerdns__config_launch | join(',') }}

local-address={{ powerdns__config_local_address }}
local-ipv6={{ powerdns__config_local_ipv6 }}

security-poll-suffix={{ powerdns__config_security_poll_suffix }}
setgid={{ powerdns__config_setgid }}
setuid={{ powerdns__config_setuid }}

webserver={{ powerdns__config_webserver | ternary('yes', 'no') }}
webserver-address={{ powerdns__config_webserver_address }}
webserver-allow-from={{ powerdns__config_webserver_allow_from | join(',') }}
{{ '# ' if powerdns__config_webserver_password | length == 0 }}webserver-password={{ powerdns__config_webserver_password }}
webserver-port={{ powerdns__config_webserver_port }}
