/*
 *
 * {{ ansible_managed }}
 *
 */

object CheckCommand "container-stats-podman" {
	command = [ PluginLocalDir + "/check_container_stats_docker.py" ]

	arguments = {
		"-c" = {
            required = true
			value = "$container_name$"
			description = "Name of the Container which should be checked"
		}
		"-t" = {
			value = "$container_timeout$"
			description = "Timeout in seconds. Default: 10"
		}
		"-s" = {
			value = "$container_socket$"
			description = "Path to Docker socket, sets environment variable DOCKER_HOST. Default: unix:///var/run/docker.sock"
		}
		"--wildcard" = {
			set_if = "$container_wildcard$"
			description = "'-c' is a wildcard, not an exact match"
		}
		"--cpuwarn" = {
			value = "$container_cpuwarn$"
			description = "Warning threshold for CPU usage (in %)"
		}
		"--cpucrit" = {
			value = "$container_cpucrit$"
			description = "Critical threshold for CPU usage (in %)"
		}
		"--memwarn" = {
			value = "$container_memwarn$"
			description = "Warning threshold for memory usage (in Bytes)"
		}
		"--memcrit" = {
			value = "$container_memcrit$"
			description = "Critical threshold for memory usage (in Bytes)"
		}
		"--pidwarn" = {
			value = "$container_pidwarn$"
			description = "Warning threshold for number of processes in container"
		}
		"--pidcrit" = {
			value = "$container_pidcrit$"
			description = "Critical threshold for number of processes in container"
		}
    }

    vars.container_wildcard = false
}

object CheckCommand "sudo-container-stats-podman" {
	command = [ "sudo", PluginLocalDir + "/check_container_stats_docker.py" ]

	arguments = {
		"-c" = {
            required = true
			value = "$container_name$"
			description = "Name of the Container which should be checked"
		}
		"-t" = {
			value = "$container_timeout$"
			description = "Timeout in seconds. Default: 10"
		}
		"-s" = {
			value = "$container_socket$"
			description = "Path to Docker socket, sets environment variable DOCKER_HOST. Default: unix:///var/run/docker.sock"
		}
		"--wildcard" = {
			set_if = "$container_wildcard$"
			description = "'-c' is a wildcard, not an exact match"
		}
		"--cpuwarn" = {
			value = "$container_cpuwarn$"
			description = "Warning threshold for CPU usage (in %)"
		}
		"--cpucrit" = {
			value = "$container_cpucrit$"
			description = "Critical threshold for CPU usage (in %)"
		}
		"--memwarn" = {
			value = "$container_memwarn$"
			description = "Warning threshold for memory usage (in Bytes)"
		}
		"--memcrit" = {
			value = "$container_memcrit$"
			description = "Critical threshold for memory usage (in Bytes)"
		}
		"--pidwarn" = {
			value = "$container_pidwarn$"
			description = "Warning threshold for number of processes in container"
		}
		"--pidcrit" = {
			value = "$container_pidcrit$"
			description = "Critical threshold for number of processes in container"
		}
    }

    vars.container_wildcard = false
}
