/*
 *
 * {{ ansible_managed }}
 *
 */

{% for endpoint in monitoring_icinga_config__endpoints %}
object Endpoint {{ endpoint.name }} {
{% if endpoint.host is defined %}
  host = {{ endpoint.host }}
{%  endif %}
{% if endpoint.log_duration is defined %}
  log_duration = {{ endpoint.log_duration }}
{%  endif %}
}

{% endfor %}
