/**
 *
 * {{ ansible_managed }}
 *
 */

/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

object Influxdb2Writer "influxdb2" {
  host = "{{ monitoring_icinga_config__influxdb_host }}"
  port = {{ monitoring_icinga_config__influxdb_port }}
  organization = "{{ monitoring_icinga_config__influxdb_organization }}"
  bucket = "{{ monitoring_icinga_config__influxdb_bucket }}"
  auth_token = "{{ monitoring_icinga_config__influxdb_token }}"

{% if monitoring_icinga_config__influxdb_thresholds  %}
  enable_send_thresholds = true
{% endif %}
{% if monitoring_icinga_config__influxdb_metadata  %}
  enable_send_metadata = true
{% endif %}

  flush_threshold = 1024
  flush_interval = 10s

  host_template = {
    measurement = "$host.check_command$"
    tags = {
      hostname = "$host.name$"
    }
  }
  service_template = {
    measurement = "$service.check_command$"
    tags = {
      hostname = "$host.name$"
      service = "$service.name$"
    }
  }
}
