/*
 *
 * {{ ansible_managed }}
 *
 */

object NotificationCommand "rocketchat" {
    command = [ PluginLocalDir + "/notify_rocketchat" ]

    arguments = {
        "-icinga.timet" = "$icinga.timet$"
        "-host.name" = "$host.name$"
        "-host.display_name" = "$host.display_name$"
        "-host.action_url" = "$rocketchat_host_action_url$"
        "-host.state" = "$host.state$"
        "-host.output" = "$host.output$"
        "-service.name" = "$service.name$"
        "-service.display_name" = "$service.display_name$"
        "-service.action_url" = "$rocketchat_service_action_url$"
        "-service.state" = "$service.state$"
        "-service.output" = "$service.output$"
    }

    env = {
        "ROCKETCHAT_WEBHOOK_URL" = "$rocketchat_webhook_url$"
    }

    vars.rocketchat_host_action_url = "$host.action_url$"
    vars.rocketchat_service_action_url = "$service.action_url$"
}
