/*
 *
 * {{ ansible_managed }}
 *
 */

{% for group in monitoring_icinga_config__user_groups %}
object UserGroup "{{ group.name }}" {
{%   if 'display_name' in group %}
  display_name = "{{ group.display_name }}"
{%   endif %}
}

{% endfor %}
