/*
 *
 * {{ ansible_managed }}
 *
 */

{% for zone in monitoring_icinga_config__zones %}
object Zone {{ zone.name }} {
{% if zone.endpoints | default([]) | length > 0 %}
  endpoints = [ {{ zone.endpoints | join(', ') }} ]
{%  endif %}
{% if zone.global is defined %}
  global = {{ zone.global | ternary('true', 'false') }}
{%  endif %}
{% if zone.parent is defined %}
  parent = {{ zone.parent }}
{%  endif %}
}

{% endfor %}
