{
    "verbosity": {{ smarthome_vzlogger__verbosity }},
    "retry": {{ smarthome_vzlogger__retry }},
{% if smarthome_vzlogger__http %}
    "local": {
        "enabled": true,
        "port": {{ smarthome_vzlogger__http_port }},
        "index": {{ smarthome_vzlogger__http_index | ternary('true', 'false') }},
        "timeout": 30,
        "buffer": -1
    },
{% endif %}
{% if smarthome_vzlogger__http %}
    "mqtt": {
        "enabled": true,
        "host": "{{ smarthome_vzlogger__mqtt_host }}",
        "port": {{ smarthome_vzlogger__mqtt_port }},
{{ '        "cafile": "' + smarthome_vzlogger__mqtt_cafile + '",' if smarthome_vzlogger__mqtt_cafile | length > 0}}
{{ '        "capath": "' + smarthome_vzlogger__mqtt_capath + '",' if smarthome_vzlogger__mqtt_capath | length > 0}}
{{ '        "certfile": "' + smarthome_vzlogger__mqtt_certfile + '",' if smarthome_vzlogger__mqtt_certfile | length > 0}}
{{ '        "keyfile": "' + smarthome_vzlogger__mqtt_keyfile + '",' if smarthome_vzlogger__mqtt_keyfile | length > 0}}
{{ '        "keypass": "' + smarthome_vzlogger__mqtt_keypass + '",' if smarthome_vzlogger__mqtt_keypass | length > 0}}
        "keepalive": {{ smarthome_vzlogger__mqtt_keepalive }},
        "topic": "{{ smarthome_vzlogger__mqtt_topic }}",
{{ '        "id": "' + smarthome_vzlogger__mqtt_clientid + '",' if smarthome_vzlogger__mqtt_clientid | length > 0}}
        "user": "{{ smarthome_vzlogger__mqtt_user }}",
        "pass": "{{ smarthome_vzlogger__mqtt_password }}",
        "retain": {{ smarthome_vzlogger__mqtt_retain | ternary('true', 'false') }},
        "rawAndAgg": {{ smarthome_vzlogger__mqtt_raw_and_agg | ternary('true', 'false') }},
        "qos": {{ smarthome_vzlogger__mqtt_qos }},
        "timestamp": {{ smarthome_vzlogger__mqtt_timestamp | ternary('true', 'false') }}
    },
{% endif %}
    "meters": {{ smarthome_vzlogger__meters | to_json(indent=4) }}
}
